<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= typeof pagetitle === 'undefined' ? 'SDPI Repair' : pagetitle + ' | SDPI Repair'  %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="/angular/libraries/angucomplete-alt-master/angucomplete-alt.css" />
    <link rel="stylesheet" href="/css/bootstrap-horizon.css" />
    <link rel="stylesheet" href="/css/extra-button-styles.css" />
    <link rel="stylesheet" href="/css/custom.min.css" />
    <link rel="stylesheet" href="/css/custom-sdpi.css" />
    <link rel="stylesheet" href="/css/btn-dave.css" />
    <link rel="stylesheet" href="/css/style-3d.css" />
    <link rel="stylesheet" href="/css/clearout-legend.css" />
    <link rel="stylesheet" href="/css/clearout-print.css" />

    <link rel="stylesheet" href="/css/angular-animation.css" />
    <!-- Toastr -->
    <link href="/toastr-master/build/toastr.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=1">
    <link rel="manifest" href="/icons/manifest.json?v=1">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico?v=1">
    <meta name="msapplication-config" content="/icons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#ffffff">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background: url('/images/preloader.gif') 50% 50% no-repeat rgb(250, 250, 250);
        }
    </style>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery.mobile.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut("slow");
            }, 1000);
        })
    </script>

	<script>
		globalOverrideBaseUrl = '<%= sails.config.baseUrl %>';
		globalOverrideBrainBaseUrl = '<%= sails.config.brainBaseUrl %>';
	</script>

</head>

<body class="no-padding">
    <div class="loader"></div>
    <div class="fluid-container">
        <!-- Misc -->
        <script src="/js/underscore.min.js"></script>
        <script src="/js/sprintf.js"></script>

        <!-- Angular stuff-->
        <script src="/angular/libraries/angular.min.js"></script>
        <script src="/angular/libraries/angular-route.js"></script>
        <script src="/angular/libraries/angucomplete-alt-master/angucomplete-alt.js"></script>
        <script src="/angular/libraries/angular-animate.min.js"></script>
        <script src="/angular/libraries/angular-idle.min.js"></script>
        <script src="/angular/libraries/angular-filter.min.js"></script>

        <!-- Toastr -->
        <script src="/toastr-master/build/toastr.min.js"></script>
        <script src="/js/html2canvas.js"></script>
        <%- body %>
    </div>

    <!-- Global JS -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
