<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= typeof pagetitle === 'undefined' ? 'SDPI Repair' : pagetitle + ' | SDPI Repair'  %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="/angular/libraries/angucomplete-alt-master/angucomplete-alt.css" />
    <link rel="stylesheet" href="/css/bootstrap-horizon.css" />
    <link rel="stylesheet" href="/css/extra-button-styles.css" />
    <link rel="stylesheet" href="/css/custom.min.css" />
    <link rel="stylesheet" href="/css/custom-sdpi.css" />
    <link rel="stylesheet" href="/css/btn-dave.css" />
    <!-- Toastr -->
    <link href="/toastr-master/build/toastr.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ICONS -->

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=3">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=3">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=3">
	<link rel="manifest" href="/icons/site.webmanifest?v=3">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=3" color="#351c99">
	<link rel="shortcut icon" href="/icons/favicon.ico?v=3">
	<meta name="apple-mobile-web-app-title" content="Chuck 3.0">
	<meta name="application-name" content="Chuck 3.0">
	<meta name="msapplication-TileColor" content="#351c99">
	<meta name="theme-color" content="#351c99">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background: url('/images/preloader.gif') 50% 50% no-repeat rgb(250, 250, 250);
        }
    </style>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut("slow");
            }, 1000);
        })
    </script>

	<script>
		globalOverrideBaseUrl = '<%= sails.config.baseUrl %>';
		globalOverrideBrainBaseUrl = '<%= sails.config.brainBaseUrl %>';
	</script>

</head>

<body class="no-padding">
    <div class="loader"></div>
    <div class="fluid-container">
        <%- body %>
    </div>

    <!-- Global JS -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
