<div id="GlobalContainer" class="col-xs-12" data-ng-app="app" data-ng-controller="NgGlobalController">
	<shortcut></shortcut>
	<div data-ng-show="isLoading() || continueLoading" class="loading-overlay animate-show-hide">
		<i class="fa fa-circle-o-notch fa-spin"></i>
		<br/>
		<span style="font-size:.3em">Loading...</span>
	</div>

	<div class="{{blur ? 'blur-it' : ''}}">

		<!-- MODAL: modalSetLotNumbers -->
		<div id="modalSetLotNumbers" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><strong>{{activeCutter.cutterName}}</strong> Lot Numbers <a
								href="javascript:void(0)"
								data-ng-click="showCompatibleCutters(activeCutter, null, null, 'modalSelectActiveCutter', 'as a replacement', 'pullCuttersReplacement')"
								class="btn btn-sm btn-link btn-default toggle-hide"
								style="text-align:right;float: right;" data-ng-show="showCompatibleCuttersInKiln">
								<i class="fa fa-exclamation-circle"></i>
							</a></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12 mb-md">
								<div class="col-sm-5 col-md-5">
									<label>Lot Number</label>
									<input id="lotNumberField" class="form-control" type="text"
										   data-ng-model="currentLot.lotNumber"
										   data-ng-keydown="$event.keyCode === 13 ? addSaveLot(activeCutter, currentLot) : null"
										   placeholder="Lot Number">
								</div>
								<div class="col-sm-2 col-md-4">
									<label>Qty</label>
									<input class="form-control" type="number" data-ng-model="currentLot.qty" min="0"
										   placeholder="Qty">
									<span style="color:red; float:right"
										  data-ng-show="activeCutter.totalPulled + currentLot.qty > activeCutter.count"><i
											class="fa fa-exclamation-circle"></i> {{activeCutter.totalPulled + currentLot.qty - activeCutter.count}} over the limit</span>
								</div>
								<div class="col-sm-5 col-md-3" data-ng-show="currentLot.lotNumber">
									<label>Reclaim?</label><br>
									<label class="col-xs-3 text-right" style="margin-right: 5px">No</label>
									<label class="switch col-xs-6">
										<input type="checkbox" data-ng-model="currentLot.isReclaim">
										<div class="slider"></div>
									</label>
									<label class="col-xs-3">Yes</label>
								</div>
							</div>
							<div class="col-xs-12 mb-md">
								<div class="col-xs-12 current-lot-container mb-sm" data-ng-repeat="lot in activeCutter.lots">
									<span style="margin-right:10px"><strong>LOT {{lot.lotNumber}}</strong></span>
									<span class="text-info"><strong>{{lot.items ? 'QTY: ' + lot.items.length : (lot.qty ? 'QTY: ' + lot.qty : '')}}</strong></span>
									<span><a href="javascript:void(0)" data-ng-click="removeLot(lot, activeCutter)" style="padding:5px 10px"><i class="fa fa-times"></i></a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" data-ng-click="addSaveLot(activeCutter, currentLot)"
							   class="btn btn-success btn-lg" value="Add" data-ng-show="currentLot.qty">
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: modalSetOnHoldAndComments -->
		<div id="modalSetOnHoldAndComments" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>HOLD Tool/Repair <strong>{{currentToolRepair.serial}}</strong></h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-12 mb-md">
									<label>Tool on hold?</label><br>
									<div class="col-xs-12">
										<label class="col-xs-3 text-right" style="margin-right: 5px">No</label>
										<label class="switch col-xs-3">
											<input id="onHoldCheckBox" type="checkbox"
												   data-ng-model="currentToolRepair.onHold">
											<div class="slider"></div>
										</label>
										<label class="col-xs-3 text-left">Yes</label>
									</div>
								</div>
								<div class="col-xs-12" data-ng-show="currentToolRepair.onHold">
									<label>Holding Comments</label>
									<textarea class="form-control" rows="5" type="text"
											  data-ng-model="currentToolRepair.holdComments"
											  placeholder="Holding Comments...">
								</textarea>
								</div>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-minimal btn-lg" data-dismiss="modal">Close
						</button>
						<button type="button" data-ng-click="holdRepair(null, currentToolRepair)"
								class="btn btn-success btn-lg">Update Hold Status
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Manager logout -->
		<div id="modalManagerLogout" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2><%= typeof manager !== 'undefined' ? manager.nameFirst + ' ' + manager.nameLast + ', ' : '' %>
							logging out? </h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-12 col-sm-3">
									<h3>Enter Password</h3>
								</div>
								<div class="col-xs-12 col-sm-9">
									<input type="password" class="form-control input-lg" data-ng-model="managerPassword"
										   data-ng-keyup="$event.keyCode == 13 && managerLogout(managerPassword)"/>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-12 text-right">
									<a class="btn btn-info btn-lg" data-ng-click="managerLogout(managerPassword)">Yes,
										Logout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Manager Tool Locator Access -->
		<div id="modalManagerToolLocatorAccess" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2><%= typeof manager !== 'undefined' ? manager.nameFirst + ' ' + manager.nameLast : '' %> </h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-12 col-sm-3">
									<h3>Enter Password</h3>
								</div>
								<div class="col-xs-12 col-sm-9">
									<input type="password" class="form-control input-lg" data-ng-model="managerPassword"
										   data-ng-keyup="$event.keyCode == 13 && goToToolLocator(managerPassword)"/>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-12 text-right">
									<a class="btn btn-info btn-lg" data-ng-click="goToToolLocator(managerPassword)">Go To
										Tool Locator</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Select Next Flow -->
		<div id="modalSelectNextFlow" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Select Next Step</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 mb-sm"
								 data-ng-repeat="nextFlow in possibleNextFlowsToBeSelected">
								<button class="btn btn-block btn-info" data-ng-disabled="nextFlow.disabled"
										data-ng-click="nextFlowSelected(nextFlow, true)">{{nextFlow.description}}
								</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Authenticate User -->
		<div id="modalAuthenticateUser" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>User Authentication</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<h2 data-ng-model="currentPin">PIN # <strong>{{hiddenPin}}</strong></h2>
								<input type="number" id="EnterUserPin" data-ng-keydown="checkIfPinIsValid($event.key)"
									   style="opacity: 0">
							</div>
						</div>
						<div class="row keypad">
							<div class="col-xs-4 col-xs-offset-8" data-ng-click="checkIfPinIsValid('back')">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === 'Backspace'}"><span
										class="fa fa-long-arrow-left"></span>
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '7'}"
										data-ng-click="checkIfPinIsValid(7)">7
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '8'}"
										data-ng-click="checkIfPinIsValid(8)">8
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '9'}"
										data-ng-click="checkIfPinIsValid(9)">9
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '4'}"
										data-ng-click="checkIfPinIsValid(4)">4
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '5'}"
										data-ng-click="checkIfPinIsValid(5)">5
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '6'}"
										data-ng-click="checkIfPinIsValid(6)">6
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '1'}"
										data-ng-click="checkIfPinIsValid(1)">1
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '2'}"
										data-ng-click="checkIfPinIsValid(2)">2
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-default col-xs-12 mb-xs"
										data-ng-class="{active : keyPadValue === '3'}"
										data-ng-click="checkIfPinIsValid(3)">3
								</button>
							</div>
							<div class="col-xs-12">
								<button class="btn btn-default col-xs-12" data-ng-class="{active : keyPadValue === '0'}"
										data-ng-click="checkIfPinIsValid(0)">0
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Set Condition/Action -->
		<div id="modalSetConditionActionCutter" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Choose Condition & Action</h4>
					</div>
					<div class="modal-body">
						<!-- <div class="row">
                            <div class="col-xs-12">
                                <button data-ng-repeat="cutter in availableCutters" data-ng-click="setCutter(cutter)" class="btn btn-default btn-lg">{{cutter.name}}</button>
                            </div>
                        </div> -->
						<div class="row">
							<div class="col-xs-3 mb-xs" data-ng-repeat="condition in availableConditions">
								<button style="height:80px; white-space: normal;" data-ng-click="setCondition(condition)"
										class="btn btn-info btn-lg btn-block">{{condition.cutterCondition}}
								</button>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-4 mb-xs" data-ng-repeat="action in availableActions">
								<button style="height:80px" data-ng-click="setAction(action)"
										class="btn btn-default btn-lg btn-block"><i
										class="{{action.cutterActionIcon}}"></i> {{action.cutterAction}}
								</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button data-ng-click="clearConditionAndAction()" class="btn btn-info">Clear Condition &
							Action
						</button>
						<button data-ng-click="closeCancelModalSetConditionActionCutter()" class="btn btn-danger">
							Cancel/Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Select Compatible Cutter -->
		<div id="modalSelectCutter" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Select a <strong>{{activePocketSize.sizeFraction}}"
								{{activePocketType.name}}</strong>
							<button type="button"
									class="btn btn-{{cutterEditMode ? 'primary' : 'default'}} btn-hollow btn-lg pull-left"
									data-ng-click="toggleEditMode()">{{cutterEditMode ? 'Finish Editing' : 'Edit'}}
							</button>
						</h4>
					</div>
					<div class="modal-body">
						<!-- <div class="row">
                            <div class="col-xs-12">
                                <button data-ng-repeat="cutter in availableCutters" data-ng-click="setCutter(cutter)" class="btn btn-default btn-lg">{{cutter.name}}</button>
                            </div>
                        </div> -->
						<div class="row">
							<div class="col-xs-12" data-ng-show="compatibleCutters && compatibleCutters.length === 0">
								<h2>No compatible {{activePocketType.name}} exists</h2>
							</div>

							<div class="col-xs-6" data-ng-repeat="cutter in compatibleCutters">
								<button data-ng-show="!singleCutterPocketUpdate" style="height:80px"
										data-ng-click="setCutters(cutter)" class="btn btn-default btn-block">
									{{cutter.cutterName}}
								</button>
								<button data-ng-show="singleCutterPocketUpdate" style="height:80px"
										data-ng-click="setCutters(cutter, singleCutterPocketUpdate)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
								</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
								class="btn btn-{{cutterEditMode ? 'primary' : 'default'}} btn-hollow btn-lg pull-left"
								data-ng-click="toggleEditMode()">{{cutterEditMode ? 'Finish Editing' : 'Edit'}}
						</button>
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Select Compatible Cutter without saving -->
		<div id="modalSelectCutterWithoutSaving" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Select a <strong>{{activePocketSize.sizeFraction}}"
								{{activePocketType.name}}</strong></h4>
					</div>
					<div class="modal-body">
						<!-- <div class="row">
                            <div class="col-xs-12">
                                <button data-ng-repeat="cutter in availableCutters" data-ng-click="setCutter(cutter)" class="btn btn-default btn-lg">{{cutter.name}}</button>
                            </div>
                        </div> -->
						<div class="row">
							<div class="col-xs-12" data-ng-show="compatibleCutters && compatibleCutters.length === 0">
								<h2>No compatible {{activePocketType.name}} exists</h2>
							</div>

							<div class="col-xs-6" data-ng-repeat="cutter in compatibleCutters">
								<button data-ng-show="!singleCutterPocketUpdate" style="height:80px"
										data-ng-click="setCuttersWithoutSaving(cutter)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
								</button>
								<button data-ng-show="singleCutterPocketUpdate" style="height:80px"
										data-ng-click="setCuttersWithoutSaving(cutter, singleCutterPocketUpdate)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
								</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
								class="btn btn-{{cutterEditMode ? 'primary' : 'default'}} btn-hollow btn-lg pull-left"
								data-ng-click="toggleEditMode()">{{cutterEditMode ? 'Finish Editing' : 'Edit'}}
						</button>
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Select Compatible Cutter without saving -->
		<div id="modalSelectActiveCutter" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" style="display:inline-block; width:70%; margin-top:0;font-size: 1.5em;">
							<span data-ng-show="activeCutter && activeCutter.replaceWithCutterId">Revert back to original cutter</span><span
								data-ng-show="activeCutter && !activeCutter.replaceWithCutterId">Select a <strong>{{activePocketSize.sizeFraction ? activePocketSize.sizeFraction + '"' : ''}} {{activePocketType.name ? activePocketType.name : ''}}</strong> {{additionalHeaderMessage + (activeCutter.cutterName ? activeCutter.cutterName : '')}}</span>
							<span><input data-ng-model="compatibleCutterFilter" class="form-control"
										 placeholder="Search Cutter"></span></h4>
						<span style="display:inline-block; width:29%"><button type="button"
																			  class="btn btn-{{cutterEditMode ? 'primary' : 'default'}} btn-hollow btn-sm pull-right"
																			  data-ng-click="toggleEditMode()">{{cutterEditMode ? 'Finish Editing' : 'Edit'}}</button></span>
					</div>
					<div class="modal-body">
						<!-- <div class="row">
                            <div class="col-xs-12">
                                <button data-ng-repeat="cutter in availableCutters" data-ng-click="setCutter(cutter)" class="btn btn-default btn-lg">{{cutter.name}}</button>
                            </div>
                        </div> -->
						<div class="row" data-ng-show="!cutterEditMode">
							<div class="col-xs-12" data-ng-show="compatibleCutters && compatibleCutters.length === 0">
								<h2>No compatible {{activePocketType.name}} exists</h2>
							</div>

							<div class="col-xs-6 col-sm-4 mb-xs"
								 data-ng-repeat="cutter in compatibleCutters | filter:compatibleCutterFilter"
								 data-ng-show="cutter.status !== 99 && !cutterPickingType">
								<button data-ng-show="!singleCutterPocketUpdate && !cutterPickingType"
										style="height:50px" data-ng-click="setActiveCutter(cutter)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
									<span class="cutter-side-pocket" data-ng-show="cutter.isObsolete">
                                    <a href="javascript:void" class="active"><i class="fa fa-ban "></i></a>
                                </span>
								</button>
								<button data-ng-show="singleCutterPocketUpdate && !cutterPickingType"
										style="height:50px"
										data-ng-click="setActiveCutter(cutter, singleCutterPocketUpdate)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
									<span class="cutter-side-pocket" data-ng-show="cutter.isObsolete">
                                    <a href="javascript:void" class="active"><i class="fa fa-ban "></i></a>
                                </span>
								</button>
							</div>

							<div class="col-xs-4 col-xs-offset-8 col-sm-2 col-sm-offset-10 mb-xs"
								 data-ng-show="cutter.status !== 99 && cutterPickingType && cutter.cutterId !== activeCutter.cutterId">
								<label data-ng-show="replaceCutterQty">Qty</label>
								<input data-ng-show="replaceCutterQty" class="form-control" type="number"
									   data-ng-model="replaceCutterQty"/>
								<div data-ng-show="showReasonForChange">
									<label>Reason For Change</label>
									<input class="form-control" type="text" data-ng-model="reasonForChange"/>
								</div>
							</div>

							<div class="col-xs-6 col-sm-4 mb-xs" data-ng-repeat="cutter in compatibleCutters"
								 data-ng-show="cutter.status !== 99 && cutterPickingType && cutter.cutterId !== activeCutter.cutterId && cutterPickingType === 'pullCuttersReplacement'">
								<button style="height:50px"
										data-ng-click="addAsCutterReplacement(cutter, replaceCutterQty)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
									<span class="cutter-side-pocket" data-ng-show="cutter.isObsolete">
                                    <a href="javascript:void" class="active"><i class="fa fa-ban "></i></a>
                                </span>
								</button>
							</div>

							<div class="col-xs-6 col-sm-4 mb-xs" data-ng-repeat="cutter in compatibleCutters"
								 data-ng-show="cutter.status !== 99 && cutterPickingType && activeCutter && cutter.cutterId !== activeCutter.cutterId && cutterPickingType === 'replaceOnePocket' && !activeCutter.replaceWithCutterId">
								<button style="height:50px" data-ng-click="addAsCutterReplacement(cutter)"
										class="btn btn-default btn-block">{{cutter.cutterName}}
									<span class="cutter-side-pocket" data-ng-show="cutter.isObsolete">
									<a href="javascript:void" class="active"><i class="fa fa-ban "></i></a>
								</span>
								</button>
							</div>

							<div class="col-xs-6 col-sm-4 mb-xs"
								 data-ng-show="cutterPickingType && activeCutter  && cutterPickingType === 'replaceOnePocket' && activeCutter.replaceWithCutterId">
								<!-- Cutter has been replaced. This button reverts to the original cutter. It shows up if ActiveCutter has a replacement cutter -->
								<button style="height:50px" data-ng-click="revertReplacementCutterBack(activeCutter)"
										class="btn btn-danger btn-block">REVERT
								</button>
							</div>
						</div>

						<div class="row" data-ng-show="cutterEditMode">
							<div class="col-xs-12">
								<div class="row" data-ng-show="addCutterMode">
									<div class="col-sm-6">
										<input class="form-control" type="text" placeholder="Part #"
											   data-ng-model="currentAddCutter.partNumber">
									</div>
									<div class="col-sm-6">
										<input class="form-control" type="text" placeholder="Manufacturer"
											   data-ng-model="currentAddCutter.manufacturer">
									</div>
									<div class="col-sm-6">
										<input class="form-control" type="text" placeholder="SDPI Part #"
											   data-ng-model="currentAddCutter.sdpPartNumber">
									</div>
								</div>
								<button type="button" class="btn btn-warning btn-hollow btn-sm pull-right"
										data-ng-click="toggleAddCutter()" data-ng-show="!addCutterMode">Add Cutter
								</button>

								<button type="button" class="btn btn-default btn-sm pull-right"
										data-ng-click="toggleAddCutter()" data-ng-show="addCutterMode">Cancel
								</button>
								<button type="button" class="btn btn-success btn-sm pull-right"
										data-ng-click="saveAddCutter()"
										data-ng-show="addCutterMode && currentAddCutter.partNumber">Save
								</button>
							</div>
							<div class="col-xs-12" data-ng-show="compatibleCutters && compatibleCutters.length === 0">
								<h2>No compatible {{activePocketType.name}} exists</h2>
							</div>
							<div class="col-xs-6 col-sm-4" data-ng-repeat="cutter in compatibleCutters">
								<div style="height:50px; margin-top:5px"
									 class="div div-default div-block {{cutter.status === 99 ? 'div-invisible' : ''}}">
									{{cutter.cutterName}}
									<span class="cutter-side-pocket">
                                    <a href="javascript:void" data-ng-click="toggleObsolete(cutter)"
									   data-ng-class="{active: cutter.isObsolete}"><i class="fa fa-ban "></i></a><br>
                                    <a class="visibility" href="javascript:void"
									   data-ng-click="toggleVisible(cutter)"><i
											class="fa fa-{{cutter.status === 99 ? 'eye-slash' : 'eye'}}"></i></a>
                                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal"
								data-ng-show="!cutterEditMode">Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Possible Next Flow  -->
		<div id="possibleNextFlowsModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Please Select Where Tool Is Going.</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<h3 class="col-xs-12 col-md-3">Flow Id</h3>
								<h3 class="col-xs-12 col-md-7">Description</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div data-ng-repeat="nextFlow in possibleNextFlowsToBeSelected">
									<h3 class="col-xs-12 col-md-3">{{nextFlow.nextFlowId}}</h3>
									<h3 class="col-xs-12 col-md-7">{{nextFlow.description}}</h3>
									<button class="btn btn-success col-xs-12 col-md-2"
											data-ng-disabled="nextFlow.disabled"
											data-ng-click="nextFlowSelectedWithoutTimestamp(nextFlow)"
											style="margin-top: 12px">Select
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Select Tool For Rework  -->
		<div id="selectToolForRework" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Please Select A Tool For Rework.</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<!-- Choose Tool -->
							<div class="col-xs-12">
								<div class="col-xs-12">
									<div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords">
										<a data-ng-click="goToRework(tool)"
										   class="btn btn-default btn-lg btn-block btn-text-left">{{tool.toolString}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Show Cutters  -->
		<div id="showCuttersUsedInRepair" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Cutters</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12 size mb-md"
								 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
								<div class="col-xs-12 text-left"
									 data-ng-repeat="cutterName in dullGrade.cutterNames | orderBy: '-count'">
									<span class="colorkeyitem {{cutterName.colorClass}}">{{cutterName.count}}</span>
									<span>{{cutterName.sizeFraction}}</span> - <span
										class="{{cutterName.replacedCutterName ? 'crossed-out' : ''}}">{{cutterName.replacedCutterName}}</span>
									<span data-ng-show="cutterName.partNumber">{{cutterName.cutterName}}</span> <i
										data-ng-if="cutterName.isReclaim" style="color: #9c9c9c;font-weight: bold;"
										class="fa fa-registered"></i>
									<button class="btn btn-danger" data-ng-show="cutterName.markedForLotNumber"
											data-ng-click="openModalAndSetLotNumbers(cutterName, 'modalSetLotNumbers')"
											data-toggle="modal" data-target="#showCuttersUsedInRepair">Add Lot Number
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: Cut Out Comments  -->
		<div id="modalCutOutComments" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Cut Out Comments</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12"
								 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0">
								<textarea rows="4" cols="67" data-ng-model="cutOutComments"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" data-ng-click="setCutOutComments()" class="btn btn-success btn-lg"
							   value="Save">
						<button type="button" class="btn btn-default btn-lg" data-ng-click="closeModalCutOutComments()">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		<!-- MODAL: TAKE PICTURE -->
		<div class="modal fade" id="modalTakePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			 data-role="document">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">
							<h3>Take A Picture</h3>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-12 col-sm-3">
									<h4>Tool</h4>
								</div>
								<div class="col-xs-12 col-sm-9">
									<!--<input class="form-control" type="file" accept="image/*" capture="camera" data-ng-model="imageCapture" />-->
									<access-camera></access-camera>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-12 text-center">
									<img id="captureImg" style="height:250px; border:1px solid #cccccc"/>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-12 col-sm-3">
									<h4>Current Image</h4>
								</div>
								<div class="col-xs-12 col-sm-9">
									<img data-ng-show="currentSelectedImage.url"
										 data-ng-src="{{currentSelectedImage.url}}" style="width:100px"/>
									<h4 data-ng-show="!currentSelectedImage.url">No image has been uploaded yet.</h4>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-12 col-sm-3">
									<h4>Current Name</h4>
								</div>
								<div class="col-xs-12 col-sm-9">
									<h4>{{currentSelectedImage.name}}</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
						<button id="confirmSavePicture" disabled type="button" class="btn btn-primary btn-lg">Save
							Image
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="modalMarkAsNewTool" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Are you sure this is a new tool?</h2>
					</div>
					<!--<div class="modal-body">-->
					<!--<div class="col-xs-12">-->
					<!--<h3>Are you sure this is a new tool?</h3>-->
					<!--</div>-->
					<!--</div>-->
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
						<input type="button" data-ng-click="markAsNewTool()" class="btn btn-success btn-lg"
							   value="Yes, Mark It As New">
					</div>
				</div>
			</div>
		</div>

		<div id="modalKilnCutterDullGrades" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="overlay-white" data-ng-show="showConfirmRemoveRepairFromKiln">
						<div class="row">
							<div class="col-xs-12 mb-md text-center"
								 data-ng-show="laborTimeStampsForKiln && laborTimeStampsForKiln.length > 0">
								<div class="col-xs-6 text-right" style="font-size:1.3em">There are labor time stamps
									that exist. Confirm you want to remove this from the kiln by checking the box.
								</div>
								<div class="col-xs-6 text-left">
									<label class="col-xs-3 text-right" style="margin-right: 5px">No</label>
									<label class="switch col-xs-3">
										<input type="checkbox" data-ng-model="confirmedRemoveFromKiln">
										<div class="slider"></div>
									</label>
									<label class="col-xs-3 text-left">Yes</label>
								</div>
							</div>
							<div class="col-xs-12 text-center">
								<button class="btn btn-success" data-ng-click="removeRepairFromKiln(currentKiln)"
										data-ng-hide="!confirmedRemoveFromKiln">Yes, Remove From Kiln
								</button>
								<button data-ng-click="removeOverlay()" class="btn btn-danger">Cancel</button>
							</div>
						</div>
					</div>
					<div class="modal-header" style="{{showConfirmRemoveRepairFromKiln ? 'filter: blur(7px);' : ''}}">
						<h2>{{currentKiln.name}} : <strong>{{currentKiln.toolRepairs[0].serial}}</strong>
							<span><button class="btn btn-danger pull-right"
										  data-ng-click="prepareRemoveRepairFromKiln(currentKiln)"><i
										class="fa fa-minus-square"></i> Remove From Kiln</button></span>
							<div style="display:inline-block; float:right">
								<form method="POST" action="/pdf/generatePdfCutterPockets">
									<input type="hidden" name="toolFamilyId" value="{{selectedTools[0].toolFamilyId}}">
									<input type="hidden" name="partId" value="{{selectedTools[0].partId}}">
									<input type="hidden" name="cutterStructureChronoId"
										   value="{{selectedTools[0].cutterStructureChronoId}}">
									<input type="hidden" name="repairId" value="{{selectedTools[0].repairId}}">
									<button type="submit" class="btn btn-primary btn-md"><i class="fa fa-print"></i>
										PRINT
									</button>
								</form>
							</div>
						</h2>
					</div>
					<div class="modal-body" style="{{showConfirmRemoveRepairFromKiln ? 'filter: blur(7px);' : ''}}">

						<div class="row">
							<div class="col-xs-12">
								<ng-include
									src="'/angular/dullgradelevelone/ng-partials/cutterdullgrades-toolinfo-newcutters-etc.html'"></ng-include>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-xs-3 col-lg-4 pull-right text-right mb-sm">
			<% if(typeof facility !== 'undefined' && facility && [3,4,5,8,9,10].includes(facility.facilityId)) { %>
			<a href="/dullgradelevelone/workstation" class="btn btn-link" data-ng-show="selectedTools.length === 0">Change Workstations</a>
			<% } %>
			<a href="javascript:void(0)" data-ng-click="openModalManagerLogout()" class="btn btn-link"
			   data-ng-show="currentAuthenticatedUsers.length === 0 && currentAuthenticatedUsers.length !== maxUsers && selectedTools.length === 0">Logout</a>

		</div>
		<section data-ng-view></section>

	</div>


</div>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript" src="/angular/libraries/angular-sails/ngSails.js"></script>
<script type="text/javascript" src="/angular/libraries/angular-sails/angular-sails.js"></script>
<script src="/js/angular-touch.js"></script>

<script src="/angular/libraries/angular-loading-bar-master/build/loading-bar.min.js"></script>

<!-- Angular modules-->
<script src="/angular/dullgradelevelone/ng-modules/app.js"></script>

<!-- Angular controllers-->
<script src="/angular/dullgradelevelone/ng-controllers/NgFsBrazeController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgBitLocatorController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDNRLocatorController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgReworkController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDNRReworkController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgFinalInspectController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgQAController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgShipController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgBondoPaintController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgGruntGrindController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgKilnController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgReceivingController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDullgradeInfoController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgCutterStructureController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgWashController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgBlastController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgFlameSprayController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDullgradeController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDullgradeHomeController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgPullCuttersController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgBrazeController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgCreateController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgViewHistoryController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgClearoutController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgLookupController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgGlobalController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgReplaceCuttersController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgThirdPartyInspectionController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgFinalInspectionDNRController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDNRKilnController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgDnrPullCuttersController.js"></script>
<script src="/angular/dullgradelevelone/ng-controllers/NgShippingController.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-timer/1.3.5/assets/js/angular-timer-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-plus/1.6.0/humanize.min.js"></script>
