<div class="row">
    <section>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Choose Workstation</h1>
            </div>

            <form class="col-xs-12 form-horizontal form-label-left" method="post" action="<%= Global.baseUrl %>User/setFacilityAndWorkStation">
                 <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <%- exposeLocalsToBrowser() %>
                <div class="col-xs-12 form-group">
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">Facility
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h4><%= facility.facilityName %></h4>
						<input type="hidden" name="facility" value="<%= facility.facilityId %>"/>
                    </div>
                </div>
				<div class="col-xs-12 form-group">
					<div class="control-label col-md-3 col-sm-3 col-xs-12">Current Workstation
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h4><%= `${currentWorkStation.workStationName}: ${currentWorkStation.description}` %></h4>
					</div>
				</div>

                <div class="col-xs-12 form-group" id="workStations">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Change To *
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="workstation" name="workstation" required="required" class="form-control col-lg-12 input-lg">
                            <option value="" disabled selected>Select Workstation...</option>
							<% for (let ws of workStations) { %>
								<option value="<%= ws.workStationId %>"><%= `${ws.workStationName}: ${ws.description}` %></option>
							<% } %>
                        </select>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div id="setButton" class="col-xs-12 form-group">
                    <div class="col-xs-12 text-right">
						<a type="submit" href="/dullgradelevelone" class="btn btn-default btn-lg">CANCEL</a>
                        <button type="submit" class="btn btn-primary btn-lg">GO</button>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>

<script>
    $(document).ready(function () {
        setButton
        var workStation = [];
        $('#facility').change(function () {
            $.ajax({
                type: 'POST',
                url: "getWorkStationsByFacility",
                data: {
                    facilityId: $('#facility').val(),
                    _csrf: window.SAILS_LOCALS._csrf
                },
                dataType: 'json',
                success: function (data) {
                    workStation = data;
                    $('#workstation').find('option').not(':first').remove();
                    $('#workStations').show();
                    $.each(data, function (index, workStation) {
                        $('#workstation').append($("<option>", {
                            value: workStation.workStationId,
                            text: workStation.workStationId + " | " + workStation.workStationName + " | " + workStation.description
                        }));
                    });
                }
            });
        });
        $('#workstation').change(function () {
            var selected = $.grep(workStation, function (ws) {
                return ws.workStationId == $('#workstation').val();
            });
            $('#description').text('"' + selected[0].description + '"');
            $('#setButton').show();
        });
    });
</script>
