<div class="row">
    <section>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>User Login</h1>
            </div>

            
            
            <form class="col-xs-12 form-horizontal form-label-left" method="post" action="<%= Global.baseUrl %>user/login">
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <input id="fragment" name="fragment" type="hidden" />
            <div class="col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">User *
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="username" id="username" name="username" required="required" class="form-control col-lg-12 input-lg" placeholder="Enter Username">
                    <!-- <select id="username" name="username" required="required" class="form-control col-lg-12 input-lg">
                        <option value="" disabled selected>Select Manager...</option>
                        <% _.each(typeof managers !== 'undefined' ? managers : [], function(manager) { %>
                            <option value="<%= manager.email %>"><%= manager.nameFirst + ' ' + manager.nameLast + ' (' + manager.email + ')' %></option>
                        <% }); %>
                    </select> -->
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Password *
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="password" id="password" name="password" required="required" class="form-control col-lg-12 input-lg" placeholder="Enter password">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
            </div>
        </form>
        </div>

    </section>
</div>

<script>
    (function ($) {
        $(document).ready(function () {
            // set fragment so that it is sent in the post body
            var hash = window.location.hash;
            $('#fragment').val(hash);
        });
    })(jQuery);
</script>
