<div class="row">
    <section>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Where Are You?</h1>
            </div>

            <form class="col-xs-12 form-horizontal form-label-left" method="post" action="<%= Global.baseUrl %>user/setfacilityandworkstation">
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <%- exposeLocalsToBrowser() %>
                <div class="col-xs-12 form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Facility *
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="facility" name="facility" required="required" class="form-control col-lg-12 input-lg">
                            <option value="" disabled selected>Select Facility...</option>
                            <% _.each(typeof facilities !== 'undefined' ? facilities : [], function(f) { %>
                                <option value="<%= f.facilityId %>">
                                    <%= f.facilityName %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 form-group" id="workStations" style="display: none !important">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Workstation *
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="workstation" name="workstation" required="required" class="form-control col-lg-12 input-lg">
                            <option value="" disabled selected>Select Workstation...</option>
                        </select>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div id="setButton" style="display:none !important" class="col-xs-12 form-group">
                    <div class="col-xs-12 text-right">
                        <h2>Is this the correct workstation </h2>
                        <h2><strong id="description"></strong></h2>
                        <button type="submit" class="btn btn-primary btn-lg">Continue</button>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>

<script>
    $(document).ready(function () {
        setButton
        var workStation = [];
        $('#facility').change(function () {
            $.ajax({
                type: 'POST',
                url: "getWorkStationsByFacility",
                data: {
                    facilityId: $('#facility').val(),
                    _csrf: window.SAILS_LOCALS._csrf
                },
                dataType: 'json',
                success: function (data) {
                    workStation = data;
                    $('#workstation').find('option').not(':first').remove();
                    $('#workStations').show();
                    $.each(data, function (index, workStation) {
                        $('#workstation').append($("<option>", {
                            value: workStation.workStationId,
                            text: workStation.workStationName + " : " + workStation.description
                        }));
                    });
                }
            });
        });
        $('#workstation').change(function () {
            var selected = $.grep(workStation, function (ws) {
                return ws.workStationId == $('#workstation').val();
            });
            $('#description').text('"' + selected[0].description + '"');
            $('#setButton').show();
        });
    });
</script>
