<section style="background-image:url(/images/landing-page-img.jpg)" class="full-background-image">
</section>
<section class="content-middle">
	<img class="middle-img" src="/images/sdpi-logo-big.png"/>
	<h1>CHUCK 3.0</h1><br><br><br>
	<a class="btn btn-info btn-lg btn-landing" href="/dullgradelevelone">CONTINUE</a>
</section>
