.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .25s ease-in-out; /** Firefox **/
    -o-transition: all .25s ease-in-out; /** Opera **/
}
