.btn-dome {
    border-style: double;
    border-width: .3em;
    border-radius: 4em 4em 0 0;
}

.btn-replaceabledome {
    background-image: url(/images/cutters/hole-for-replaceabledome.png);
    border-style: double;
    border-width: .3em;
    border-radius: 4em 4em 0 0;
    background-position: 50% 100%;
    background-size: 1.2em;
    background-repeat: no-repeat;
}

.btn-cutter {
    border-style: double;
    border-width: .3em;
    border-radius: 4em;
}

.btn-rubbingblock {
	border-style: double;
    border-width: .3em;
    border-radius: 1em;
}

/*.flamespray {
	border-style:solid;
	border-width:.3em;
}*/

.flamespray > div:nth-of-type(1) {
	background-image: url('/images/flamespray-icon.png');
    background-size: 22px 97%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-top:-10px !important;
}

.flamespray > div:nth-of-type(1) > span {
	background-color:transparent;
}

.flamespray:hover > div:nth-of-type(1) > span {
	background-color:transparent;
}

.bit.snug .flamespray > div:nth-of-type(1) {
    background-image: none;
    background-size: inherit;
    background-position: inherit;
    background-repeat: no-repeat;
    margin-top:0 !important;
}