.legend {
	font-size: .8em;
    float: left;
    width: 100%;
}

/*.legend .toolInfo {
	padding-left:15px;
	padding-right:0;
}*/

/*.legend .newCutterInfo {
	padding-left:0;
	padding-right:0;
}*/

.legend .newRotateFlamesprayInfo {
	padding-left:0;
	padding-right:0;
}

.legend .toolInfo > div:nth-of-type(1) {
	color:#aaaaaa;
	padding-left:0;
	padding-right:0;
}

.legend .toolInfo > div:nth-of-type(2) {
	font-weight:bold;
	padding-left:0;
	padding-right:0;
}

.legend .newCutterInfo > div {
	padding-left:0;
	padding-right:0;
}

.legend span.colorkeyitem {
	height: 15px;
    width: 15px;
    border-radius: 15px;
    padding: 0px 0px;
    margin: 3px auto -18px auto;
    text-align: center;
}

.legend .newRotateFlamesprayInfo > div > div > span.colorkeyitem {
    color:black;
    font-weight:bold;
    line-height: 1.4em;
}

.legend .newRotateFlamesprayInfo > div > div:not(.light-bottom-border) {
	display:block;
	padding-left:0;
	padding-right:0;
	margin-right:0;
}

.light-bottom-border {
	display: inline-block;
    border-bottom: 1px dotted #d6d6d6;
    width: 100%;
}

.legend .newCutterInfo div.new-cutter {
    border: 1px solid transparent;
    border-radius:20px;
    padding-left:3px;
    color:#555555;
}

.legend .newCutterInfo div.new-cutter a.toggle-hide {
	display:none;
}

.legend .newCutterInfo div.new-cutter:hover a.toggle-hide {
	display:inline-block;
}

.legend .newCutterInfo div.new-cutter:hover {
    border: 1px solid #dddddd
}

.legend .newCutterInfo div.new-cutter a.toggle-hide {
	padding: 0px 5px;
	font-size: 16px;
	line-height: 1.2em;
}

.legend .newCutterInfo div.new-cutter a.btn-default.toggle-hide {
	color:#d2d2d2;
	background-color:transparent;
	border-color:transparent;
}

.legend .newCutterInfo div.new-cutter a.toggle-hide.btn-default:hover {
	color:#a7a7a7;
	background-color:transparent;
	border-color:transparent;
}

.legend a span.colorkeyitem {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    padding: 0px 0px;
    margin: 3px auto -18px auto;
    text-align: center;
}

.bg-lightgray {
	background-color:#f5f5f5;
}