@media print {
    #clearOptions {
        position: absolute;
        right: 3%;
        top: 1%;
        background: none;
        color: #c1c1c1;
        font-size: 21px;
        padding-top: 0px;
        text-align: right;
        width: 22px;
        height: 31px;
        -webkit-print-color-adjust: exact;
    }
    #clearOptions:hover, #clearOptions:active, #clearOptions:focus {
        color:#8c8c8c;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug .blade-container {
        display:inline-block;
        margin: 0px 1px;
        vertical-align: top;
        border: 1px solid #cecece;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug .blade-container .lgrow {
        width:60px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug .flamespray {
        border-style:solid;
        border-color:black;
        -webkit-print-color-adjust: exact;
    }

    .no-leftright-padding {
        padding-left:0px;
        padding-right:0px;
        -webkit-print-color-adjust: exact;
    }

    .no-margin {
        margin: 0;
        -webkit-print-color-adjust: exact;
    }

    .no-padding {
        padding: 0;
        -webkit-print-color-adjust: exact;
    }

    #DullgradeContainer .bit.cutterstructure.snug .panel-body {
        padding-left:1px;
        padding-right:1px;
        -webkit-print-color-adjust: exact;
    }

    #DullgradeContainer .bit.cutterstructure.snug .panel {
        margin-bottom:0;
        -webkit-print-color-adjust: exact;
    }

    .bglight .bit.cutterstructure.snug .panel-default.lighter .panel-body {
        background-color: transparent;
        -webkit-print-color-adjust: exact;
    }

    .row-qty-lg .not-original .exclamation-icon {
        position: absolute;
        margin-left: 22px;
        margin-top: 21px !important;
        width: 8px;
        height: 9px;
        border-radius: 10px;
        background-color: black;
        -webkit-print-color-adjust: exact;
    }
    .row-qty-lg .not-original .exclamation-icon i {
        font-size: 0.6em;
        display: inherit;
        -webkit-print-color-adjust: exact;
    }

    /* if Bit has more than X amount of columns */
    .bit.snug.row-qty-lg .blade-container .lgrow {
        width:40px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug.row-qty-lg .blade-container .lgrow .pocket {
        width:40px;
        height:40px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug.row-qty-lg .pocket div:nth-of-type(1) span {
        font-size:11px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug.row-qty-lg .pocket div:nth-of-type(2) span {
        font-size:14px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug.row-qty-lg .btn-replaceabledome {
        background-position: 50% 115%;
        background-size: 1em;
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }
    .bit.snug.row-qty-lg .btn-dome {
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }
    .bit.snug.row-qty-lg .btn-cutter {
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }
    .bit.snug.row-qty-lg .btn-rubbingblock {
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }
    .bit.snug.row-qty-lg .btn-sharktooth {
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }
    .bit.snug.row-qty-lg .btn-other {
        border-width:.2em;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug.row-qty-lg .flamespray {
        border-width:4px;
        -webkit-print-color-adjust: exact;
    }

    .bit.snug .flamespray {
        border-width:6px;
        border-style:dashed;
        -webkit-print-color-adjust: exact;
    }

    /*-----------------LEGEND-----------------------------------------*\
    \*----------------------------------------------------------------*/
    .legend {
    font-size:.8em;
        -webkit-print-color-adjust: exact;
    }

    .legend .toolInfo > div:nth-of-type(1) {
        color:#aaaaaa;
        padding-left:0;
        padding-right:0;
        -webkit-print-color-adjust: exact;
    }

    .legend .toolInfo > div:nth-of-type(2) {
        font-weight:bold;
        padding-left:0;
        padding-right:0;
        -webkit-print-color-adjust: exact;
    }

    .legend .newCutterInfo > div {
        padding-left:0;
        padding-right:0;
        -webkit-print-color-adjust: exact;
    }

    .legend span.colorkeyitem {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        padding: 0px 0px;
        margin: 3px auto -18px auto;
        text-align: center;
        -webkit-print-color-adjust: exact;
    }

    .legend .newRotateFlamesprayInfo {
        line-height: .8em;
        -webkit-print-color-adjust: exact;
    }

    .legend .newRotateFlamesprayInfo > div > span.colorkeyitem {
        color:black;
        font-weight:bold;
        line-height: 1.4em;
        -webkit-print-color-adjust: exact;
    }

    .legend .newRotateFlamesprayInfo > div:not(.light-bottom-border) {
        display:inline-block;
        padding-left:0;
        padding-right:0;
        margin-right:10px;
        -webkit-print-color-adjust: exact;
    }

    .light-bottom-border {
        display: inline-block;
        border-bottom: 1px dotted #d6d6d6;
        width: 100%;
        -webkit-print-color-adjust: exact;
    }
}