/* minimal */
.btn-default.btn-minimal, .btn-default.btn-minimal:active, .btn-default.btn-minimal:focus {
    color: #9a9a9a;
    background-color: transparent;
    border-color: transparent;
}
.btn-default.btn-minimal:hover {
	color: #444444;
	background-color: transparent;
	border-color: transparent;
}

.btn-warning.btn-minimal {
    color: #ff7518;
    background-color: transparent;
    border-color: transparent;
}
.btn-warning.btn-minimal:hover {
    color: white;
    background-color: #ff7518;
    border-color: #ff7518;
}
.btn-info.btn-minimal {
    color: #9f4caf;
    background-color: transparent;
    border-color: transparent;
}
.btn-danger.btn-minimal {
    color: #cf4747;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary.btn-minimal {
    color: #396cca;
    background-color: transparent;
    border-color: transparent;
}
.btn-success.btn-minimal {
    color: #00970d;
    background-color: transparent;
    border-color: transparent;
}
.btn-purple.btn-minimal {
    color: #65008d;
    background-color: transparent;
    border-color: transparent;
}

.btn-default {
    color: #ffffff;
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #656565;
    border-color: #656565;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #656565;
    border-color: #656565;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #656565;
    border-color: #656565;
}

.btn-purple {
    color: #ffffff;
    background-color: #470080;
    border-color: #470080;
}
.btn-purple.btn-minimal {
    color: #470080;
    background-color: transparent;
    border-color: transparent;
}

.btn-purple:hover {
    color: #ffffff;
    background-color:#2c004f;
    border-color: #2c004f;
}

.no-padding {
    padding: 0;
}

.mb-xs {
    margin-bottom: 5px;
}

.mb-sm {
    margin-bottom: 10px;
}

.mb-md {
    margin-bottom: 20px;
}

.mb-lg {
    margin-bottom: 50px;
}

.mb-xl {
    margin-bottom: 80px;
}

.mt-xs {
    margin-top: 5px;
}

.mt-sm {
    margin-top: 10px;
}

.mt-md {
    margin-top: 20px;
}

.mt-lg {
    margin-top: 50px;
}

.mt-xl {
    margin-top: 80px;
}

.pb-xs {
    padding-bottom: 5px;
}

.pb-sm {
    padding-bottom: 10px;
}

.pb-md {
    padding-bottom: 20px;
}

.pb-lg {
    padding-bottom: 50px;
}

.pb-xl {
    padding-bottom: 80px;
}

.pt-xs {
    padding-top: 5px;
}

.pt-sm {
    padding-top: 10px;
}

.pt-md {
    padding-top: 20px;
}

.pt-lg {
    padding-top: 50px;
}

.pt-xl {
    padding-top: 80px;
}

.pr-0 {
    padding-right:0px;
}

.pl-0 {
    padding-left:0px;
}

html, body {
    font-family: 'f2', Arial;
	height:100%;
	margin: 0;
}

.fluid-container {
	height:100%;
	margin:0;
}

h1.force {
    font-size: 60px
}

h2.force {
    font-size: 37px
}

h3.force {
    font-size: 29px
}

h4.force {
    font-size: 26px
}

h5.force {
    font-size: 24px
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right: 5px solid #19b1ff;
}

.left-col {
    background: #0b1927 !important;
}

#loading-bar-spinner .spinner-icon {
    width: 20px;
    height: 20px
}

footer {
    background: #2A3F54;
    color: white;
}

.custom-footer {
    height: 10px;
}

ul.dropdown-menu.dropdown-menu-left {
    z-index: 99999999 !important;
    -ms-transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
}

.input-lg {
    padding: 17px;
    font-size: 1.5em;
}

.panel-danger.darkred {
    border-color: #8e0000;
}

.panel-danger.darkred>.panel-heading {
    color: #ffffff;
    background-color: #b30000;
    border-color: #8e0000;
}

a.toolItemLink {
    font-weight: bold;
    color: white;
}

a.toolItemLink:hover {
    font-weight: bold;
    color: black;
}

a.toolItemLink.dark {
    font-weight: bold;
    color: #337ab7;
}

a.toolItemLink.dark:hover {
    font-weight: bold;
    color: #113c61;
}

header#header {
    margin-bottom: 40px;
}

.bglight .panel-default {
    border: 0px solid transparent;
}

.bglight .panel {
    border: 0px solid transparent;
}

.bglight .panel-body {
    background-color: #eaeaea;
}

.bglight .panel-heading {
    background-color: #eaeaea;
    border-color: transparent;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

button.bgcustom > span {
    margin: 0;
    padding: 0;
}

.goleft {
    float: left
}

.bglight .cutterstructure .panel-default .panel-heading {
    background-color: transparent;
    color: #222222;
}

.bglight .cutterstructure .panel-default .panel-body {
    background-color: transparent;
}

.bglight .cutterstructure .panel-default.lighter .panel-heading {
    background-color: #dcdcdc;
}

.bglight .cutterstructure .panel-default.lighter .panel-body {
    background-color: #f5f5f5;
}

.bglight .cutterstructure .panel-default.lighter .panel-body h2 {
    color: #222222;
}

.pocket {
    height: 4em;
    width: 4em;
}

.cutterstructure .btn-cutter.btn-default,
.cutterstructure .btn-dome.btn-default,
.cutterstructure .btn-replaceabledome.btn-default,
.cutterstructure .btn-rubbingblock.btn-default {
    color: #ffffff;
    background-color: #bbb;
    border-color: #969696;
}
.cutterstructure .btn-sharktooth.btn-default {
    color:#ffffff;
    background-color:#bbb;
    border-color:#bbb;
}
.cutterstructure .btn-other.btn-default {
    color:#ffffff;
    background-color:#bbb;
    border-color:#bbb;
}

.cutterstructure .btn-cutter.btn-default:hover,
.cutterstructure .btn-dome.btn-default:hover,
.cutterstructure .btn-replaceabledome.btn-default:hover,
.cutterstructure .btn-rubbingblock.btn-default:hover {
    color: #333;
    background-color: #888;
    border-color: #5d5d5d;
}
.cutterstructure .btn-sharktooth.btn-default:hover {
    color:#333;
    background-color:#888;
    border-color:#888;
}
.cutterstructure .btn-other.btn-default:hover {
    color:#333;
    background-color:#888;
    border-color:#888;
}

.btn-cutter {
    border-style: solid;
    border-width: .3em;
    border-radius: 4em;
}

.btn-dome {
    border-style: solid;
    border-width: .3em;
    border-radius: 4em 4em 0 0;
}

.btn-replaceabledome {
    background-image: url(/images/cutters/hole-for-replaceabledome.png);
    border-style: solid;
    border-width: .3em;
    border-radius: 4em 4em 0 0;
    background-position: 50% 100%;
    background-size: 1.2em;
    background-repeat: no-repeat;
}

.btn-replaceabledome:active,
.btn-replaceabledome:hover,
.btn-replaceabledome:visited {
    background-image: url(/images/cutters/hole-for-replaceabledome.png);
    background-position: 50% 100%;
    background-size: 1.2em;
    background-repeat: no-repeat;
}

.btn-rubbingblock {
    border-style: solid;
    border-width: .3em;
    border-radius: 1em;
}

.btn-sharktooth {
    border-style: solid;
    border-radius: 0;
    border-color:transparent;
    -webkit-clip-path: polygon(100% 100%, 100% 80%, 100% 61%, 99% 54%, 97% 47%, 60% -20%, 40% -20%, 3% 47%, 1% 52%, 0 61%, 0 80%, 0% 100%);
    clip-path: polygon(100% 100%, 100% 80%, 100% 61%, 99% 54%, 97% 47%, 60% -20%, 40% -20%, 3% 47%, 1% 52%, 0 61%, 0 80%, 0% 100%);
}

.btn-other {
    border-style: solid;
    border-radius: 0;
    border-color:transparent;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.btn-addnew {
    color: #dddddd;
    background-color: transparent;
    border-color: #eeeeee;
    padding-top: 1.2em !important;
}

.btn-empty {
    color: #aaaaaa;
    background-color: #ffffff;
    border-color: #ccc;
    padding-top: 1.2em !important;
}

.btn-empty::after {
    content: 'Empty'
}

.cutterstructure a.btn {
    padding: 0;
}

.cutterstructure a.pocket.s1 {
    width: 1.5em;
    height: 1.5em;
}

.cutterstructure a.pocket.s2 {
    width: 2em;
    height: 2em;
}

.cutterstructure a.pocket.s3 {
    width: 2.5em;
    height: 2.5em;
}

.cutterstructure a.pocket.s4 {
    width: 3em;
    height: 3em;
}

.cutterstructure a.pocket.s5 {
    width: 3.5em;
    height: 3.5em;
}

.cutterstructure a.pocket.s6 {
    width: 4em;
    height: 4em;
}

.cutterstructure a.pocket.s7 {
    width: 4.5em;
    height: 4.5em;
}

.cutterstructure a.pocket.s8 {
    width: 5em;
    height: 5em;
}

.cutterstructure a.pocket.s9 {
    width: 5.5em;
    height: 5.5em;
}

.cutterstructure a.pocket.s10 {
    width: 6em;
    height: 6em;
}

.cutterstructure a.pocket.s11 {
    width: 6.5em;
    height: 6.5em;
}


/* pocket sizes used for bigger differences in size */

.cutterstructure.bigdiff a.pocket.s2 {
    width: 1em;
    height: 1em;
}

.cutterstructure.bigdiff a.pocket.s3 {
    width: 2em;
    height: 2em;
}

.cutterstructure.bigdiff a.pocket.s4 {
    width: 3em;
    height: 3em;
}

.cutterstructure.bigdiff a.pocket.s5 {
    width: 4em;
    height: 4em;
}

.cutterstructure.bigdiff a.pocket.s6 {
    width: 5em;
    height: 5em;
}

.cutterstructure.bigdiff a.pocket.s7 {
    width: 6em;
    height: 6em;
}

.cutterstructure.bigdiff a.pocket.s8 {
    width: 7em;
    height: 7em;
}

.cutterstructure.bigdiff a.pocket.s9 {
    width: 8em;
    height: 8em;
}

.cutterstructure.bigdiff a.pocket.s10 {
    width: 9em;
    height: 9em;
}


/* End  */

.select-key a {
    background-color: #aaaaaa;
    color:white;
}

.select-key a:hover {
    background-color: #bbbbbb;
}

.select-key .type > a {
    color: white;
    display: inline-block;
    margin: .2em;
    vertical-align: middle;
    padding-top: 17px;
    width: 60px;
    height: 60px;
    font-size: .65em;
}

.select-key .type > a.active {
    border-bottom: 3px solid darkred;
    border-top: 3px solid darkred;
    color: darkred;
}

.select-key .type .active-cutter > a.active {
    border-bottom: 3px solid darkred;
    border-top: 3px solid darkred;
    color: darkred;
}

.select-key .type > a.key-cutter {
    border-radius: 5.5em;
}

.select-key .type > a.key-dome {
    border-radius: 5.5em 5.5em 0 0;
}

.select-key .type > a.key-replaceabledome {
    border-radius: 5.5em 5.5em 0 0;
    background-image: url(/images/cutters/hole-for-replaceabledome.png);
    background-position: 50% 94%;
    background-size: 1.4em;
    background-repeat: no-repeat;
}

.select-key .type > a.key-rubbingblock {
    border-radius: 1em;
}
.select-key .type > a.key-sharktooth {
    border-radius: 0;
    -webkit-clip-path: polygon(100% 100%, 100% 80%, 100% 61%, 99% 54%, 97% 47%, 60% -20%, 40% -20%, 3% 47%, 1% 52%, 0 61%, 0 80%, 0% 100%);
    clip-path: polygon(100% 100%, 100% 80%, 100% 61%, 99% 54%, 97% 47%, 60% -20%, 40% -20%, 3% 47%, 1% 52%, 0 61%, 0 80%, 0% 100%);
}
.select-key .type > a.key-other {
    border-radius: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.select-key .size a {
    color: white;
    display: inline-block;
    margin: .2em;
    vertical-align: middle;
    padding-top: 0.3em;
}

.select-key .size a.active {
    border-bottom: 3px solid darkred;
    border-top: 3px solid darkred;
    color: darkred;
}

.select-key .size a.s1 {
    width: 1.5em;
    height: 1.5em;
}

.select-key .size a.s2 {
    width: 2em;
    height: 2em;
}

.select-key .size a.s3 {
    width: 2.5em;
    height: 2.5em;
}

.select-key .size a.s4 {
    width: 3em;
    height: 3em;
}

.select-key .size a.s5 {
    width: 3.5em;
    height: 3.5em;
}

.select-key .size a.s6 {
    width: 4em;
    height: 4em;
}

.select-key .size a.s7 {
    width: 4.5em;
    height: 4.5em;
}

.select-key .size a.s8 {
    width: 5em;
    height: 5em;
}

.select-key .size a.s9 {
    width: 5.5em;
    height: 5.5em;
}

.select-key .size a.s10 {
    width: 6em;
    height: 6em;
}

.select-key .size a.s11 {
    width: 6.5em;
    height: 6.5em;
}


/* pocket sizes used for bigger differences in size */

.select-key.bigdiff .size a.s2 {
    width: 1em;
    height: 1em;
}

.select-key.bigdiff .size a.s3 {
    width: 2em;
    height: 2em;
}

.select-key.bigdiff .size a.s4 {
    width: 3em;
    height: 3em;
}

.select-key.bigdiff .size a.s5 {
    width: 4em;
    height: 4em;
}

.select-key.bigdiff .size a.s6 {
    width: 5em;
    height: 5em;
}

.select-key.bigdiff .size a.s7 {
    width: 6em;
    height: 6em;
}

.select-key.bigdiff .size a.s8 {
    width: 7em;
    height: 7em;
}

.select-key.bigdiff .size a.s9 {
    width: 8em;
    height: 8em;
}

.select-key.bigdiff .size a.s10 {
    width: 9em;
    height: 9em;
}


/* End  */

.trash {
    width: 4.5em;
    height: 6.5em;
    background-image: url(/images/cutters/trash.png);
    text-align: center;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.trash:hover {
    width: 4.5em;
    height: 6.5em;
    background-image: url(/images/cutters/trash.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    opacity: .8;
}

.trash.active {
    background-image: url(/images/cutters/trash-active.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

a.text-lightlink {
    color: #dddddd;
}

a.text-lightlink:hover {
    color: #ffffff;
}

a.text-lightlink-danger {
    color: red;
}

a.text-lightlink-danger:hover {
    color: lightcoral;
}

.cutterstructure .btn-cutter.btn-default:hover,
.cutterstructure .btn-dome.btn-default:hover,
.cutterstructure .btn-replaceabledome.btn-default:hover,
.cutterstructure .btn-rubbingblock.btn-default:hover {
    color: #333;
    background-color: #888;
    border-color: #5d5d5d;
}
.cutterstructure .btn-sharktooth.btn-default:hover {
    color: #333;
    background-color:#888;
    border-color:#888;
}
.cutterstructure .btn-key-other.btn-default:hover {
    color:#333;
    background-color:#888;
    border-color:#888;
}

hr.tight {
    margin: 0px 0 4px 0;
    border-top: 2px solid #dddddd;
}

.text-danger.text-darklink {
    color: #840604;
}

.text-danger.text-darklink:hover {
    color: #a00b08;
}

.maroon {
    color: maroon
}

.green {
    color: green;
}

.chartreuse {
    color: chartreuse;
}

.smallsize {
    font-size: .6em;
    padding: 0px 3px;
    border-radius: 10px;
}

.btn-default .smallsize {
    color: #eaeaea;
    background-color: #888;
}

.btn-default:hover .smallsize {
    color: #eaeaea;
    background-color: #5d5d5d;
}

.btn-info .smallsize {
    background-color: #888;
}

.btn-info:hover .smallsize {
    background-color: #5d5d5d;
}

.btn-danger .smallsize {
    color: #ffbfbf;
    background-color: #d43f3a;
}

.btn-danger:hover .smallsize {
    color: #ffbfbf;
    background-color: #ac2925;
}

.condition-style {
    color: #ffffff;
    font-weight: bold;
}

.action-style {
    color: #ffffff;
    font-weight: bold;
}

.colorkeyitem {
    background-color: #4984ff;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    display: inline-block;
    color: white;
    padding: 3px 0px;
    margin: 3px auto -1px auto;
    text-align: center;
    background-color:#e4e4e4;
}

/* red, realorange, orange, green, brightgreen, blue, purple, pink, brown, lightgreen, lightblue  */

/* lightblue button */

.cutterstructure .btn-default.btn-lightblue {
    background-color: #4984ff;
    border-color: #3b6bd0;
}

.cutterstructure .btn-default.btn-lightblue:hover {
    background-color: #3b6bd0;
    border-color: #2c509b;
}

.btn-default.btn-lightblue .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #2c509b;
}

.btn-default.btn-lightblue:hover .smallsize {
    background-color: #3b6bd0;
}

.colorkeyitem.lightblue {
    background-color: #4984ff;
}

/* red button */

.cutterstructure .btn-default.btn-red {
    background-color: rgb(219, 62, 77);
    border-color: rgb(160, 43, 54);
}

.cutterstructure .btn-default.btn-red:hover {
    background-color: rgb(185, 53, 66);
    border-color: rgb(115, 34, 42);
}

.btn-default.btn-red .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: rgb(160, 43, 54);
}

.btn-default.btn-red:hover .smallsize {
    background-color: rgb(115, 34, 42);
}

.colorkeyitem.red {
    background-color: rgb(219, 62, 77);
}

/* realorange button */

.cutterstructure .btn-default.btn-realorange {
    background-color: #ff8e1f;
    border-color: #ba6715;
}

.cutterstructure .btn-default.btn-realorange:hover {
    background-color: #ba6715;
    border-color: #864a0f;
}

.btn-default.btn-realorange .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #ba6715;
}

.btn-default.btn-realorange:hover .smallsize {
    background-color: #864a0f;
}

.colorkeyitem.realorange {
    background-color: #ff8e1f;
}

/* orange button */

.cutterstructure .btn-default.btn-orange {
    background-color: #ff977d;
    border-color: #c77562;
}

.cutterstructure .btn-default.btn-orange:hover {
    background-color: #de836e;
    border-color: #a05e4e;
}

.btn-default.btn-orange .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #c77562;
}

.btn-default.btn-orange:hover .smallsize {
    background-color: #a05e4e;
}

.colorkeyitem.orange {
    background-color: #ff977d;
}


/* green button */

.cutterstructure .btn-default.btn-green {
    background-color: #36a692;
    border-color: #2a8070;
}

.cutterstructure .btn-default.btn-green:hover {
    background-color: #2d8a79;
    border-color: #22695c;
}

.btn-default.btn-green .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #2a8070;
}

.btn-default.btn-green:hover .smallsize {
    background-color: #22695c;
}

.colorkeyitem.green {
    background-color: #36a692;
}

/* brightgreen button */

.cutterstructure .btn-default.btn-brightgreen {
    background-color: #00a504;
    border-color: #007703;
}

.cutterstructure .btn-default.btn-brightgreen:hover {
    background-color: #007703;
    border-color: #005702;
}

.btn-default.btn-brightgreen .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #007703;
}

.btn-default.btn-brightgreen:hover .smallsize {
    background-color: #007703;
}

.colorkeyitem.brightgreen {
    background-color: #00a504;
}

/* blue button */

.cutterstructure .btn-default.btn-blue {
    background-color: #3157a7;
    border-color: #26427d;
}

.cutterstructure .btn-default.btn-blue:hover {
    background-color: #2f5096;
    border-color: #1e325f;
}

.btn-default.btn-blue .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #26427d;
}

.btn-default.btn-blue:hover .smallsize {
    background-color: #1e325f;
}

.colorkeyitem.blue {
    background-color: #3157a7;
}


/* purple button */

.cutterstructure .btn-default.btn-purple {
    background-color: #8c3d88;
    border-color: #5d295a;
}

.cutterstructure .btn-default.btn-purple:hover {
    background-color: #7b3777;
    border-color: #461f44;
}

.btn-default.btn-purple .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #5d295a;
}

.btn-default.btn-purple:hover .smallsize {
    background-color: #461f44;
}

.colorkeyitem.purple {
    background-color: #8c3d88;
}


/* pink button */

.cutterstructure .btn-default.btn-pink {
    background-color: #e4a9c9;
    border-color: #b98aa3;
}

.cutterstructure .btn-default.btn-pink:hover {
    background-color: #d6a1bd;
    border-color: #805f70;
}

.btn-default.btn-pink .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #b98aa3;
}

.btn-default.btn-pink:hover .smallsize {
    background-color: #805f70;
}

.colorkeyitem.pink {
    background-color: #e4a9c9;
}


/* brown button */

.cutterstructure .btn-default.btn-brown {
    background-color: #937365;
    border-color: #5d4840;
}

.cutterstructure .btn-default.btn-brown:hover {
    background-color: #7d6257;
    border-color: #483832;
}

.btn-default.btn-brown .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #5d4840;
}

.btn-default.btn-brown:hover .smallsize {
    background-color: #483832;
}

.colorkeyitem.brown {
    background-color: #937365;
}


/* lightpurple button */

.cutterstructure .btn-default.btn-lightpurple {
    background-color: #dc00d1;
    border-color: #a900a1;
}

.cutterstructure .btn-default.btn-lightpurple:hover {
    background-color: #a900a1;
    border-color: #7d0077;
}

.btn-default.btn-lightpurple .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: #a900a1;
}

.btn-default.btn-lightpurple:hover .smallsize {
    background-color: #7d0077;
}

.colorkeyitem.lightpurple {
    background-color: #dc00d1;
}


/* NEW (pull cutters) but not set */

.btn-default.btn-newnotset {
    background-color: #999999 !important;
    border-color: #999999 !important;
    color: #ffffff !important;
}

.btn-default.btn-newnotset:hover {
    background-color: #666666 !important;
    border-color: #666666 !important;
    color: #ffffff !important;
}

.btn-default.btn-newnotset .smallsize {
    color: #ffffff;
    background-color: transparent;
}

.btn-default.btn-newnotset:hover .smallsize {
    color: #ffffff;
    background-color: transparent;
}


/* NOT ACTIVE */

.btn-notactive {
    background-color: #cdcdcd !important;
    border-color: #cdcdcd !important;
    color: #cdcdcd !important;
}

.btn-notactive::after {
    content: '' !important;
}

.btn-default.btn-notactive .smallsize {
    color: #ffffff;
    background-color: transparent;
}

.btn-default.btn-notactive:hover .smallsize {
    color: #ffffff;
    background-color: transparent;
}

.btn-default.btn-notactive div:nth-of-type(2) span {
    color: #efefef !important;
}


/* For Braze Container */

#BrazeContainer .cutterstructure h2 {
    margin: 0px;
}

#BrazeContainer .cutterstructure .panel-heading {
    padding: 5px 9px;
}

#BrazeContainer .cutterstructure .panel-body {
    padding: 0px 0px 9px 0px;
}

#BrazeContainer .cutterstructure .panel {
    margin-bottom: 10px;
}

#DullgradeContainer .cutterstructure h2 {
    margin: 0px;
}

#DullgradeContainer .cutterstructure .panel-heading {
    padding: 5px 9px;
}

#DullgradeContainer .cutterstructure .panel-body {
    padding: 0px 0px 9px 0px;
}

#DullgradeContainer .cutterstructure .panel {
    margin-bottom: 10px;
}

 /*For Markup Container */

#MarkupContainer.cutterstructure h2 {
    margin: 0px;
}

#MarkupContainer.cutterstructure .panel-heading {
    padding: 5px 9px;
}

#MarkupContainer.cutterstructure .panel-body {
    padding: 0px 7px 9px 0px;
}

#MarkupContainer.cutterstructure .panel {
    margin-bottom: 10px;
}

@media (min-width: 1200px){
    #MarkupContainer.cutterstructure .row-horizon .col-lg-2 {
        width: 11%
    }
}

@media (min-width: 1200px){
    .col-lg-3.lgrow {
        width: 24.5% !important
    }
}

@media (min-width: 1200px){
    .col-lg-4.lgblade {
        width: 20% !important
    }
}

@media (min-width: 1200px){
    #MarkupContainer.cutterstructure .row-horizon .col-lg-3 {
        width: 16.5%
    }
}

@media (min-width: 1200px){
    #MarkupContainer.cutterstructure .row-horizon .col-lg-4 {
        width: 33.33333%
    }
}


/* REMOVE BELOW AFTER TESTING */


/* red button */

.cutterstructure .btn-default.btn-red {
    background-color: rgb(219, 62, 77);
    border-color: rgb(160, 43, 54);
}

.cutterstructure .btn-default.btn-red:hover {
    background-color: rgb(185, 53, 66);
    border-color: rgb(115, 34, 42);
}

.btn-default.btn-red .smallsize {
    color: rgba(255, 255, 255, .7);
    background-color: rgb(160, 43, 54);
}

.btn-default.btn-red:hover .smallsize {
    background-color: rgb(115, 34, 42);
}

.colorkeyitem.red {
    background-color: rgb(219, 62, 77);
}

body.printview {
    background: #ffffff;
}

.panel.grouplevel > .panel-heading {
    background: #666666;
    color: #ffffff;
}

.panel.grouplevel > .panel-body {
    background: #ffffff;
}

.panel.grouplevel > .panel-heading {
    border-color: #666666;
}

.blade-label {
    margin: 0px 0px -8px -6px !important;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 3px;
}

@media print {
    .cutterstructure .btn-cutter.btn-default,
    .cutterstructure .btn-dome.btn-default,
    .cutterstructure .btn-replaceabledome.btn-default,
    .cutterstructure .btn-rubbingblock.btn-default {
        color: #ffffff !important;
        background-color: #bbb !important;
        border-color: #969696;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure btn-sharktooth.btn-default {
        color: #ffffff !important;
        background-color: #bbb !important;
        border-color: #bbb;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure btn-other.btn-default {
        color: #ffffff !important;
        background-color: #bbb !important;
        border-color: #bbb;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure.bigdiff a.pocket.s2 {
        width: 2.2em;
        height: 2.2em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s3 {
        width: 2.4em;
        height: 2.4em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s4 {
        width: 2.6em;
        height: 2.6em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s5 {
        width: 2.8em;
        height: 2.8em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s6 {
        width: 3em;
        height: 3em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s7 {
        width: 3.2em;
        height: 3.2em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s8 {
        width: 3.4em;
        height: 3.4em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s9 {
        width: 3.6em;
        height: 3.6em;
        font-size: 1.4em !important;
    }
    .cutterstructure.bigdiff a.pocket.s10 {
        width: 3.8em;
        height: 3.8em;
        font-size: 1.4em;
    }
    a.text-lightlink {
        color: #dddddd !important;
    }
    -webkit-print-color-adjust: exact;
    a.text-lightlink:hover {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    a.text-lightlink-danger {
        color: red !important;
        -webkit-print-color-adjust: exact;
    }
    a.text-lightlink-danger:hover {
        color: lightcoral !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-cutter.btn-default:hover,
    .cutterstructure .btn-dome.btn-default:hover,
    .cutterstructure .btn-replaceabledome.btn-default:hover,
    .cutterstructure .btn-rubbingblock.btn-default:hover {
        color: #333 !important;
        background-color: #888 !important;
        border-color: #5d5d5d !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-sharktooth.btn-default:hover {
        color: #333 !important;
        background-color: #888 !important;
        border-color: #888 !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-other.btn-default:hover {
        color: #333 !important;
        background-color: #888 !important;
        border-color: #888 !important;
        -webkit-print-color-adjust: exact;
    }
    hr.tight {
        margin: 0px 0 4px 0 !important;
        border-top: 2px solid #dddddd !important;
        -webkit-print-color-adjust: exact;
    }
    .text-danger.text-darklink {
        color: #840604 !important;
        -webkit-print-color-adjust: exact;
    }
    .text-danger.text-darklink:hover {
        color: #a00b08 !important;
        -webkit-print-color-adjust: exact;
    }
    .maroon {
        color: maroon !important;
        -webkit-print-color-adjust: exact;
    }
    .green {
        color: green !important;
        -webkit-print-color-adjust: exact;
    }
    .smallsize {
        font-size: .6em !important;
        padding: 0px 3px !important;
        border-radius: 10px !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default .smallsize {
        color: #eaeaea !important;
        background-color: #888 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default:hover .smallsize {
        color: #eaeaea !important;
        background-color: #5d5d5d !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-info .smallsize {
        background-color: #888 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-info:hover .smallsize {
        background-color: #5d5d5d !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-danger .smallsize {
        color: #ffbfbf !important;
        background-color: #d43f3a !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-danger:hover .smallsize {
        color: #ffbfbf !important;
        background-color: #ac2925 !important;
        -webkit-print-color-adjust: exact;
    }
    .condition-style {
        color: #ffffff !important;
        font-weight: bold !important;
        -webkit-print-color-adjust: exact;
    }
    .action-style {
        color: #ffffff !important;
        font-weight: bold !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem {
        height: 25px !important;
        width: 25px !important;
        border-radius: 25px !important;
        display: inline-block !important;
        color: white !important;
        padding: 3px 0px !important;
        margin: 3px auto -1px auto !important;
        text-align: center !important;
        -webkit-print-color-adjust: exact;
    }
    /* red button */
    .cutterstructure .btn-default.btn-red {
        background-color: rgb(219, 62, 77) !important;
        border-color: rgb(160, 43, 54) !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-red:hover {
        background-color: rgb(185, 53, 66) !important;
        border-color: rgb(115, 34, 42) !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-red .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: rgb(160, 43, 54) !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-red:hover .smallsize {
        background-color: rgb(115, 34, 42) !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.red {
        background-color: rgb(219, 62, 77) !important;
        -webkit-print-color-adjust: exact;
    }
    /* orange button */
    .cutterstructure .btn-default.btn-orange {
        background-color: #ff977d !important;
        border-color: #c77562 !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-orange:hover {
        background-color: #de836e !important;
        border-color: #a05e4e !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-orange .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #c77562 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-orange:hover .smallsize {
        background-color: #a05e4e !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.orange {
        background-color: #ff977d !important;
        -webkit-print-color-adjust: exact;
    }
    /* green button */
    .cutterstructure .btn-default.btn-green {
        background-color: #36a692 !important;
        border-color: #2a8070 !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-green:hover {
        background-color: #2d8a79 !important;
        border-color: #22695c !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-green .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #2a8070 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-green:hover .smallsize {
        background-color: #22695c !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.green {
        background-color: #36a692 !important;
        -webkit-print-color-adjust: exact;
    }
    /* blue button */
    .cutterstructure .btn-default.btn-blue {
        background-color: #3157a7 !important;
        border-color: #26427d !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-blue:hover {
        background-color: #2f5096 !important;
        border-color: #1e325f !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-blue .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #26427d !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-blue:hover .smallsize {
        background-color: #1e325f !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.blue {
        background-color: #3157a7 !important;
        -webkit-print-color-adjust: exact;
    }
    /* purple button */
    .cutterstructure .btn-default.btn-purple {
        background-color: #8c3d88 !important;
        -webkit-print-color-adjust: exact;
        border-color: #5d295a !important;
    }
    .cutterstructure .btn-default.btn-purple:hover {
        background-color: #7b3777 !important;
        border-color: #461f44 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-purple .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #5d295a !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-purple:hover .smallsize {
        background-color: #461f44 !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.purple {
        background-color: #8c3d88 !important;
        -webkit-print-color-adjust: exact;
    }
    /* pink button */
    .cutterstructure .btn-default.btn-pink {
        background-color: #e4a9c9 !important;
        border-color: #b98aa3 !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-pink:hover {
        background-color: #d6a1bd !important;
        border-color: #805f70 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-pink .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #b98aa3 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-pink:hover .smallsize {
        background-color: #805f70 !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.pink {
        background-color: #e4a9c9 !important;
        -webkit-print-color-adjust: exact;
    }
    /* brown button */
    .cutterstructure .btn-default.btn-brown {
        background-color: #937365 !important;
        border-color: #5d4840 !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-brown:hover {
        background-color: #7d6257 !important;
        border-color: #483832 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-brown .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #5d4840 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-brown:hover .smallsize {
        background-color: #483832 !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.brown {
        background-color: #937365 !important;
        -webkit-print-color-adjust: exact;
    }
    /* lightgreen button */
    .cutterstructure .btn-default.btn-lightgreen {
        background-color: #99c141 !important;
        border-color: #68842d !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-lightgreen:hover {
        background-color: #84a73b !important;
        border-color: #586f27 !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-lightgreen .smallsize {
        color: rgba(255, 255, 255, .7) !important;
        background-color: #68842d !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-lightgreen:hover .smallsize {
        background-color: #586f27 !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.lightgreen {
        background-color: #99c141 !important;
        -webkit-print-color-adjust: exact;
    }
    /* NEW (pull cutters) but not set */
    .btn-default.btn-newnotset {
        background-color: #999999 !important;
        border-color: #999999 !important;
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-newnotset:hover {
        background-color: #666666 !important;
        border-color: #666666 !important;
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-newnotset .smallsize {
        color: #ffffff !important;
        background-color: transparent !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-newnotset:hover .smallsize {
        color: #ffffff !important;
        background-color: transparent !important;
        -webkit-print-color-adjust: exact;
    }
    /* NOT ACTIVE */
    .btn-notactive {
        background-color: #cdcdcd !important;
        border-color: #cdcdcd !important;
        color: #cdcdcd !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-notactive::after {
        content: '' !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-notactive .smallsize {
        color: #ffffff !important;
        background-color: transparent !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-notactive:hover .smallsize {
        color: #ffffff !important;
        background-color: transparent !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-notactive div:nth-of-type(2) span {
        color: #efefef !important;
        -webkit-print-color-adjust: exact;
    }
    /* For Braze Container */
    #BrazeContainer .cutterstructure h2 {
        margin: 0px;
        -webkit-print-color-adjust: exact;
    }
    #BrazeContainer .cutterstructure .panel-heading {
        padding: 5px 9px;
        -webkit-print-color-adjust: exact;
    }
    #BrazeContainer .cutterstructure .panel-body {
        padding: 0px 0px 7px 3px;
        -webkit-print-color-adjust: exact;
    }
    #BrazeContainer .cutterstructure .panel {
        margin-bottom: 10px;
        -webkit-print-color-adjust: exact;
    }
    /* For Dullgrade Container */
    #DullgradeContainer .cutterstructure h2 {
        margin: 0px;
        -webkit-print-color-adjust: exact;
    }
    #DullgradeContainer .cutterstructure .panel-heading {
        padding: 5px 9px;
        -webkit-print-color-adjust: exact;
    }
    #DullgradeContainer .panel-body {
        padding: 0px 0px 7px 3px;
        -webkit-print-color-adjust: exact;
    }
    #DullgradeContainer .cutterstructure .panel {
        margin-bottom: 10px;
        -webkit-print-color-adjust: exact;
    }
    /* REMOVE BELOW AFTER TESTING */
    /* red button */
    .cutterstructure .btn-default.btn-red {
        background-color: rgb(219, 62, 77) !important;
        border-color: rgb(160, 43, 54) !important;
        -webkit-print-color-adjust: exact;
    }
    .cutterstructure .btn-default.btn-red:hover {
        background-color: rgb(185, 53, 66) !important;
        border-color: rgb(115, 34, 42) !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-red .smallsize {
        color: rgba(255, 255, 255, .7);
        background-color: rgb(160, 43, 54) !important;
        -webkit-print-color-adjust: exact;
    }
    .btn-default.btn-red:hover .smallsize {
        background-color: rgb(115, 34, 42) !important;
        -webkit-print-color-adjust: exact;
    }
    .colorkeyitem.red {
        background-color: rgb(219, 62, 77) !important;
        -webkit-print-color-adjust: exact;
    }
    body.printview {
        background: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .panel.grouplevel > .panel-heading {
        background: #666666 !important;
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .panel.grouplevel > .panel-body {
        background: #666666 !important;
        -webkit-print-color-adjust: exact;
    }
    .panel.bladelevel > .panel-body {
        background: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .panel.grouplevel > .panel-heading {
        border-color: #666666 !important;
        -webkit-print-color-adjust: exact;
    }
    .action-style {
        color: #ffffff !important;
        font-weight: bold;
        -webkit-print-color-adjust: exact;
    }
    .printContainer {
        display: none !important;
    }
    .pageoverlay {
        position: fixed !important;
        width: 100% !important;
        min-height: 100% !important;
        background: white !important;
        z-index: 99999 !important;
        left: 0 !important;
        top: 0 !important;
    }
    .blade-label {
        margin: -6px 0px -17px -15px !important;
        background-color: white !important;
        border-radius: 5px !important;
        padding-left: 3px !important;
        -webkit-print-color-adjust: exact;
    }
    .panel-default {
        border-color: #666666 !important;
        -webkit-print-color-adjust: exact;
    }
    .toolinfo-print .cuttingdiameter {
        color: darkred !important;
        -webkit-print-color-adjust: exact;
    }
    .toolinfo-print .printdate {
        color: #aaaaaa !important;
        -webkit-print-color-adjust: exact;
    }
    #BrazeContainer .cutterstructure h2 {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    #BrazeContainer .cutterstructure .btn-default {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    #DullgradeContainer .cutterstructure h2 {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    #DullgradeContainer .cutterstructure .btn-default {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    hr.tight {
        margin: 0px 0 1px 0 !important;
        border-top: 2px solid #dddddd !important;
    }
}

.pageoverlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: white;
    z-index: 99999;
    left: 0;
    top: 0;
}

.toolinfo-print .serial {
    font-weight: bold;
    font-size: 2em;
}

.toolinfo-print .cuttingdiameter {
    color: darkred;
}

.toolinfo-print .printdate {
    color: #aaaaaa;
}

#BrazeContainer .cutterstructure .btn {
    margin-bottom: 1px;
    margin-right: 1px;
}

#BrazeContainer .cutterstructure .well {
    margin-bottom: 2px;
}
#DullgradeContainer .cutterstructure .btn {
    margin-bottom: 1px;
    margin-right: 1px;
}

#DullgradeContainer .cutterstructure .well {
    margin-bottom: 2px;
}

.bold {
    font-weight: bold;
}

.alert-dismissible .close {
    color: #000000;
}

a.profilepic-rounded {
    width: 120px;
    height: 120px;
    max-width: 100%;
    display: inline-block;
    background-position: center;
    background-size: 130% 100%;
    border-radius: 400px;
    border: 2px solid #cccccc;
}

a.profilepic-rounded:hover {
    width: 120px;
    height: 120px;
    max-width: 100%;
    display: inline-block;
    background-position: center;
    background-size: 200% 180%;
    border-radius: 400px;
    border: 2px solid #cccccc;
    background-color: black;
    opacity: .6;
}

.user-icon-container span {
    font-size: 1.3em;
}

.nav-sm .container.body .col-md-3.left_col {
    z-index: 1040;
}

.alert-default {
    border: 1px solid #cccccc;
}

.list-authenticated-users .alert {
    padding: 6px;
    height: 53px;
}

.list-authenticated-users .alert .img {
    height: 39px;
    width: 39px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 3px;
    margin-right: 7px;
}

.authenticated-user-label .img {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 3px;
    margin-right: 7px;
    display: inline-block;
    margin-bottom: -9px;
}

.authenticated-user-label .name {
    font-size: 1.5em;
}

.fullscreen .authenticated-user-label .img {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 3px;
    margin-right: 7px;
    display: inline-block;
    margin-bottom: -9px;
}

.fullscreen .authenticated-user-label .name {
    font-size: 2em;
}

.dnr-container .angucomplete-row {
    padding: 12px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
    font-size: 1.2em;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: #8e00ff;
    color: white;
    padding: 1%;
    margin-left: 0%;
}

.timer {
    margin: .9em;
    font-size: 1.2em;
}

.fullscreen {
    background-color: #8e00ff;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1040;
    color: white;
    padding: 10%;
}

.fullscreen .maintitle {
    color: #a535ff;
    font-weight: bold;
    font-size: 4.5em;
}

.fullscreen .time {
    font-size: 3.1em;
    font-weight: bold;
    padding: .4em;
}

.fullscreen .stopbutton button {
    font-weight: bold;
}

.fullscreen .stopbutton button span.top {
    font-size: 2.3em;
}

.fullscreen .stopbutton button span.bottom {
    font-size: .6em;
}

.fullscreen h2 {
    color: #7b0fd2;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 0px;
}

.fullscreen .tool {
    font-size: 2em;
    color: #e197ff;
}

hr.header-underline {
    border-color: #8519dc;
    margin-top: 0px;
    border-width: 2px;
}

.fullscreen a.link {
    color: #470080;
    font-size: 1.3em;
}

.fullscreen a.link:hover {
    color: #000000;
}

.dnr-container {
    background: #F7F7F7;
    padding: 10px 20px;
    z-index: 2;
}

body.nosidemenu-notop {
    background: #f7f7f7;
}

.row section {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.keypad button {
    font-size: 3em
}

.angu-serial {
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
}

.angu-status {
    display: inline-block;
}

.angucomplete-dropdown {
    width: 100%;
}

.angucomplete-row {
    padding: 25px;
}

.row.keypad .col-xs-4 {
    padding-right: 2px;
    padding-left: 2px;
}

.row.keypad .col-xs-12 {
    padding-right: 2px;
    padding-left: 2px;
}

.row.keypad button {
    margin-bottom: 4px;
}

.loading-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
    z-index: 9999998;
    background: rgba(255, 255, 255, .5);
    color: #00b6ff;
    font-size: 9.3em;
    line-height: .5em;
}

.btn-text-left {
    text-align: left !important;
}

.alert-primary {
    background-color: #1967be;
    border-color: #1862b5;
    color: #ffffff;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
    padding-left: 35px;
}

#modalSetConditionActionCutter div.col-xs-4 {
    padding-left: 2px;
    padding-right: 2px;
}

a.activePocket {
    z-index:999;
}

.activePocket .condition-style, .activePocket .action-style {
    color:#ff0000 !important;
}

.activePocket::after {
    background-image: url(/images/arrow-up.png);
    background-size: 75% 64%;
    background-position: 50% 0%;
    content: '-------';
    color: transparent;
    background-repeat: no-repeat;
}

.button-xl {
    padding: 60px 8%;
    font-size: 1.5em;
}

.blur-it {
    filter: blur(40px);
}

.blur-it-low {
    filter: blur(10px);
}

.lgblade {
    width:auto;
}

.diff-sizing .lgblade .lgrow {
    width: 85px;
    display: inline-block;
    vertical-align: top;
}

.diff-sizing .lgrow {
    display: inline-block;
    vertical-align: top;
}

.switch {
  position: relative;
    display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.redBackground {
    background-color: red !important
}

a:hover, a:focus {
    text-decoration: none;
}

.cutter-side-pocket {
    position: absolute;
    top: 9px;
    right: 19px;
    text-align: right;
    font-size: 1.5em;
    line-height: .8em;
}

.cutter-side-pocket a {
    color: rgba(86, 86, 86, 0.29);
}
.cutter-side-pocket a:hover, .cutter-side-pocket a:active, .cutter-side-pocket a:focus {
    color: rgba(86, 86, 86, 0.58);
}

.cutter-side-pocket a.active {
    color:#ff0039;
}
.cutter-side-pocket a.active:hover, .cutter-side-pocket a.active:active, .cutter-side-pocket a.active:focus {
    color: rgb(185, 0, 0);
}

.div {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
}

.div-default {
    color: #ffffff;
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

.div-block {
    display: block;
    width: 100%;
}

.div-invisible {
    opacity:.5;
}

.div-invisible .cutter-side-pocket a {
    opacity: 1;
}

#clearOptions {
    position: absolute;
    right: 3%;
    top: 1%;
    background: none;
    color: #c1c1c1;
    font-size: 21px;
    padding-top: 0px;
    text-align: right;
    width: 22px;
    height: 31px;
}
#clearOptions:hover, #clearOptions:active, #clearOptions:focus {
    color:#8c8c8c;
}

.bit.snug .blade-container {
    display:inline-block;
    margin: 0px 1px;
    vertical-align: top;
    border: 1px solid #cecece;
}

.bit.snug .blade-container .lgrow {
    width:60px;
}

.bit.snug .flamespray {
    border-style:solid;
    border-color:black;
}

.bit.flatLg .blade-container {
    display:grid;
    margin: 0px 1px;
    vertical-align: top;
    border: 1px solid #cecece;
}

.bit.flatLg .blade-container .lgrow {
    width:115px;
}

.bit.flatLg .flamespray {
    border-style:solid;
    border-color:black;
}

.no-leftright-padding {
    padding-left:0px;
    padding-right:0px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

#DullgradeContainer .bit.cutterstructure.snug .panel-body {
    padding-left:1px;
    padding-right:1px;
}

#DullgradeContainer .bit.cutterstructure.snug .panel {
    margin-bottom:0;
}

.bglight .bit.cutterstructure.snug .panel-default.lighter .panel-body {
    background-color: transparent;
}

.row-qty-lg .not-original .exclamation-icon {
    margin-left: 22px;
    margin-top: 21px !important;
    width: 8px;
    height: 9px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: -30px;
}
.row-qty-lg .not-original .exclamation-icon i {
    font-size: 0.6em;
    display: inherit;
    color:white;
}

/* if Bit has more than X amount of columns */
.bit.snug.row-qty-lg .blade-container .lgrow {
    width:40px;
}

.bit.snug.row-qty-lg .blade-container .lgrow .pocket {
    width:40px;
    height:40px;
}

.bit.snug.row-qty-lg .pocket div:nth-of-type(1) span {
    font-size:11px;
}

.bit.snug.row-qty-lg .pocket div:nth-of-type(2) span {
    font-size:14px;
}

.bit.snug.row-qty-lg .btn-replaceabledome {
    background-position: 50% 115%;
    background-size: 1em;
    border-width:.2em;
}
.bit.snug.row-qty-lg .btn-dome {
    border-width:.2em;
}
.bit.snug.row-qty-lg .btn-cutter {
    border-width:.2em;
}
.bit.snug.row-qty-lg .btn-rubbingblock {
    border-width:.2em;
}
.bit.snug.row-qty-lg .btn-sharktooth {
    border-width:.2em;
}
.bit.snug.row-qty-lg .btn-other {
    border-width:.2em;
}

.bit.snug.row-qty-lg .flamespray {
    border-width:4px;
}

.bit.snug .flamespray {
    border-width:6px;
    border-style:solid;
}

/* if Bit has more than X amount of columns */
.bit.flatLg.row-qty-lg .blade-container .lgrow {
    width:100px;
}

.bit.flatLg.row-qty-lg .blade-container .lgrow .pocket {
    width:90px;
    height:90px;
}

.bit.flatLg.row-qty-lg .pocket div:nth-of-type(1) span {
    font-size:25px;
}

.bit.flatLg.row-qty-lg .pocket div:nth-of-type(2) span {
    font-size:25px;
}

.bit.flatLg.row-qty-lg .btn-replaceabledome {
    background-position: 50% 115%;
    background-size: 1em;
    border-width:.2em;
}
.bit.flatLg.row-qty-lg .btn-dome {
    border-width:.2em;
}
.bit.flatLg.row-qty-lg .btn-cutter {
    border-width:.2em;
}
.bit.flatLg.row-qty-lg .btn-rubbingblock {
    border-width:.2em;
}
.bit.flatLg.row-qty-lg .btn-sharktooth {
    border-width:.2em;
}
.bit.flatLg.row-qty-lg .btn-other {
    border-width:.2em;
}

.bit.flatLg.row-qty-lg .flamespray {
    border-width:4px;
}

.bit.flatLg .flamespray {
    border-width:6px;
    border-style:solid;
}

.p-lr-0 {
    padding-right:0;
    padding-left:0;
}

.pr-0 {
    padding-right:0;
}

.station-record > div {
    font-size:1.5em;
}

.search-results {
    position: absolute;
    background: rgba(255, 255, 255, 0.93);
    width: 100%;
    top: 75px;
    padding: 25px;
    box-shadow: 1px 1px 3px 1px #999999;
    border-radius:3px;
    z-index:9999;
}

.search-item > div {
    padding-left:0;
    padding-right:0;
}

.search-item > div a span.serial {
    font-weight: bold;
    font-size: 1.4em;
}

.search-item > div a {
    display: block;
    width: 100%;
    height:100px;
    padding:10px;
    color:#888888;
}

.search-item > div a:hover {
    background-color:#efefef;
    color:#555555;
}

@media (max-width: 993px) {
    .search-results {
        position: absolute;
        background: rgba(255,255,255,.5);
        width: 100%;
        top: 120px;
        padding: 15px;
    }
}

.close-search {
    position: absolute;
    right: 17px;
    top: 13px;
    z-index: 999999999999999999999999;
}

.close-search a {
    font-size: 1.7em;
}

.search-item > div a span.repair-date {
    font-size: 1.2em;
}

.search-item > div a span.repair-date-light {
    font-size: 1.2em;
    color:#dddddd;
}

.search-item > div a span.repair-id {
    font-weight: bold;
    font-size:1.4em;
}

.search-item > div a span.tool-pno {
    font-size:1.2em;
}

.search-item > div a.span.cutting-diameter {
    font-size:1.2em;
}

.toolpart-selected-container > span:nth-of-type(1) {
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 1px 0.02em #6b6b6b;
}

.toolpart-selected-container > span:nth-of-type(2) {
    font-size: 1.3em;
    color:#0089ff;
}

.toolpart-selected-container > span:nth-of-type(2) > select {
    display: inline-block;
    width: auto;
    min-width: 200px;
    color: white;
    background-color: #0089ff;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
}

.toolpart-selected-container > span:nth-of-type(3) {
    color:#cccccc;
}

.legend h5 {
    font-weight:bold;
}

.dullgrade-progress .progress {
    height: 192px;
    padding: 20px;
}

.workstation-container span {
    color:#4a91d0;
}

.workstation-container div {
    display: inline-block;
    margin-right: 15px;
    font-size:.8em;
}

#header {
    width:100%;
    display:block;
    float:left;
}

#header > div.tool-serial-title {
    display: inline-block;
    width: 636px;
    max-width: 100%;
}

#header > h1.title {
    display:inline-block;
    margin-right: 20px;
}

#header > h1.tool-serial-title {
    display:inline-block;
    font-weight:bold;
}

#header > button {
    display:inline-block;
}

.current-lot-container > span {
    float:left;
}
.current-lot-container > a {
    float:right;
}

.current-lot-container a.remove-lot-link {
    display:none;
    width:10%;
    text-align:center;
}

.current-lot-container:hover a.remove-lot-link {
    display:inline-block;
    width:10%;
    text-align:center;
}

.current-lot-container:hover a > i {
    font-size: 1.2em;
}

/*!!!!!!!!!STYLING FOR BITLOCATOR!!!!!!!!*/
.bitlocate .headerForBitLocator{
    margin: 0;
    display: inline-block;

}

.bitlocate .panelSpacing{
    padding-right: 0px;
    padding-left: 0px;
}

.bitlocate .panelSpacingWorkStations {
    padding-right: 10px;
    padding-left: 10px;
}

.bitlocate .panel {
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    padding-left: 0px;
    padding-right: 0px;
}

.bitlocate .panel-heading {
    background-color: #f5f5f5;
}

.bitlocate .commentPanelHeading {
    background-color: chartreuse;
}

.bitlocate .commentPanelBorder {
    border-color: chartreuse;
}

.bitlocate .highlightFlow {
    color: white;
    background-color: #6c99cc;
}

.bitlocate p {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-left: 15px;
    font-size: large;
    cursor: pointer;
}

.bitlocate h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bitlocate strong {
    font-weight: 500;
}

.bitlocate .btn {
    color: white;
    width: 100px;
    background-color: #6c99cc;
    padding: 0.5em;
    border-radius: 3px;
}

.bitlocate .btn1 {
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
}

.bitlocate .btn2 {
    background-color: #ff5623;
    color: white;
    border-color: #ff5623;
    border-radius: 3px;
    margin-bottom: 10px;
}

.bitlocate .btn3 {
    background-color: #6c99cc;
    color: white;
    border-radius: 3px;
    width: 170px;
    float: right;
}

#editFlowForFamilyModal .modal-header {
    background-color: #f5f5f5;
}

#editFlowForFamilyModal strong {
    font-weight: 500;
}

#editFlowForFamilyModal .btn-danger {
    background-color: #ff5623;
    color: white;
    border-color: #ff5623;
    border-radius: 3px;
}

#editFlowForFamilyModal .btn-primary {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    border-radius: 3px;
}

.crossed-out {
    text-decoration: line-through;
    opacity: .6;
    color:#ff6868;
}

.invisible-block-window {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: transparent;
}

.top-center-dullgrade-select {
    display: inline-block;
    width: 330px;
    max-width:100%;
}

.kiln-container .name {
    font-weight:bold
}

.kiln-container .tool {
    color:rgba(255, 255, 255, .8);
}

.overlay-white {
	position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 99999999999999;
    left: 0%;
    padding: 5%;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.35;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.repair-dullgrade-info-container {
	border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
    min-height: 145px;
}

header.separator {
	padding-bottom: 20px;
    border-bottom: 5px solid #efefef;
}


input.appendixPartInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgb(194, 194, 194);
}
input.appendixPartInput::-moz-placeholder { /* Firefox 19+ */
	color: rgb(194, 194, 194);
}
input.appendixPartInput:-ms-input-placeholder { /* IE 10+ */
	color: rgb(194, 194, 194);
}
input.appendixPartInput:-moz-placeholder { /* Firefox 18- */
	color: rgb(194, 194, 194);
}

.search-box {
	position:fixed;
	width:100%;
	height:auto;
	background:white;
	z-index: 99;
}

.cutterstructure {
	padding-bottom:115px;
}

.group-inactive {
	filter: blur(8px);
	opacity:.6;
	transform: scale3d(0.9, 0.9, 0.9)
}

.blade-header.dnr {
	position: absolute;
	top: 1px;
	left: -31px;
	font-weight: bold;
}

.blade-flex-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

highlightToolToShip {
    background-color: #f3690b;
    border-color: #f3690b;
}

.btn:not(.noEase) {
	transition: all 0.5s ease ;
}

.full-background-image {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: 100% 100%;
	position:fixed;
}

.content-middle {
	text-align:center;
	color:white;
	font-size:1.4em;
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.middle-img {
	max-width:80%;
	width:300px
}

#addNewBillOfLading{
    max-height: calc(127vh - 210px);
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}
