.btn-default.btn-hollow {
  border-width:3px;
}
.btn-default.btn-hollow {
  color: #9a9a9a;
  background-color: #ffffff;
  border-color: #9a9a9a;
}
.btn-default.btn-hollow:focus,
.btn-default.focus.btn-hollow {
  color: #9a9a9a;
  background-color: #ffffff;
  border-color: #9a9a9a;
}
.btn-default.btn-hollow:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}
.btn-default.btn-hollow:active,
.btn-default.active.btn-hollow,
.open > .dropdown-toggle.btn-default.btn-hollow {
  color: #9a9a9a;
  background-color: #ffffff;
  border-color: #9a9a9a;
}
.btn-default.btn-hollow:active:hover,
.btn-default.active.btn-hollow:hover,
.open > .dropdown-toggle.btn-default.btn-hollow:hover,
.btn-default.btn-hollow:active:focus,
.btn-default.active.btn-hollow:focus,
.open > .dropdown-toggle.btn-default.btn-hollow:focus,
.btn-default.btn-hollow:active.focus,
.btn-default.active.focus.btn-hollow,
.open > .dropdown-toggle.btn-default.focus.btn-hollow {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}
.btn-default.btn-hollow:active,
.btn-default.active.btn-hollow,
.open > .dropdown-toggle.btn-default.btn-hollow {
  background-image: none;
}
.btn-default.disabled.btn-hollow:hover,
.btn-default[disabled].btn-hollow:hover,
fieldset[disabled] .btn-default.btn-hollow:hover,
.btn-default.disabled.btn-hollow:focus,
.btn-default[disabled].btn-hollow:focus,
fieldset[disabled] .btn-default.btn-hollow:focus,
.btn-default.disabled.btn-hollow.focus,
.btn-default[disabled].btn-hollow.focus,
fieldset[disabled] .btn-default.focus.btn-hollow {
  background-color: #ffffff;
  border-color: #222222;
}
.btn-default.btn-hollow .badge {
  color: #222222;
  background-color: #ffffff;
  border: 2px solid #9a9a9a;
}

