.container-3d {
    height:800px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.carousel {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ( -288px);
    -moz-transform: translateZ( -288px);
    -o-transform: translateZ( -288px);
    transform: translateZ( -288px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    margin-top: -95px;
}

.carousel div.blade-container {
    display: block;
    position: absolute;
    width: 288px;
    height: auto;
    left: 40%;
    top: 15%;
    border: 1px solid black;
    min-height:500px;
    text-align:center;
}

.carousel-horiz {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ( -288px);
    -moz-transform: translateZ( -288px);
    -o-transform: translateZ( -288px);
    transform: translateZ( -288px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

.carousel-horiz div.blade-container {
    display: block;
    position: absolute;
    width: auto;
    height: 293px;
    left: 7%;
    top: 15%;
    border: 1px solid black;
    min-width:700px;
}


