<div id="authusers" class="sticky-footer col-xs-12" data-ng-show="currentAuthenticatedUsers && currentAuthenticatedUsers.length > 0 && currentAuthenticatedUsers.length === maxUsers">
    <div class="container">
        <div class="col-xs-12">
            <div class="col-md-5 col-xs-5">
                <div class="authenticated-user-label col-xs-12 pull-left" data-ng-repeat="user in currentAuthenticatedUsers">
                    <span class="img" style="background-image:url({{user.userAvatarUrl}})"></span>
                    <span class="name">{{user.nameFirst}} {{user.nameLast}}</span>
                </div>
            </div>
            <div class="col-md-7 col-xs-7">
                <span class="timer pull-right" data-ng-show="currentAuthenticatedUsers.length === maxUsers && (currentRunningLaborTimeStamps.length === 0 || !currentRunningLaborTimeStamps)"><a data-ng-click="userLogout()" href="javascript:void(0)">Logout</a></span>
                <a class="btn btn-danger btn-lg pull-right" data-ng-show="showStopButton && currentAuthenticatedUsers.length === maxUsers && currentRunningLaborTimeStamps && currentRunningLaborTimeStamps[0] && currentRunningLaborTimeStamps[0].startTime && !currentRunningLaborTimeStamps[0].stopTime" data-ng-click="stop()">
                    <span data-ng-if="buttonTextForSavingInformation">{{buttonTextForSavingInformation}}</span>
                    <span data-ng-if="!buttonTextForSavingInformation">STOP</span>
                </a>
                <timer data-ng-show="showTimer && currentAuthenticatedUsers.length === maxUsers && currentRunningLaborTimeStamps && currentRunningLaborTimeStamps[0] && currentRunningLaborTimeStamps[0].startTime && !currentRunningLaborTimeStamps[0].stopTime" class="timer pull-right" start-time="openTimeStampStartTime">
                    {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s
                </timer>
                <button class="btn btn-link pull-right" data-ng-show="showStopButton && currentAuthenticatedUsers.length === maxUsers && currentRunningLaborTimeStamps && currentRunningLaborTimeStamps[0] && currentRunningLaborTimeStamps[0].startTime && !currentRunningLaborTimeStamps[0].stopTime" data-ng-click="stop(true)">Tools are not finished, but STOP TIME</button>
            </div>
        </div>
    </div>
</div>
