<div id="authusers-showfirst" class="sticky-footer col-xs-12" data-ng-show="currentAuthenticatedUsers && currentAuthenticatedUsers.length > 0 && currentAuthenticatedUsers.length === maxUsers">
    <div class="container">
        <div class="col-xs-12">
            <a class="btn btn-danger btn-lg pull-right" data-ng-show="currentAuthenticatedUsers.length === maxUsers && timeStarted" dat-ng-click="stop()">
                <span data-ng-if="buttonTextForSavingInformation">{{buttonTextForSavingInformation}}</span>
                <span data-ng-if="!buttonTextForSavingInformation">STOP</span>
            </a>
            <span class="timer pull-right" data-ng-show="currentAuthenticatedUsers.length === maxUsers && timeStarted">1hr 2m 35s</span>
            <span class="timer pull-right" data-ng-show="currentAuthenticatedUsers.length !== maxUsers || !timeStarted"><a data-ng-click="init()" href="javascript:void(0)">Logout</a></span>
            <div class="authenticated-user-label col-xs-12 col-sm-8 pull-left" data-ng-repeat="user in currentAuthenticatedUsers">
                <span class="img" style="background-image:url({{user.userAvatarUrl}})"></span>
                <span class="name">{{user.nameFirst}} {{user.nameLast}}</span>
            </div>
        </div>
    </div>
</div>