<div class="bglight">
        <div id="DullgradeContainer" class="row">
        <div print-clearout id="clearout-print" data-ng-show="selectedTools[0]">
            <div class="legend">
                <div class="toolInfo col-xs-6 col-sm-3">
                    <h5>{{selectedTools[0].serial}}</h5>
                    <div class="col-xs-3 col-sm-4">
                        Size<br>
                        Style<br>
                        Part<br>
                        City<br>
                        Order<br>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        {{selectedTools[0].cuttingDiameterFraction}}<br>
                        {{selectedTools[0].style}}<br>
                        {{selectedTools[0].partNumber}}<br>
                        {{selectedTools[0].shipToStockPointName}}<br>
                        {{selectedTools[0].orderNumber}}<br>
                    </div>
                </div>
                <div class="newCutterInfo col-xs-6 col-sm-5">
                    <h5>NEW CUTTERS</h5>
                    <div data-ng-if="cutterName.count !== 0" data-ng-repeat="cutterName in cutterNames" class="col-sm-6">
                        <span class="colorkeyitem {{cutterName.colorClass}}">{{cutterName.count}}</span> <span>{{cutterName.sizeFraction}} - {{cutterName.partNumber}} <i data-ng-if="cutterName.isReclaim" class="fa fa-registered"></i></span>
                    </div>
                </div>
                <div class="newRotateFlamesprayInfo col-xs-6 col-sm-4">
                    <div class="col-xs-4">
                        <h5>NEW</h5>
                        <div data-ng-if="cutterNew.count !== 0 && cutterNew.cutterActionId === 1" data-ng-repeat="cutterNew in newCutterSizeCount">
                            <span class="colorkeyitem">{{cutterNew.cutterCount}}</span> <span>{{cutterNew.sizeFraction}} - {{cutterNew.cutterAction}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5>ROTATE</h5>
                            <div data-ng-if="cutterRotate.count !== 0 && cutterRotate.cutterActionId === 2" data-ng-repeat="cutterRotate in rotateCutterSizeCount">
                            <span class="colorkeyitem">{{cutterRotate.cutterCount}}</span> <span>{{cutterRotate.sizeFraction}} - {{cutterRotate.cutterAction}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5>FLAMESPRAY</h5>
                        <div data-ng-if="cutterFlamespray.totalFlameSprayCount !== 0" data-ng-repeat="cutterFlamespray in flameSprayCount">
                            <span class="colorkeyitem">{{cutterFlamespray.totalFlameSprayCount}}</span> <span>{{cutterFlamespray.sizeFraction}} - Flamespray</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cutterstructure diff-sizing col-xs-12 bit snug row-qty-lg" data-ng-if="selectedTools[0]">
                <!-- Blade GROUPS -->
                <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-if="!group.order">GROUP 1</h2>
                            <h2 data-ng-if="group.order">GROUP {{group.order}}</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Blades -->
                            <div data-ng-repeat="blade in group.blades track by $index" class="blade-container">
                                <div class="panel panel-default lighter">
                                    <div class="panel-body">
                                        <!-- Pockets/Cutters -->
                                        <div class="col-xs-12 col-sm-12 col-md-12 no-leftright-padding" style="padding-left:0px; margin-bottom:-8px;">
                                            <h2 class="text-center no-padding">
                                                <span class="text-center" style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                            </h2>
                                            <div class="col-xs-12 text-center no-leftright-padding">
                                                <div data-ng-repeat="row in blade.rows | reverse track by $index" class="text-center lgrow">
                                                    <span data-ng-init="rIndex = $index"></span>
                                                    <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                                    <br>
                                                    <a data-ng-click="selectForFlameSpray(pocket)" class="pocket btn-{{pocket.type}} {{ (pocket.fs && !pocket.fs.isFlameSpray) ? '' : (pocket.fs && pocket.fs.isFlameSpray || pocket.isFlameSpray) ? 'flamespray' : ''}} btn btn-default btn-{{pocket.colorClass}} not-original" data-ng-repeat="pocket in row.pockets">
                                                        <div class="notch-top"></div>
                                                        <div data-ng-if="pocket.replaceWithCutterId" class="exclamation-icon"><i class="fa fa-exclamation"></i></div>
                                                        <div style="margin-top:4px;margin-left:-2px;">
                                                            <span data-ng-if="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-if="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-if="pocket.cutterAction || pocket.fs && pocket.fs.cutterAction" class="action-style">{{pocket.fs && pocket.fs.cutterAction ? pocket.fs.cutterAction : pocket.cutterAction}}</span><span data-ng-if="!pocket.cutterAction" class="action-style">--</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>