<div class="fullscreen" data-ng-show="currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
    <div class="row">
        <div class="col-xs-12 text-center" style="background-color:#470080; padding:2%">
            <div class="" data-ng-show="showBackButtonOnStop">
                <button class="btn btn-default pull-left" data-ng-click="showStopScreen(null, false)">Back</button>
            </div>
            <div class="col-xs-2 col-lg-1 pull-right text-right mb-sm">
                <a href="javascript:void(0)" data-ng-click="goToRework()" class="btn btn-sm btn-default"  data-ng-show="showReworkButton">
                    <i class="fa fa-thumbs-down fa-2x" style="color:red"></i>
                </a>
            </div>
            <h1 class="maintitle">{{workStation.workStationName}}</h1>
            <div class="col-xs-12 col-sm-6 text-right">
                <timer class=" col-xs-12 text-center" start-time="openTimeStampStartTime" style="font-size: 4em">
                    {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s
                </timer>
            </div>
            <div class="col-xs-12 col-sm-6 text-left stopbutton">
                <button class="btn btn-lg btn-danger" data-ng-click="callStartStopLaborTracking()">
                    <span class="top col-xs-12"><i class="fa fa-stop"></i> STOP</span>
                    <span class="bottom col-xs-12">All These Tools Are Finished</span>
                </button>
            </div>
        </div>
        <div class="col-xs-12 text-right mb-md mt-sm">
            <button class="btn btn-link btn-lg" data-ng-click="callStartStopLaborTracking(true)">Tools are not finished, but STOP TIME</button>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="col-xs-12 authenticated-user-label" data-ng-repeat="user in currentAuthenticatedUsers">
                <div class="col-xs-4 text-right">
                    <span class="img text-right" style="background-image:url({{user.userAvatarUrl}})"></span>
                </div>
                <div class="name col-xs-8 text-left">{{user.nameFirst}} {{user.nameLast}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <!--<div class="col-xs-12" data-ng-show="selectedTools">
                <span class="tool">{{selectedTools.serial}}</span>
            </div>-->
            <div class="col-xs-12" data-ng-repeat="tool in selectedTools" data-ng-show="selectedTools">
                <span class="tool">{{tool.serial}} <span class="pull-right chartreuse" data-ng-show="tool.rush"> RUSH <i class="fa fa-fast-forward"></i></span></span>
            </div>
        </div>
    </div>
</div>
