<div class="col-xs-12 select-key bigdiff" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
    <div class="col-xs-12 col-sm-4 text-center type mb-md">
        <p>Pocket Type</p>
        <a href="javascript:void(0)" data-ng-repeat="type in pocketTypes" class="key-{{type.key}}" data-ng-class="{active: type.isActive}">{{type.name}}</a>
    </div>
    <div class="col-xs-12 col-sm-4 text-center size mb-md">
        <p>Pocket Size</p>
        <a href="javascript:void(0)" data-ng-repeat="size in pocketSizes" class="{{size.sizeClass}}" data-ng-class="{active: size.isActive}">{{size.sizeFraction}}</a>
    </div>
</div>