<div data-ng-show="selectedTools && selectedTools.length > 0 && currentAuthenticatedUsers.length < maxUsers && finishedAddingTools" class="col-xs-12">
    <div id="choose-work-order" class="panel panel-default">
        <div class="panel-heading">
            <h2>Choose <strong>User {{currentAuthenticatedUsers.length + 1}}</strong>... </h2>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-6 col-md-3 col-lg-4 text-center user-icon-container" style="height:200px" data-ng-repeat="user in allowedUsers">
                    <a href="javascript:void(0)" data-ng-click="openModalAuthenticateUser(user)" class="text-center profilepic-rounded" style="background-image:url({{user.userAvatarUrl}})">
                    </a>
                    <br/>
                    <span>{{user.nameFirst}} {{user.nameLast}}</span>
                </div>
                <h3 data-ng-show="allowedUsers.length === 0">There are no users in this group</h3>
            </div>
        </div>
    </div>
</div>
