<!-- Modal -->
<div class="modal"  id="editFlowForFamilyModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: auto; width: auto">
            <div class="modal-body col-xs-12 col-md-12">
                <h2 data-ng-show="selectedTools[0].timeStampExists === true || '' " style="color: red; font-weight: 600"> Open Time Stamp!!</h2>
                <h2>Move to {{ selectedFlow.description }}?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" data-ng-click="updateFlowForSerial()" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!! END OF MODAL !!!!!!! -->
<!-- BUTTON FOR MODAL  -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
</button> -->
<!-- END OF BUTTON -->
<div class="bitlocate">
    <header>
        <h1 class="text-center headerForBitLocator"><strong>Bit Locator</strong></h1>
        <button class="btn btn3" data-ng-click="goToReplaceCutters()" >Go To Replace Cutters</button>
        <button class="btn btn-minimal btn-default pull-right" data-ng-click="returnFromBitLocatorToLastUrl()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
    </header>
    <body>
        <div class="panelSpacing container col-xs-12 col-md-12">
            <div class="panelSpacing col-xs-12 col-md-4">
                <div class="panelSpacing col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Bit Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input class="form-control" style="height: 38px" placeholder="search" type="search" data-ng-model="searchedSerial" data-ng-keydown="$event.keyCode === 13 && getFlowRecordsFromSerial()"/>
                                <span class="input-group-btn">
                                    <button class="btn" data-ng-click="getFlowRecordsFromSerial()" >Search</button>
                                </span>
                            </div>
                            <hr />
                            <div data-ng-show="!serialNotFound">
                                <h3 ><strong>Serial:</strong> {{ selectedTools[0].serial }} <strong data-ng-show="selectedTools[0].rush === 1 || '' " style="color: chartreuse">*RUSH</strong></h3>
                                <h3><strong>Family:</strong> {{ selectedTools[0].name }} </h3>
                                <h3><strong>Part Number:</strong> {{ selectedTools[0].partNumber }}</h3>
                                <h3><strong>Part Style:</strong> {{ selectedTools[0].style }}</h3>
                                <h3><strong>Order Number:</strong> {{ selectedTools[0].orderNumber }}</h3>
                                <h3><strong>ODG:</strong> {{ selectedTools[0].cuttingDiameterDecimal }}</h3>
                                <h3><strong>Recieved From:</strong> {{ selectedTools[0].stockPointReceivedFromName }}</h3>
                                <h3><strong>Ship To:</strong> {{ selectedTools[0].shipToStockPointName }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelSpacing col-xs-12 col-md-4 col-md-push-4" data-ng-show="!serialNotFound">
                <div class="panelSpacing col-xs-12 col-md-12">
                    <div class="panel panel-default" data-ng-class="{commentPanelBorder: selectedTools[0].rush === 1 || '' }">
                        <div class="panel-heading col-md-12" data-ng-class="{commentPanelHeading: selectedTools[0].rush === 1 || '' }">
                            <h1 class="col-md-11">Rush Comments</h1>
                            <input class="col-md-1" id="checkbox" type="checkbox" data-ng-model="checkboxModel" parse-int ng-true-value="1" ng-false-value="0" data-ng-change="toggleRush(checkboxModel)" style="zoom: 2"/>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="panel-body" style="padding: 15px">
                            <textarea rows="2" class="form-control" data-ng-model="rushComments"></textarea>
                        </div>
                        <div style="text-align: right">
                                <button class="btn btn1" data-ng-model="commentUpdate" data-ng-click="updateRushComments()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelSpacing col-xs-12 col-md-4 col-md-pull-4" data-ng-show="!serialNotFound">
                <div class="panelSpacingWorkStations col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Workstations</h1>
                        </div>
                        <div class="panel-body">
                            <div data-ng-repeat="record in flowForFamilyFromSerial | orderBy:'chrono'">
                                <div class="row" data-ng-class="{highlightFlow: selectedTools[0].flowId === record.flowId}">
                                    <p data-ng-click="openModal(record)">{{ record.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="serialNotFound">
                <div class="panelSpacing col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            <h1 class="text-center" style="height: 650px">Serial was not found...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>
