<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Waiting for Bondo/Paint</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
<ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div class="col-xs-12" data-ng-show="!selectedTools[0]">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Bondo</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="bondo in bondoStationRecords track by $index">
                                <a data-ng-show="!bondo.running" data-ng-click="addToolToSelectedToolsFromList(bondo, stationRecords)" class="btn btn-default btn-lg btn-block">{{bondo.toolString}} <span class="pull-right chartreuse" data-ng-show="bondo.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <a data-ng-show="bondo.running" data-ng-click="showStopScreen(bondo)" class="btn btn-purple btn-lg btn-block">{{bondo.toolString + " (" + bondo.currentUser.nameFirst}} <timer start-time="bondo.runningTimeStamp.startTime">
                                    : {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s)
                                </timer> <span class="pull-right chartreuse" data-ng-show="bondo.rush">RUSH <i class="fa fa-fast-forward"></i></span> </a>
                            </div>
                            <h3 data-ng-show="bondoStationRecords.length === 0">There are no tools in bondo</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h2>Paint</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="paint in paintStationRecords track by $index">
                                <a data-ng-show="!paint.running" data-ng-click="addToolToSelectedToolsFromList(paint, stationRecords)" class="btn btn-default btn-lg btn-block">{{paint.toolString}} <span class="pull-right chartreuse" data-ng-show="paint.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <a data-ng-show="paint.running" data-ng-click="showStopScreen(paint)" class="btn btn-purple btn-lg btn-block">{{paint.toolString + " (" + paint.currentUser.nameFirst}} <timer start-time="paint.runningTimeStamp.startTime">
                                    : {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s)
                                </timer> <span class="pull-right chartreuse" data-ng-show="paint.rush">RUSH <i class="fa fa-fast-forward"></i></span> </a>
                            </div>
                            <h3 data-ng-show="paintStationRecords.length === 0">There are no tools in paint</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="showStop">
<ng-include src="'/angular/dullgradelevelone/ng-partials/labortimestamps-timer-screen.html'"></ng-include>
</div>
