<!-- Modal -->
<div class="modal fade" id="cutterOrderModal" tabindex="-1" role="dialog" aria-labelledby="cutterOrderLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="cutterOrderLable">Do you want to generate order and move tools?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-ng-click="generateCutterOrder()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
<header id="header" class="text-center separator">
    <h1 class="title">Create</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="tool-serial-title">{{selectedTools[0].toolString}} <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h1>

    <h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].isCutOut" style="color: red" class="tool-serial-title" data-toggle="tooltip" data-placement="bottom" title="{{selectedTools[0].cutOutComments}}"><strong> CUT OUT</strong></h1>

	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && !selectedTools[0].onHold && selectedTools[0].interStationChrono === 1 && createForm.$valid" class="btn btn-lg btn-success pull-right"  data-ng-click="createForm.$valid && saveCreate(true)"><i class="fa fa-save"></i> Save and Move To Email List</button>

    <button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0 && !selectedTools[0].onHold && selectedTools[0].interStationChrono != 1" class="btn btn-lg btn-success pull-right"data-ng-click="createForm.$valid && saveCreate(false)"><i class="fa fa-save"></i> Save</button>

	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" data-ng-click="openModalSetOnHoldAndComments(selectedTools[0])" class="btn {{selectedTools[0].onHold ? '' : 'btn-minimal' }} btn-lg btn-warning pull-right"><i class="fa fa-clock-o" style="padding-right:15px"></i> {{selectedTools[0].onHold ? 'ON HOLD!' : 'PUT ON HOLD'}}</button>

	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="callStartStopLaborTracking(true, null)"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>

</header>
<div class="bglight">
    <div id="createContainer" class="row">
        <div class="col-xs-12 mb-md">
            <form name="createForm" novalidate>
                <h4>{{char}}</h4>
                <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section-showfirst.html'"></ng-include>
                <!-- Choose Tool CREATE -->
                <div data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" class="col-xs-12 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="col-xs-12">Create</h3>
                            <a data-ng-repeat="tool in createRecords track by $index" data-ng-click="addToolToSelectedToolsFromList(tool)" data-ng-class="tool.onHold ? 'btn-warning' : 'btn-default'; tool.isCutOut ? 'btn-danger': 'btn-default'" data-toggle="tooltip" data-placement="bottom" title="{{tool.holdComments}} {{tool.cutOutComments}}" class="btn btn-lg btn-block col-xs-12">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                        </div>
                    </div>
                </div>
                <!-- Choose Tool EMAIL LIST -->
                <div data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" class="col-xs-12 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="col-xs-12 col-md-6">Email List</h3>
                            <button class="btn btn-info col-xs-12 col-md-6 mb-sm" data-ng-show="emailListRecords.length > 0 && !allEmailListOnHold" data-ng-click="generateEmail()" type="button">Generate Email</button>
                            <a data-ng-repeat="tool in emailListRecords track by $index" data-ng-click="addToolToSelectedToolsFromList(tool)" data-ng-class="tool.onHold ? 'btn-warning' : 'btn-default'; tool.isCutOut ? 'btn-danger': 'btn-default'" data-toggle="tooltip" data-placement="bottom" title="{{tool.holdComments}} {{tool.cutOutComments}}" class="btn btn-lg btn-block col-xs-12">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                        </div>
                    </div>
                </div>
                <!-- Choose Tool AWAITING APPROVAL -->
                <div data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" class="col-xs-12 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="col-xs-12">Awaiting Approval</h3>
                            <div class="col-xs-12 mb-xs" data-ng-repeat="tool in awaitingApprovalRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data-ng-class="tool.onHold ? 'btn-warning' : 'btn-default'; tool.isCutOut ? 'btn-danger': 'btn-default'" data-toggle="tooltip" data-placement="bottom" title="{{tool.holdComments}} {{tool.cutOutComments}}" class="btn btn-lg col-xs-12 col-md-10" style="padding: 18px 20px">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <button class="btn btn-lg btn-success col-xs-12 col-md-1" data-ng-click="bitApprovedMoveForward(tool)" data-ng-show="!tool.onHold"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Choose Tool ORDER LIST -->
                <div data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" class="col-xs-12 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="col-xs-12 col-md-6">Order List</h3>
                            <button class="btn btn-info col-xs-12 col-md-6 mb-sm" data-ng-show="orderListRecords.length > 0 && !allOrderListOnHold" type="button" data-toggle="modal" data-target="#cutterOrderModal">Generate Order</button>
                            <a data-ng-repeat="tool in orderListRecords track by $index" data-ng-click="addToolToSelectedToolsFromList(tool)" data-ng-class="tool.onHold ? 'btn-warning' : 'btn-default'; tool.isCutOut ? 'btn-danger': 'btn-default'" data-toggle="tooltip" data-placement="bottom" title="{{tool.holdComments}} {{tool.cutOutComments}}" class="btn btn-lg btn-block col-xs-12">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                        </div>
                    </div>
                </div>
                <!-- Chosen Tool -->
                <!-- <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-12 col-sm-2" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0">
                            <label>Hold Comments</label>
                            <textarea rows="4" cols="30" data-ng-model="selectedTools[0].holdComments" data-ng-disabled="selectedTools[0].onHold">{{selectedTools[0].holdComments}}</textarea>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <button class="btn btn-block btn-lg btn-default" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0" data-ng-click="callStartStopLaborTracking(true)" type="button"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <div class="col-xs-12 col-sm-2" data-ng-show="!selectedTools[0].onHold">
                            <button class="btn btn-block btn-lg btn-warning" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0" data-ng-click="holdRepair(1)" type="button"><i class="fa fa-hand-paper-o"></i> Hold</a>
                        </div>
                        <div class="col-xs-12 col-sm-2" data-ng-show="selectedTools[0].onHold">
                            <button class="btn btn-block btn-lg btn-warning" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length > 0" data-ng-click="holdRepair(0)" type="button"><i class="fa fa-hand-rock-o"></i> Unhold</a>
                        </div>
                    </div>
                </div> -->
                <div class="row"  data-ng-show = "currentAuthenticatedUsers.length === maxUsers && selectedTools[0]">
                    <div class="col-xs-12 col-md-3">
                        <div class="panel panel-default col-xs-12">
                            <div class="panel-body">
                                <h4 class="col-xs-12"><strong>IST : </strong>{{selectedTools[0].ist}}</h4>
                                <h4 class="col-xs-12"><strong>SO : </strong>{{selectedTools[0].so}}</h4>
                                <h4 class="col-xs-12"><strong>Style : </strong>{{selectedTools[0].style}}</h4>
                                <h4 class="col-xs-12"><strong>Grade : </strong>{{grade}}</h4>
                                <h4 class="col-xs-12"><strong>ODG : </strong>{{gaugeOd}}</h4>
                                <h4 class="col-xs-12"><strong>Location Received From : </strong>{{selectedReceivedFromStockPoint.city}}</h4>
                                <h4 class="col-xs-12"><strong>Location Ship To : </strong>{{selectedShipToStockPoint.city}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="panel panel-default col-xs-12">
                            <div class="panel-body">
                                <div class="col--xs-12">
                                    <h4 class="col-xs-6"><strong>Total New :  </strong>{{}}</h4>
                                    <div class="col-xs-6">
                                        <h4 data-ng-repeat="newCount in newCutterSizeCount">{{newCount.cutterCount}} @ {{newCount.sizeFraction}}</h4>
                                    </div>
                                    <h4 class="col-xs-6"><strong>Total Rotate : </strong></h4>
                                    <div class="col-xs-6">
                                        <h4 data-ng-repeat="rotateCount in rotateCutterSizeCount">{{rotateCount.cutterCount}} @ {{rotateCount.sizeFraction}}</h4>
                                    </div>
                                    <h4 class="col-xs-6"><strong>Total Flame Spray : </strong></h4>
                                    <div class="col-xs-6">
                                        <h4 data-ng-repeat="flameSpray in flameSprayCount">{{flameSpray.totalFlameSprayCount}} @ {{flameSpray.sizeFraction}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="panel panel-default col-xs-12">
                            <div class="panel-body">
                                <h4 class="col-xs-12"><strong>Flame Spray Hours : </strong>{{flamesprayHours === null ? '0' : flamesprayHours}}</h4>
                                <h4 class="col-xs-12"><strong>Hard Face Hours : </strong>{{hardFaceHours === null ? '0' : hardFaceHours }}</h4>
                                <h4 class="col-xs-12"><strong>Flame Up 45 : </strong>{{flameUp == false ? 'No' : 'Yes'}}</h4>
                                <h4 class="col-xs-12"><strong>Paint Only : </strong>{{paintOnly == false ? 'No' : 'Yes'}}</h4>
                                <h4 class="col-xs-12"><strong>Rechase Threads : </strong>{{rechaseThreads == false ? 'No' : 'Yes'}}</h4>
                                <h4 class="col-xs-12"><strong>Reshank Number : </strong>{{reshankNumber === null ? '' : reshankNumber }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="panel panel-default col-xs-12">
                            <div class="panel-body">
                                <div class="col-xs-12 form-group">
                                    <label>Order Number</label>
                                    <input type="text" class="form-control" placeholder="Order Number" data-ng-model="$parent.orderNumber" required="true" data-ng-disabled="selectedTools[0].onHold">
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label>Price</label>
                                    <input type="number" min="0.01" step="0.01" class="form-control" placeholder="Price" data-ng-model="$parent.orderPrice" required="true" data-ng-disabled="selectedTools[0].onHold">
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label>Number Of Times In Repair (Including This One) </label>
                                    <input type="number" class="form-control" placeholder="Times In Repair" data-ng-model="$parent.totalTimesRepaired" required="true" data-ng-disabled="selectedTools[0].onHold">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default col-xs-12">
                            <div class="panel-body">
                                <!-- <div data-ng-repeat="cutterName in cutterNames">
                                    <h4 class="col-xs-12 col-sm-1"><i class="fa fa-ban" data-ng-show="cutterName.isObsolete === 1" style="color: red"></i></h4>
                                    <h4 class="col-xs-12 col-sm-5"><strong>{{cutterName.partNumber}}<strong data-ng-show="cutterName.isReclaim === 1"> R</strong></strong></h4>
                                    <h4 class="col-xs-12 col-sm-1">{{cutterName.count}}</h4>
                                    <div class="col-xs-12 col-sm-5">
                                        <h4 class="col-xs-12" data-ng-show="cutterName.replacedCutterId != null">Replaced {{cutterName.replacedCutterName}}</h4>
                                        <h4 class="col-xs-12" data-ng-show="cutterName.replacedCutterId === null">&nbsp;</h4>
                                    </div>
                                </div> -->
                                <div class="col-xs-12 mb-sm" data-ng-repeat="cutterName in cutterNames track by $index">
                                    <div class="new-cutter">
                                        <a style="color:#333333; display:inline-block">
                                            <span><strong>{{cutterName.count}} - </strong></span> <span>{{cutterName.sizeFraction}}</span> - <span class="{{cutterName.replacedCutterName ? 'crossed-out' : ''}}">{{cutterName.replacedCutterName}}</span> <span data-ng-show="cutterName.partNumber">{{cutterName.partNumber}}</span> <i data-ng-if="cutterName.isReclaim" style="color: #9c9c9c;font-weight: bold;" class="fa fa-registered"></i>
                                        </a>
                                        <a href="javascript:void(0)" data-ng-click="goToReplaceCutters()" class="btn btn-sm btn-link btn-default toggle-hide" style="text-align:right;float: right;">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row" data-ng-show="selectedTools.length === 0">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
