<!-- Modal -->
<div class="modal"  id="editFlowForFamilyModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: auto; width: auto">
            <div class="modal-body col-xs-12 col-md-12">
                <h2 data-ng-show="selectedTools[0].timeStampExists === true || '' " style="color: red; font-weight: 600"> Open Time Stamp!!</h2>
                <h2>Move to {{ selectedFlow.description }}?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" data-ng-click="updateFlowForSerial()" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!! END OF MODAL !!!!!!! -->
<!-- BUTTON FOR MODAL  -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
</button> -->
<!-- END OF BUTTON -->
<div class="bitlocate">
    <header>
        <h1 class="text-center headerForBitLocator"><strong>Tool Locator</strong></h1>
        <button class="btn btn-minimal btn-default pull-right" data-ng-click="returnFromBitLocatorToLastUrl()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
    </header>
    <body>
        <div class="panelSpacing container col-xs-12 col-md-12">
            <div class="panelSpacing col-xs-12 col-md-6">
                <div class="panelSpacing col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Tool Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <angucomplete-alt placeholder="Find Tool..." pause="300" selected-object="getFlowRecordsFromSerial" local-data="toolsAtLocation" search-fields="serial" serial-field="serial" title-field="serial" min-length="1" input-class="form-control" clear-selected="false" focus-in="anguFocus" auto-match="true" />
                                <!-- <input class="form-control" style="height: 38px" placeholder="search" type="search" data-ng-model="searchedSerial" /> -->
                                <!-- <span class="input-group-btn">
                                    <button class="btn" data-ng-click="getFlowRecordsFromSerial()" >Search</button>
                                </span> -->
                                <!-- <select class="form-control" data-ng-options="tool as tool.serial for tool in toolsAtLocation | filter:{serial:searchedSerial}" data-ng-change="getFlowRecordsFromSerial(selected)" data-ng-model="selected"></select> -->
                            </div>
                            <hr />
                            <div data-ng-show="!serialNotFound">
                                <h3 ><strong>Serial:</strong> {{ selectedTools[0].serial }} <strong data-ng-show="selectedTools[0].rush === 1 || '' " style="color: chartreuse">*RUSH</strong></h3>
                                <h3><strong>Size:</strong> {{ selectedTools[0].cuttingDiameterFraction }} </h3>
                                <h3><strong>Box Connection:</strong> {{ selectedTools[0].boxThreadName }} </h3>
                                <h3><strong>Pin Connection:</strong> {{ selectedTools[0].pinThreadName }} </h3>
                                <h3><strong>Recieved From:</strong> {{ selectedTools[0].stockPointReceivedFromName }}</h3>
                                <h3><strong>Date Recieved:</strong> {{ selectedTools[0].dateToolArrived | date:'medium' }}</h3>
                                <h3><strong>Ship To:</strong> {{ selectedTools[0].shipToStockPointName }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelSpacing col-xs-12 col-md-6" data-ng-show="!serialNotFound">
                <div class="panelSpacingWorkStations col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Workstations</h1>
                        </div>
                        <div class="panel-body">
                            <div data-ng-repeat="record in flowForFamilyFromSerial | orderBy:'chrono'">
                                <div class="row" data-ng-class="{highlightFlow: selectedTools[0].flowId === record.flowId}">
                                    <p data-ng-click="openModal(record)">{{ record.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="serialNotFound">
                <div class="panelSpacing col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            <h1 class="text-center" style="height: 650px">Serial was not found...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>
