<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Dull Grade</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-lg-10">
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}}</a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in dullgrade</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chosen Tool -->
            <div class="row">
                <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-8">
                    <div class="alert alert-primary alert-dismissible fade in" role="alert">
                        <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                        <h2 class="bold"><i class="fa fa-check pull-right"></i> {{selectedTools[0].toolString}}</h2>
                    </div>
                </div>
                <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-4">
                    <a class="btn btn-block btn-lg btn-success" data-ng-click="updateAllDullGrades()">
                        <i class="fa fa-floppy-o"></i> SAVE DULLGRADES
                    </a>
                </div>
            </div>
            <!-- user technician pin login -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
        </div>
        <div class="cutterstructure diff-sizing col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
            <!-- Blade GROUPS -->
            <div class="cutterstructure col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">


                <!-- Blade GROUPS -->
                <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-show="!group.order">GROUP 1</h2>
                            <h2 data-ng-show="group.order">GROUP {{group.order}}</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Blades -->
                            <div data-ng-repeat="blade in group.blades track by $index" class="lgblade col-xs-{{blade.rows.length < 3 ? 3 : (blade.rows.length > 4) ? 8 : 5}} col-lg-{{blade.rows.length < 3 ? 2 : (blade.rows.length > 3) ? 4 : 3}}">
                                <div class="panel panel-default lighter">
                                    <div class="panel-body">
                                        <!-- Pockets/Cutters -->
                                        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0px; margin-bottom:-8px;">
                                            <h2 class="blade-label">
                                                <span style="font-size:.9em">B</span> 
                                                <span style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                            </h2>
                                            <div class="col-xs-12">
                                                <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow text-center col-xs-{{blade.rows.length < 3 ? 6 : 12/blade.rows.length|floor}} col-lg-{{blade.rows.length < 3 ? 6 : 12/blade.rows.length|floor}}">
                                                    <span data-ng-init="rIndex = $index"></span>
                                                    <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                                    <a data-ng-click="openModalSetConditionActionCutter(pocket)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} {{pocket.activePocket}} btn btn-default" data-ng-repeat="pocket in row.pockets">
                                                        <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                                        <div style="margin-top:-4px">
                                                            <span data-ng-show="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-show="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-show="pocket.cutterAction" class="action-style">{{pocket.cutterAction}}</span><span data-ng-show="!pocket.cutterAction" class="action-style">&nbsp;&nbsp;</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
