<keypress></keypress>
<group-index-auto></group-index-auto>

<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="inspectionSheetImage" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 33px">Inspection Sheet Image</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(inspectionSheetImage)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!inspectionSheetImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="inspectionSheetImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="inspectionSheetImage.picTaken">{{inspectionSheetImage.name}}</span>
                            <span data-ng-show="!inspectionSheetImage.picTaken">{{inspectionSheetImage.name}}</span>
                            <span data-ng-show="inspectionSheetImage.dateAdded" style="font-size:.8em">
                                {{inspectionSheetImage.dateAdded}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-show="inspectionSheetImage.picTaken" type="button" class="btn btn-primary"
                    data-ng-click="finishedTakingInspectionSheetImage()">Finished</button>
                <button type="button" class="btn btn-default" data-ng-click="cancelTakingPicture()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->

<!-- MODAL: Set Condition -->
<div id="modalCondition" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Condition & Action</h4>
            </div>
            <div class="modal-body">
                <div class="row" data-ng-show="selectedPocket.cutterPocketTypeId === 1">
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Lost')"
                            class="btn btn-info btn-lg btn-block">Lost
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Cracked')"
                            class="btn btn-info btn-lg btn-block">Cracked
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('ErrodedAlloy')"
                            class="btn btn-info btn-lg btn-block">Erroded Alloy
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('None')"
                            class="btn btn-info btn-lg btn-block">None
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Broken1')"
                            class="btn btn-info btn-lg btn-block">Broken 1
                        </button>
                    </div>    
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Broken2')"
                            class="btn btn-info btn-lg btn-block">Broken 2
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Broken3')"
                            class="btn btn-info btn-lg btn-block">Broken 3
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Broken4')"
                            class="btn btn-info btn-lg btn-block">Broken 4
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Broken4Plus')"
                            class="btn btn-info btn-lg btn-block">Broken 4+
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('ErrodedCutter1')"
                            class="btn btn-info btn-lg btn-block">Erroded Cutter 1
                        </button>
                    </div>    
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;"
                            data-ng-click="setConditionAction('ErrodedCutter2')"
                            class="btn btn-info btn-lg btn-block">Erroded Cutter 2
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;"
                            data-ng-click="setConditionAction('ErrodedCutter3')"
                            class="btn btn-info btn-lg btn-block">Erroded Cutter 3
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;"
                            data-ng-click="setConditionAction('ErrodedCutter4')"
                            class="btn btn-info btn-lg btn-block">Erroded Cutter 4
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;"
                            data-ng-click="setConditionAction('ErrodedCutter4Plus')"
                            class="btn btn-info btn-lg btn-block">Erroded Cutter 4+
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn1')"
                            class="btn btn-info btn-lg btn-block">Worn 1
                        </button>
                    </div>    
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn2')"
                            class="btn btn-info btn-lg btn-block">Worn 2
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn3')"
                            class="btn btn-info btn-lg btn-block">Worn 3
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn4')"
                            class="btn btn-info btn-lg btn-block">Worn 4
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn4Plus')"
                            class="btn btn-info btn-lg btn-block">Worn 4+
                        </button>
                    </div>    
                </div>
                <div class="row" data-ng-show="selectedPocket.cutterPocketTypeId === 2">
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Lost')"
                            class="btn btn-info btn-lg btn-block">Lost
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Cracked')"
                            class="btn btn-info btn-lg btn-block">Cracked
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;"
                            data-ng-click="setConditionAction('Broken')"
                            class="btn btn-info btn-lg btn-block">Broken
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn1')"
                            class="btn btn-info btn-lg btn-block">Worn 1
                        </button>
                    </div>
                    <div class="col-xs-3 mb-xs">
                        <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn1Plus')"
                            class="btn btn-info btn-lg btn-block">Worn 1 +
                        </button>
                    </div>
                </div>
                <div class="row" data-ng-show="selectedPocket.cutterPocketTypeId === 7">
                     <div class="col-xs-3 mb-xs">
                         <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('None')"
                             class="btn btn-info btn-lg btn-block">None
                         </button>
                     </div>
                     <div class="col-xs-3 mb-xs">
                         <button style="height:80px; white-space: normal;" data-ng-click="setConditionAction('Worn')"
                             class="btn btn-info btn-lg btn-block">Worn
                         </button>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="clearCondition()" class="btn btn-info">Clear Condition</button>
                <button data-ng-click="closeCancelModalSetCondition()" class="btn btn-danger">
                    Cancel/Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<header id="header" class="text-center">
    <h1 class="title">DULL GRADE</h1>
    <!-- Chosen Tool -->
    <h1 data-ng-show="selectedTools[0]" class="tool-serial-title">{{selectedTools[0].toolString}}
        <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH
            <i class="fa fa-fast-forward"></i>
        </span>
        <span class="pull-right" style="color: red" data-ng-show="paintOnly">
            <i class="fa fa-paint-brush"></i>
        </span>
    </h1>
    <a data-ng-click="pushToNext()"
        data-ng-show="selectedTools[0]" href="javascript:void(0)"
        style="float:right; width:230px" class="btn btn-info pull-right bgcustom">
        <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">FINISH</span>
        <span class="col-xs-12" style="font-size:.8em">COMPLETE DULLGRADE</span>
    </a>
    <a data-ng-click="updateAllDullGrades()"
        data-ng-show="selectedTools[0]" href="javascript:void(0)"
        style="float:right; width:230px" class="btn btn-success pull-right bgcustom">
        <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
        <span class="col-xs-12" style="font-size:.8em">SAVE DULLGRADES</span>
    </a>
    <button data-ng-show="selectedTools[0]"
        class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="init()">
        <i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">

        <div class="col-xs-12">
            <!-- <div class="col-xs-12">
                <button data-ng-show="selectedTools[0] && !paintOnly"
                    class="btn btn-warning pull-right" data-ng-click="markAsPaintOnly()">Paint Only</button>
                <button data-ng-show="selectedTools[0] && paintOnly"
                    class="btn btn-warning pull-right" data-ng-click="markAsPaintOnly()">Not Paint Only</button>
                <button data-ng-show="selectedTools[0]"
                    class="btn btn-info pull-right" data-ng-click="openModalMarkAsNewTool()">Mark As New Tool</button>
            </div> -->
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs"
                                data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data
                                    class="btn btn-default btn-lg btn-block">{{tool.toolString}}
                                    <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH
                                        <i class="fa fa-fast-forward"></i>
                                    </span>
                                </a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in dullgrade</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cutterstructure col-xs-12"
            data-ng-show="selectedTools[0]">
            <!-- Blade GROUPS -->
            <div class="cutterstructure col-xs-12"
                data-ng-show="selectedTools[0]">
                <!-- Blade GROUPS -->
                <button class="btn btn-default" rotateBit style="position: fixed; bottom: 0px; left: 0px; z-index: 100;"
                    data-code="61">
                    <span class="fa fa-chevron-left fa-4x"></span>
                </button>
                <button class="btn btn-default" rotateBit
                    style="position: fixed; bottom: 0px; right: 0px; z-index: 100;" s data-code="45">
                    <span class="fa fa-chevron-right fa-4x"></span>
                </button>
                <div id="group-{{$index}}" data-ng-repeat="group in groups track by $index"
                    class="col-xs-12 group-container">
                    <span data-ng-init="gIndex = $index"></span>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-show="!group.order">BOX</h2>
                            <h2 data-ng-show="group.order">PIN</h2>
                        </div>
                        <div class="panel-body container-3d row-horizon {{group.blur ? 'group-inactive' : ''}}"
                            style="overflow-x: auto">
                            <div class="carousel-horiz"
                                style="{{threeDimensionalPanelContainerTransformStyle ? threeDimensionalPanelContainerTransformStyle : 'translateZ(-288px) rotateX(0deg)'}}">
                                <div data-three-dimensional-panel class="blade-container"
                                    data-ng-repeat="blade in group.blades track by $index"
                                    style="{{blade.class3d}} {{blade.class3dbg}}" data-deg="{{blade.deg}}"
                                    data-radians="{{blade.radians}}" gindex="{{gIndex}}">
                                    <h1 class="blade-header dnr">{{blade.order}}</h1>
                                    <div data-three-dimensional-panel data-deg="{{blade.deg}}"
                                        data-radians="{{blade.radians}}" class="col-xs-12 blade-flex-container"
                                        gindex="{{gIndex}}" style="top: 5%;">
                                        <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow">
                                            <span data-ng-init="rIndex = $index"></span>
                                            <span style="font-weight:bold">{{row.order}}</span>
                                            <a data-ng-click="modalCondition(pocket)"
                                                class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} {{pocket.activePocket}} btn btn-default"
                                                data-ng-repeat="pocket in row.pockets">
                                                <div style="margin-top:-8px">
                                                    <span class="smallsize">{{pocket.size}}</span>
                                                </div>
                                                <div style="margin-top:-4px">
                                                    <span data-ng-show="pocket.cutterCondition"
                                                        class="condition-style">{{pocket.cutterCondition}}</span>
                                                    <span data-ng-show="!pocket.cutterCondition"
                                                        class="condition-style">&nbsp;&nbsp;</span>
                                                    <span data-ng-show="pocket.cutterAction"
                                                        class="action-style">{{pocket.cutterAction}}</span>
                                                    <span data-ng-show="!pocket.cutterAction"
                                                        class="action-style">&nbsp;&nbsp;</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>