<!-- MODAL INSPECTION ISSUE -->
<div id="modalInspectionIssue" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose An Inspection Issue</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 mb-xs">
                        <select class="form-control" data-ng-model="$parent.selectedToolSection" data-ng-change="getIssuesForSelectedToolSection()" data-ng-options="toolSection.toolSection for toolSection in toolSections">
                            <option value="">Tool Section</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6 mb-xs">
                        <select class="form-control" data-ng-model="$parent.selectedIssue" data-ng-options="issue.inspectionIssue for issue in toolSectionIssues">
                            <option value="">Issue</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-ng-click="saveInspectionIssue()">SAVE</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Dullgrade Information</h1>
    </div>
</header>
<div class="bglight">
    <div class="row">
        <div class="col-xs-12 mb-md">
            <!-- Chosen Tool -->
            <div class="row">
                <div class="col-xs-12">
                    <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-4">
                        <div class="alert alert-primary alert-dismissible fade in" role="alert">
                            <!-- <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                            </button> -->
                            <h2 class="bold">{{selectedTools[0].toolString}} <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel-group" id="issueAccordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="issueHeading" data-ng-class="{'redBackground': inspectionIssue}">
                                    <button class="btn btn-default pull-right" data-ng-click="openModalInspectionIssue()">Add</button>
                                    <h3 class="panel-title">
                                        <button class="btn btn-link" data-toggle="collapse" data-parent="#issueAccordion" data-target="#collapseIssue" aria-controls="collapseIssue" aria-expanded="false"><span class="badge" style="background-color:white; color:black" data-ng-show="inspectionIssue">!</span> Inspection Issues
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapseIssue" class="panel-collapse collapse" role="tabpanel" aria-labelledby="issueHeading">
                                    <div class="panel-body form-group">
                                        <textarea class="form-control" rows="{{textAreaSize}}" data-ng-model="$parent.inspectionIssue"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel-group" id="flagAccordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="flagHeading" data-ng-class="{'redBackground': flags.length > 0}">
                                    <h3 class="panel-title">
                                        <button class="btn btn-link" data-toggle="collapse" data-parent="#flagAccordion" data-target="#collapseFlag" aria-controls="collapseFlag" aria-expanded="false"><span class="badge"  style="background-color:white; color:black" data-ng-show="flags.length > 0">!</span> Flags
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapseFlag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="flagHeading">
                                    <div class="panel-body form-group">
                                        <h4 data-ng-repeat="flag in flags"><strong>{{flag.number}}</strong>{{' : ' + flag.request}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 mb-sm">
                        <button class="btn btn-block btn-lg btn-default" data-ng-click="backToDullGradeHome()"><i class="fa fa-arrow-left"></i> Back</button>
                    </div>
                    <div class="col-xs-12 col-sm-2" data-ng-show="partNumber || selectedTools[0].partNumber">
                        <button class="btn btn-block btn-lg btn-success" data-ng-click="saveBakerBitAncillaryInfo()"><i class="fa fa-save"></i> SAVE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 mb-md">
            <div class="col-xs-12 col-md-3">
                <form class="panel-body" name="partInfoForm">
                    <button class="pull-right btn btn-default btn-sm" data-ng-show="selectedTools[0].partNumber && !editPart" data-ng-click="editPartInfo()">Edit</button>
                    <button class="pull-right btn btn-default btn-sm" data-ng-show="selectedTools[0].partNumber && editPart" data-ng-click="undoEditPartInfo()">Undo</button>
                    <h4 class="text-center"><strong>Part Information</strong></h4>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12">
                            <h4 data-ng-show="!selectedTools[0].partNumber || editPart"><strong>Part Number *</strong></h4>
                            <h4 data-ng-show="selectedTools[0].partNumber && !editPart"><strong>Part Number:</strong></h4>
                        </div>
                        <div class="col-xs-12" data-ng-show="!selectedTools[0].partNumber || editPart">
                            <input type="text" value="" class="form-control" data-ng-model="$parent.partNumber" placeholder="Part Number" required>
                        </div>
                        <div class="col-xs-12 col-md-6" data-ng-show="selectedTools[0].partNumber && !editPart">
                            <h4>{{selectedTools[0].partNumber}}</h4>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" data-ng-show="!selectedTools[0].partNumber || editPart">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-block btn-sm col-xs-12" data-ng-click="partInfoForm.$valid && checkIfPartExist()">Check If Part Exist</button>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 pr-0">
                            <h4 data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart"><strong>Size *</strong></h4>
                            <h4 data-ng-show="selectedTools[0].cuttingDiameterFraction && !editPart"><strong>Size:</strong></h4>
                        </div>
                        <div class="col-xs-12 col-md-6" data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart">
                            <select class="form-control" data-ng-model="$parent.selectedWholeNumber" data-ng-options="wholeNumber.Number for wholeNumber in wholeNumbers track by wholeNumber.Number" data-ng-disabled="!partChecked">
                                <option value="">Whole #</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-6" data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart">
                            <select class="form-control" data-ng-model="$parent.selectedFraction" data-ng-options="fraction.fraction for fraction in fractions track by fraction.fraction" data-ng-disabled="!partChecked">
                                <option value="">Fraction</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-9" data-ng-show="selectedTools[0].cuttingDiameterFraction && !editPart">
                            <h4>{{selectedTools[0].cuttingDiameterFraction}}</h4>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 pr-0">
                            <h4 data-ng-show="!selectedTools[0].style || editPart"><strong>Style *</strong></h4>
                            <h4 data-ng-show="selectedTools[0].style && !editPart"><strong>Style:</strong></h4>
                        </div>
                        <div class="col-xs-12" data-ng-show="!selectedTools[0].style || editPart">
                            <input type="text" data-ng-disabled="!partChecked" class="form-control" data-ng-model="$parent.style" placeholder="Style">
                        </div>
                        <div class="col-xs-12" data-ng-show="selectedTools[0].style && !editPart">
                            <h4>{{selectedTools[0].style}}</h4>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col-xs-12 col-md-3">
                <form class="panel-body" name="partInfoForm">
                    <button class="pull-right btn btn-default btn-sm" data-ng-show="selectedTools[0].partNumber && !editPart" data-ng-click="editPartInfo()">Edit</button>
                    <button class="pull-right btn btn-default btn-sm" data-ng-show="selectedTools[0].partNumber && editPart" data-ng-click="undoEditPartInfo()">Undo</button>
                    <h4 class="text-center"><strong>Part Information</strong></h4>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 col-md-6">
                            <h4 data-ng-show="!selectedTools[0].partNumber || editPart">Part Number *</h4>
                            <h4 data-ng-show="selectedTools[0].partNumber && !editPart">Part Number:</h4>
                        </div>
                        <div class="col-xs-12 col-md-6" data-ng-show="!selectedTools[0].partNumber || editPart">
                            <input type="text" value="" class="form-control" data-ng-model="$parent.partNumber" placeholder="Part Number" required>
                        </div>
                        <div class="col-xs-12 col-md-6" data-ng-show="selectedTools[0].partNumber && !editPart">
                            <h4>{{selectedTools[0].partNumber}}</h4>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" data-ng-show="!selectedTools[0].partNumber || editPart">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-block btn-sm col-xs-12" data-ng-click="partInfoForm.$valid && checkIfPartExist()">Check If Part Exist</button>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 col-md-3 pr-0">
                            <h4 data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart">Size *</h4>
                            <h4 data-ng-show="selectedTools[0].cuttingDiameterFraction && !editPart">Size:</h4>
                        </div>
                        <div class="col-xs-12 col-md-4" data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart">
                            <select class="form-control" data-ng-model="$parent.selectedWholeNumber" data-ng-options="wholeNumber.Number for wholeNumber in wholeNumbers track by wholeNumber.Number" data-ng-disabled="!partChecked">
                                <option value="">Whole #</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-5" data-ng-show="!selectedTools[0].cuttingDiameterFraction || editPart">
                            <select class="form-control" data-ng-model="$parent.selectedFraction" data-ng-options="fraction.fraction for fraction in fractions track by fraction.fraction" data-ng-disabled="!partChecked">
                                <option value="">Fraction</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-9" data-ng-show="selectedTools[0].cuttingDiameterFraction && !editPart">
                            <h4>{{selectedTools[0].cuttingDiameterFraction}}</h4>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 col-md-3 pr-0">
                            <h4 data-ng-show="!selectedTools[0].style || editPart">Style *</h4>
                            <h4 data-ng-show="selectedTools[0].style && !editPart">Style:</h4>
                        </div>
                        <div class="col-xs-12 col-md-9" data-ng-show="!selectedTools[0].style || editPart">
                            <input type="text" data-ng-disabled="!partChecked" class="form-control" data-ng-model="$parent.style" placeholder="Style">
                        </div>
                        <div class="col-xs-12 col-md-9" data-ng-show="selectedTools[0].style && !editPart">
                            <h4>{{selectedTools[0].style}}</h4>
                        </div>
                    </div>
                </form>
            </div> -->
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <h4 class="text-center"><strong>Rush Bit</strong></h4>
                    <!-- Rectangular switch -->
                    <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                    <label class="switch col-xs-3">
                        <input type="checkbox" data-ng-model="$parent.rush">
                        <div class="slider"></div>
                    </label>
                    <label class="col-xs-4">Yes</label>
                    <div class="col-xs-12 form-group">
                        <label>Rush Comments</label>
                        <textarea class="form-control" rows="2" data-ng-model="$parent.rushComments"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <div class="row">
                        <h4 class="text-center"><strong>Paint Only</strong></h4>
                        <!-- Rectangular switch -->
                        <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="$parent.paintOnly">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>
                    <div class="row form-group">
                        <h4 class="text-center"><strong>Flame Up 45</strong></h4>
                        <!-- Rectangular switch -->
                        <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="$parent.flameUp">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>
                    <div class="row form-group">
                        <h4 class="text-center"><strong>Cut Out</strong></h4>
                        <!-- Rectangular switch -->
                        <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="$parent.cutOut" data-ng-change="openModalCutOutComments()">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <div class="row">
                        <h4 class="text-center"><strong>Rechase Threads</strong></h4>
                        <!-- Rectangular switch -->
                        <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="$parent.rechaseThreads">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Reshank Number</label>
                        <input type="text" class="form-control" placeholder="Reshank #" data-ng-model="$parent.reshankNumber">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <div class="col-xs-12 form-group">
                        <label>Hard Face Hours</label>
                        <input type="text" class="form-control" placeholder="Hard Face Hours" data-ng-model="$parent.hardFaceHours">
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Flamespray Hours</label>
                        <input type="text" class="form-control" placeholder="Flamespray Hours" data-ng-model="$parent.flamesprayHours">
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <div class="col-xs-12 form-group">
                        <h4 class="text-center"><strong>Customer *</strong></h4>
                        <select class="form-control" data-ng-model="$parent.selectedCustomer" data-ng-options="customer as customer.customerName for customer in repairCustomers track by customer.repairCustomerId" data-ng-change="getStockPointsByRepairCustomerId()">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <h4 class="text-center"><strong>Customer Owned</strong></h4>
                        <!-- Rectangular switch -->
                        <label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="$parent.customerOwned">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>
                    <div class="col-xs-12 form-group">
                        <h4 class="text-center"><strong>Stock Point Received From *</strong></h4>
                        <select class="form-control" data-ng-model="$parent.selectedReceivedFromStockPoint" data-ng-options="stockPoint as stockPoint.city for stockPoint in stockPoints | orderBy: 'city' track by stockPoint.repairStockPointId"
                        data-ng-change="setShipToStockPoint()">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <h4 class="text-center"><strong>Stock Point Ship To</strong></h4>
                        <select class="form-control" data-ng-model="$parent.selectedShipToStockPoint" data-ng-options="stockPoint as stockPoint.city for stockPoint in stockPoints | orderBy: 'city' track by stockPoint.repairStockPointId">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>IST</label>
                        <input type="text" class="form-control" placeholder="IST" data-ng-model="$parent.ist">
                        <div class="col-xs-12 col-md-10" data-ng-show="selectedTools[0].IST">
                            <h4>{{selectedTools[0].IST}}</h4>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-3">
                <form class="panel-body">
                    <div class="col-xs-12 form-group">
                        <label>SO</label>
                        <input type="text" class="form-control" placeholder="SO"  data-ng-model="$parent.so">
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Nozzle Comments</label>
                        <textarea class="form-control" rows="2"  data-ng-model="$parent.nozzleComments"></textarea>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Gauge OD</label>
                        <input type="text" class="form-control" placeholder="Gauge OD"  data-ng-model="$parent.gaugeOd">
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Grade</label>
                        <input type="text" class="form-control" placeholder="Grade"  data-ng-model="$parent.grade">
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Visual & Dye Pen Comments</label>
                        <textarea class="form-control" rows="2"  data-ng-model="$parent.visualDyePenComments"></textarea>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label>Shipping Needs</label>
                        <input type="text" class="form-control" placeholder="Shipping Needs"  data-ng-model="$parent.shippingNeeds">
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-3 form-group">
                <form class="panel-body">
                    <h4 class="text-center"><strong>Additional Shop Work</strong></h4>
                    <div class="panel-body form-group">
                        <textarea class="form-control" rows="8" data-ng-model="$parent.additionalShopWork"></textarea>
                    </div>
                    <!--<div class="row">
                        <h4 class="text-center"><strong>Stop Work</strong></h4>
                        <!-- Rectangular switch -->
                        <!--<label class="col-xs-5 text-right" style="margin-right: 5px">No</label>
                        <label class="switch col-xs-3">
                            <input type="checkbox"  data-ng-model="$parent.stopWork">
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-4">Yes</label>
                    </div>-->
                </form>
            </div>
            <div class="col-xs-12 col-md-3" data-ng-show="(selectedTools[0].partId || partNumber )&& selectedReceivedFromStockPoint && ist">
                <button class="btn btn-warning btn-block" data-ng-click="saveBakerBitAncillaryInfo(true)">Save and Move to Next Station</button>
            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<!-- <div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div> -->
