<keypress></keypress>

<!-- NEW -->

<header id="header" class="text-center">
    <h1 class="title">DULL GRADE</h1>
    <!-- Chosen Tool -->
    <h1 data-ng-show="selectedTools[0]" class="tool-serial-title">{{selectedTools[0].toolString}}
        <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span>
    </h1>
    <a data-ng-click="updateAllDullGrades()" href="javascript:void(0)" style="float:right" class="btn btn-success pull-right bgcustom">
        <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
        <span class="col-xs-12" style="font-size:.8em">SAVE DULLGRADES</span>
    </a>
    <button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="goBackToDullGradeHome()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>

<!-- END NEW -->

<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-lg-10">
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in dullgrade</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- user technician pin login -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
        </div>
        <div class="cutterstructure diff-sizing col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
            <!-- Blade GROUPS -->
            <div class="cutterstructure col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                <!-- Blade GROUPS -->
                <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                    <span data-ng-init="gIndex = $index"></span>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-show="!group.order">GROUP 1</h2>
                            <h2 data-ng-show="group.order">GROUP {{group.order}}</h2>
                        </div>
                        <div class="panel-body container-3d row-horizon" style="overflow-x: scroll">
                            <div class="carousel" style="{{threeDimensionalPanelContainerTransformStyle}}">
                                <div data-three-dimensional-panel class="blade-container" data-ng-repeat="blade in group.blades track by $index" style="{{blade.class3d}} {{blade.class3dbg}}" data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" gindex="{{gIndex}}">
                                    <h1 style="margin-top: -54px;font-weight: bold;">{{$index + 1}}</h1>
                                    <div data-three-dimensional-panel data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" class="col-xs-12 text-center" gindex="{{gIndex}}">
                                        <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow text-center">
                                            <span data-ng-init="rIndex = $index"></span>
                                            <br/>
                                            <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                            <br/>
                                            <a data-ng-click="openModalSetConditionActionCutter(pocket)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} {{pocket.activePocket}} btn btn-default" data-ng-repeat="pocket in row.pockets" style="display:block">
                                                <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                                <div style="margin-top:-4px">
                                                    <span data-ng-show="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-show="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-show="pocket.cutterAction" class="action-style">{{pocket.cutterAction}}</span><span data-ng-show="!pocket.cutterAction" class="action-style">&nbsp;&nbsp;</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
