<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12 col-md-10">Dullgrade Home</h1>
        <button type="button" class="btn btn-default btn-lg col-xs-12 col-md-2" data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" data-ng-click="goToReceiving()"><span class="fa fa-plus"></span> Add Tool</button>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
            <h4>{{char}}</h4>
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section-showfirst.html'"></ng-include>
            <!-- Choose Tool -->
            <div data-ng-show="currentAuthenticatedUsers.length === maxUsers && !selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in dullgrade</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chosen Tool -->
            <div class="row">
                <div class="col-xs-12">
                    <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-8">
                        <div class="alert alert-primary alert-dismissible fade in" role="alert">
                            <!-- <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                            </button> -->
                            <h2 class="bold"> {{selectedTools[0].toolString}}<br> <span style="color:rgba(0, 0, 0, 0.38)">{{selectedTools[0].partNumber}}</span> <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-block btn-lg btn-success" data-ng-show="everythingThatIsRequiredIsFinished" data-ng-click="dullGradeComplete()"><i class="fa fa-save"></i> COMPLETE DULLGRADE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 dullgrade-progress">
            <div class="col-xs-12 col-sm-6 col-md-4 mb-md" data-ng-repeat="mp in microprograms | orderBy: 'chrono'" data-ng-show="mp.visible">
                <a href="{{mp.url}}" class="progress btn btn-block btn-lg button-xl {{mp.done ? 'btn-default btn-hollow' : 'btn-default'}}">
                    {{mp.name}} <i class="fa {{mp.done ? 'fa-check' : 'fa-chevron-right'}} pull-right"></i>
                    <div data-ng-show="mp.showAdditionalList">
                        <h5>Nozzle Comments: <i class="fa {{nozzleComments ? 'fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                        <h5>Gauge OD: <i class="fa {{gaugeOd ? 'fa fa-check-square-o' : ' fa-square-o'}}"></i></h5>
                        <h5>Grade: <i class="fa {{grade ? 'fa fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                        <h5>Visual Dye Pen Comments: <i class="fa {{visualDyePenComments ? 'fa fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
