<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Final Inspection</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
            <h4>{{char}}</h4>
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in final Inspection</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/labortimestamps-timer-screen.html'"></ng-include>
</div>
