<header id="header" class="text-center separator">
    <h1 class="title">Review and Package</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0]" class="tool-serial-title">{{selectedTools[0].toolString}}</h1>
    <button
        data-ng-show="selectedTools[0] && thirdPartyInspectionImageTwo.picTaken && paintedBoxEndImage.picTaken && paintedPinEndImage.picTaken && unusualDamage != 1"
        class="btn btn-lg btn-success pull-right"
        data-ng-click="closeRepairMoveToStock()"><i class="fa fa-save"></i>
        CONTINUE</button>
	<button data-ng-show="selectedTools[0]" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="init()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>
<div class="bglight">
    <div class="row">
        <div class="col-xs-12">
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords track by $index">
								<a data-ng-if="!tool.onHold" data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} </a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in review and package.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mb-md" data-ng-show="selectedTools[0]">
                <div class="col-xs-12 panel panel-body">
                    <h2 class="text-center" data-ng-show="unusualDamage === 1">Unusual Damage needs to be reviewed before tool can continue.</h2>
                    <h2 class="text-center" data-ng-show="unusualDamage === 2">Unusual Damage was accepted and tool can be shipped.</h2>
                    <h2 class="text-center" data-ng-show="unusualDamage === 3">Unusual Damage was rejected and tool needs to be sent in for repair.</h2>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(paintedBoxEndImage)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!paintedBoxEndImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="paintedBoxEndImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="paintedBoxEndImage.picTaken">{{paintedBoxEndImage.name}}</span>
                            <span
                                data-ng-show="!paintedBoxEndImage.picTaken">{{paintedBoxEndImage.name}}</span>
                            <span data-ng-show="paintedBoxEndImage.dateAdded" style="font-size:.8em">
                                {{paintedBoxEndImage.dateAdded}}</span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(paintedPinEndImage)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!paintedPinEndImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="paintedPinEndImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="paintedPinEndImage.picTaken">{{paintedPinEndImage.name}}</span>
                            <span
                                data-ng-show="!paintedPinEndImage.picTaken">{{paintedPinEndImage.name}}</span>
                            <span data-ng-show="paintedPinEndImage.dateAdded" style="font-size:.8em">
                                {{paintedPinEndImage.dateAdded}}</span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(thirdPartyInspectionImageTwo)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!thirdPartyInspectionImageTwo.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="thirdPartyInspectionImageTwo.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="thirdPartyInspectionImageTwo.picTaken">{{thirdPartyInspectionImageTwo.name}}</span>
                            <span
                                data-ng-show="!thirdPartyInspectionImageTwo.picTaken">{{thirdPartyInspectionImageTwo.name}}</span>
                            <span data-ng-show="thirdPartyInspectionImageTwo.dateAdded" style="font-size:.8em">
                                {{thirdPartyInspectionImageTwo.dateAdded}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div id="HRSDNR" class="col-xs-12" data-ng-show="selectedTools[0]&& thirdPartyInspectionImageTwo.picTaken && selectedTools[0].toolFamilyId === 1">
                <h3 style="position: absolute; top:-14px; left: 90px; color:white; text-transform: uppercase; font-weight: bold">{{selectedTools[0].serial}}</h3>
                <h2 style="position: absolute; top:262px; left: 463px; color:white; text-transform: uppercase; font-weight: bold">{{measurements.lengthTotal}}</h2>
                <h2 style="position: absolute; top:338px; left: 132px; color:white; text-transform: uppercase; font-weight: bold; padding: 4px 52px 4px 27px; margin-left:-27px" data-ng-click="length1 = true" role="button">{{measurements.length1}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:360px; left: 104px; width: 97px" data-ng-show="length1" data-ng-model="measurements.length1" show-focus="length1" data-ng-blur="length1 = false" data-ng-change="calculateTotalLength()">
                <h2 style="position: absolute; top:339px; left: 277px; color:white; text-transform: uppercase; font-weight: bold; padding: 3px 28px 4px 27px; margin-left:-27px" data-ng-click="length2 = true" role="button">{{measurements.length2}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:360px; left: 251px; width: 97px" data-ng-show="length2" data-ng-model="measurements.length2" show-focus="length2" data-ng-blur="length2 = false" data-ng-change="calculateTotalLength()">
                <h2 style="position: absolute; top:338px; left: 475px; color:white; text-transform: uppercase; font-weight: bold; padding: 3px 28px 4px 25px; margin-left:-25px" data-ng-click="length3 = true" role="button">{{measurements.length3}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:359px; left: 450px; width: 96px" data-ng-show="length3" data-ng-model="measurements.length3" show-focus="length3" data-ng-blur="length3 = false" data-ng-change="calculateTotalLength()">
                <h2 style="position: absolute; top:338px; left: 688px; color:white; text-transform: uppercase; font-weight: bold; padding: 3px 48px 4px 32px; margin-left:-38px" data-ng-click="length4 = true" role="button">{{measurements.length4}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:359px; left: 650px; width: 97px" data-ng-show="length4" data-ng-model="measurements.length4" show-focus="length4" data-ng-blur="length4 = false" data-ng-change="calculateTotalLength()">
                <h2 style="position: absolute; top:338px; left: 839px; color:white; text-transform: uppercase; font-weight: bold; padding: 3px 48px 4px 32px; margin-left:-38px" data-ng-click="length5 = true" role="button">{{measurements.length5}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:359px; left: 801px; width: 97px" data-ng-show="length5" data-ng-model="measurements.length5" show-focus="length5" data-ng-blur="length5 = false" data-ng-change="calculateTotalLength()">

                <h2 style="position: absolute; top:507px; left: 129px; text-transform: uppercase; font-weight: bold; padding: 3px 9px 4px 36px; margin-left:-34px;" data-ng-click="boxOd = true" role="button">{{measurements.boxOD}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:525px; left: 95px; width: 116px" data-ng-show="boxOd"
                data-ng-model="measurements.boxOD" data-ng-blur="boxOd = false" show-focus="boxOd">

                <h2 style="position: absolute; top:504px; left: 475px; text-transform: uppercase; font-weight: bold; padding: 3px 9px 4px 36px; margin-left:-36px" data-ng-click="midOdFractionalInches = true" role="button">{{measurements.midOD}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:524px; left: 440px; width: 116px" data-ng-show="midOdFractionalInches" data-ng-model="measurements.midOD" data-ng-blur="midOdFractionalInches = false"  show-focus="midOdFractionalInches">

                <h2 style="position: absolute; top:507px; left: 828px; padding: 3px 9px 4px 36px; margin-left:-34px; text-transform: uppercase; font-weight: bold" data-ng-click="pinOd = true" role="button">{{measurements.pinOD}}</h2>
                <input type="text" class="form-control" style="position: absolute; top:525px; left: 791px; width: 116px" data-ng-show="pinOd" data-ng-model="measurements.pinOD" data-ng-blur="pinOd = false" show-focus="pinOd">
                <h2 style="position: absolute; top:619px; left: 185px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].cuttingDiameterFraction}}</h2>
                <h2 style="position: absolute; top:619px; left: 454px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].passThroughFraction}}</h2>
                <h2 style="position: absolute; top:683px; left: 454px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].innerDiameterFraction}}</h2>
                <h4 style="position: absolute; top:703px; left: 34px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].boxThreadName}}</h4>
                <h4 style="position: absolute; top:703px; left: 169px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].pinThreadName}}</h4>
                <h5 style="position: absolute; top:725px; left: 53px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].boxTorqueFTLB}}</h5>
                <h5 style="position: absolute; top:725px; left: 188px; text-transform: uppercase; font-weight: bold">{{selectedTools[0].pinTorqueFTLB}}</h5>
                <div data-ng-style="{'background-image':'url(/images/HRSDNRReamerSheetMUT.jpg)', 'width': '1012px','height': '780px'}"></div>
            </div> -->
        </div>
    </div>
</div>