<keypress></keypress>
<keypressForRotate></keypressForRotate>

<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Flame Spray</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-lg-10">
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}}</a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in flame spray</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chosen Tool -->
            <div class="row">
                <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-8">
                    <div class="alert alert-primary alert-dismissible fade in" role="alert">
                        <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                        <h2 class="bold">{{selectedTools[0].toolString}}</h2>
                    </div>
                </div>
                <div data-ng-show="selectedTools[0]" class="col-xs-12 col-sm-4">
                    <a data-ng-click="updateAllDullGrades()" href="javascript:void(0)" style="float:right" class="btn btn-success text-right bgcustom">
                        <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
                        <span class="col-xs-12" style="font-size:.8em">SAVE FLAMESPRAY</span>
                    </a>
                </div>
            </div>
            <!-- user technician pin login -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
        </div>
        <div class="cutterstructure col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
            <!-- Blade GROUPS -->
            <div class="cutterstructure col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                <!-- Blade GROUPS -->
                <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                    <span data-ng-init="gIndex = $index"></span>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-show="!group.order">GROUP 1</h2>
                            <h2 data-ng-show="group.order">GROUP {{group.order}}</h2>
                        </div>
                        <div class="panel-body container-3d row-horizon" style="overflow-x: auto">
                            <div class="carousel-horiz" style="{{threeDimensionalPanelContainerTransformStyle ? threeDimensionalPanelContainerTransformStyle : 'translateZ(-288px) rotateX(0deg)'}}">
                                <div data-three-dimensional-panel class="blade-container" data-ng-repeat="blade in group.blades track by $index" style="{{blade.class3d}} {{blade.class3dbg}}" data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" gindex="{{gIndex}}">
                                    <h1 class="blade-header">{{$index + 1}}</h1>
                                    <div data-three-dimensional-panel data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" class="col-xs-12" gindex="{{gIndex}}" style="top: 5%;">
                                        <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow">
                                            <span data-ng-init="rIndex = $index"></span>
                                            <span style="font-weight:bold">{{row.order}}</span>
                                            <a data-ng-click="selectForFlameSpray(pocket)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} {{ (pocket.fs && !pocket.fs.isFlameSpray) ? '' : (pocket.fs && pocket.fs.isFlameSpray || pocket.isFlameSpray) ? 'flamespray' : ''}} btn btn-default" data-ng-repeat="pocket in row.pockets">
                                                <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                                <div style="margin-top:-4px">
                                                    <span data-ng-show="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-show="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-show="pocket.cutterAction || pocket.fs && pocket.fs.cutterAction" class="action-style">{{pocket.fs && pocket.fs.cutterAction ? pocket.fs.cutterAction : pocket.cutterAction}}</span><span data-ng-show="!pocket.cutterAction" class="action-style">&nbsp;&nbsp;</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
