<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12 text-center">Waiting for FS/Braze</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">

            <!-- User Section that shows after tools are selected -->
            <div class="col-xs-12 text-center mb-md" data-ng-show="finishedAddingTools">
                <h3>{{currentAuthenticatedUsers && currentAuthenticatedUsers.length > 0 ? 'Send' : 'Login below in order to send'}} <strong>{{selectedTools[0].serial}}</strong> to <strong>{{nextFlow.name}}</strong>.</h3> <span><button class="btn btn-danger" data-ng-click="removeSelectedNextFlow()">No, Cancel</button></span>
            </div>
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div class="col-xs-12 col-md-8" data-ng-show="!finishedAddingTools">
                <h2>Waiting in line</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Flamespray</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="tool in flamesprayStationRecords track by $index">
                                <a data-ng-click="openModalSelectNextFlow(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h4 data-ng-show="flamesprayStationRecords.length === 0" style="color:rgba(0,0,0,.4)">There are no tools waiting for flamespray</h4>
                        </div>
                        <div class="col-xs-6">
                            <h2>Braze</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="tool in brazeStationRecords track by $index">
                                <a data-ng-click="openModalSelectNextFlow(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h4 data-ng-show="brazeStationRecords.length === 0" style="color:rgba(0,0,0,.4)">There are no tools waiting for braze</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- KILNS -->
            <div class="col-xs-12 col-md-4" data-ng-show="!finishedAddingTools">
                <h2>Currently in FS/Braze</h2>
                <div class="col-xs-12" data-ng-repeat="kiln in flowsWithTools">
                    <div class="btn btn-warning col-xs-12 kiln-container" data-ng-click="openModalKilnCutterDullGrades(kiln)" style="margin-bottom:2px">
                        <div class="col-xs-12 col-lg-6 text-center name">
                            {{kiln.name}}
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="col-xs-12 text-center tool" data-ng-repeat="tool in kiln.toolRepairs">
                                {{tool.serial}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div data-ng-show="currentAuthenticatedUsers.length === maxUsers" class="col-xs-12">
                <h1>In FS/Braze Station</h1>
                <div class="col-xs-12 mb-md">
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12 p-lr-0 mb-xs station-record" data-ng-repeat="station in fsFlowsWithRepair track by $index">
                            <div class="col-sm-6">{{station.description}}</div>
                            <div data-ng-if="station.repair" class="col-sm-6">{{station.repair}}</div>
                            <div data-ng-if="!station.repair" class="col-sm-6">This station is empty</div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="station in brazeFlowsWithRepair track by $index">
                            <a data class="btn btn-default btn-lg btn-block">{{station.description}}</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>


        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 mb-md" data-ng-repeat="mp in microprograms | orderBy: 'chrono'" data-ng-show="mp.visible">
                <a href="{{mp.url}}" class="btn btn-block btn-lg button-xl {{mp.done ? 'btn-default btn-hollow' : 'btn-default'}}">
                    {{mp.name}} <i class="fa {{mp.done ? 'fa-check' : 'fa-chevron-right'}} pull-right"></i>
                    <div data-ng-show="mp.showAdditionalList">
                        <h5>Nozzle Comments: <i class="fa {{nozzleComments ? 'fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                        <h5>Gauge OD: <i class="fa {{gaugeOd ? 'fa fa-check-square-o' : ' fa-square-o'}}"></i></h5>
                        <h5>Grade: <i class="fa {{grade ? 'fa fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                        <h5>Visual Dye Pen Comments: <i class="fa {{visualDyePenComments ? 'fa fa-check-square-o' : 'fa-square-o'}}"></i></h5>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
<!-- Authenticated Users Section Footer (ng-partials) -->
<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
