<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Waiting for Grunt/Grind</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div class="col-xs-12" data-ng-show="!selectedTools[0]">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Grunt</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="grunt in gruntStationRecords track by $index">
                                <a data-ng-show="!grunt.running" data-ng-click="addToolToSelectedToolsFromList(grunt, stationRecords)" class="btn btn-default btn-lg btn-block">{{grunt.toolString}} <span class="pull-right chartreuse" data-ng-show="grunt.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <a data-ng-show="grunt.running" data-ng-click="showStopScreen(grunt)" class="btn btn-purple btn-lg btn-block">{{grunt.toolString + " (" + grunt.currentUser.nameFirst}} <timer start-time="grunt.runningTimeStamp.startTime">
                                    : {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s)
                                </timer> <span class="pull-right chartreuse" data-ng-show="grunt.rush">RUSH <i class="fa fa-fast-forward"></i></span> </a>
                            </div>
                            <h3 data-ng-show="gruntStationRecords.length === 0">There are no tools in grunt</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h2>Grind</h2>
                            <div class="col-xs-12 p-lr-0 mb-xs" data-ng-repeat="grind in grindStationRecords track by $index">
                                <a data-ng-show="!grind.running" data-ng-click="addToolToSelectedToolsFromList(grind, stationRecords)" class="btn btn-default btn-lg btn-block">{{grind.toolString}} <span class="pull-right chartreuse" data-ng-show="grind.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <a data-ng-show="grind.running" data-ng-click="showStopScreen(grind)" class="btn btn-purple btn-lg btn-block">{{grind.toolString + " (" + grind.currentUser.nameFirst}} <timer start-time="grind.runningTimeStamp.startTime">
                                    : {{days === 0 ? '' :days + 'd' }} {{hours === 0 ? '' :hours + 'h'}} {{minutes === 0 ? '' :minutes + 'm' }} {{seconds}}s)
                                </timer> <span class="pull-right chartreuse" data-ng-show="grind.rush">RUSH <i class="fa fa-fast-forward"></i></span> </a>
                            </div>
                            <h3 data-ng-show="grindStationRecords.length === 0">There are no tools in grind</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="showStop">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/labortimestamps-timer-screen.html'"></ng-include>
</div>
