<rotatebitkeypress></rotatebitkeypress>
<header>
    <div id="header-wrap">
        <div class="row">
            <p class="col-xs-2 col-lg-12" style="font-size: 23px">{{workStation.workStationName}}</p>
            <div class="col-xs-12 col-sm-6" data-ng-show="!selectedTools[0] && workStation.facilityId === 1">
                <select class="form-control" data-ng-change="selectKiln()" data-ng-model="$parent.selectedKiln" data-ng-options="kl as kl.workStationName for kl in kilnWorkStations"></select>
            </div>
            <!-- Chosen Tool -->
            <div data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="col-xs-5 col-lg-8">
                <p  style="font-size: 25px"><strong>{{selectedTools[0].toolString}}</strong> <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></p>
            </div>
            <div data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="col-xs-4">
                <select class="form-control" data-ng-change="selectDullGrade()" data-ng-model="$parent.selectedDullGrade"  data-ng-options="dg as dg.dullGradeString for dg in dullgrades"></select>
            </div>
            <div class="dropdown col-xs-1 pull-right" data-ng-show="showMenu && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && isLatestDullGrade">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="fa fa-bars"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" data-ng-click="goToRework(null, true)" class="btn btn-sm btn-default mb-sm"  data-ng-show="showMenu && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && isLatestDullGrade">
                            <i class="fa fa-thumbs-down fa-2x" style="color:red"></i>
                        </a>
                    </li>
                    <li>
                        <button class="btn btn-sm btn-primary mb-sm btn-block" data-ng-show="!showStop && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" data-ng-click="isThereAnyCuttersThatNeedLotNumbers(true)">Show Stop</button>
                        <button class="btn btn-sm btn-primary mb-sm btn-block" data-ng-show="showStop && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" data-ng-click="showStop = false">Hide Stop</button>
                    </li>
                    <li>
                        <div data-ng-show="!showCutters && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                            <button class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#showCuttersUsedInRepair">Show Cutters</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-xs-2">
                <a href="javascript:void(0)" data-ng-click="goToRework(null, true)" class="btn btn-sm btn-default mb-sm"  data-ng-show="showReworkButton && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && isLatestDullGrade">
                    <i class="fa fa-thumbs-down fa-2x" style="color:red"></i>
                </a>
                <button class="btn btn-sm btn-primary mb-sm" data-ng-show="!showStop && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" data-ng-click="isThereAnyCuttersThatNeedLotNumbers(true)">Show Stop</button>
                <button class="btn btn-sm btn-primary mb-sm" data-ng-show="showStop && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" data-ng-click="showStop = false">Hide Stop</button>
                <div data-ng-show="!showCutters && selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#showCuttersUsedInRepair">Show Cutters</button>
                </div>
            </div> -->
        </div>
    </div>
</header>
<div class=" bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-lg-6">
            <!-- User Section (ng-partials) -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-lg-6 mb-sm" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in kiln</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cutterstructure diff-sizing col-xs-12 bit flatLg row-qty-lg" data-ng-if="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body" data-ng-swipe-left="rotateBit(true, false)" data-ng-swipe-right="rotateBit(false, true)">
                        <button class="pull-left btn btn-default" data-ng-click="rotateBit(true, false)">
                            <span class="fa fa-chevron-left fa-4x"></span>
                        </button>
                        <button class="pull-right btn btn-default" data-ng-click="rotateBit(false, true)">
                            <span class="fa fa-chevron-right fa-4x"></span>
                        </button>
                        <!-- Blades -->
                        <div data-ng-repeat="blade in group.blades track by $index" class="blade-container" data-ng-show="currentIndex === $index" >
                            <div class="panel panel-default lighter">
                                <div class="panel-body">
                                    <!-- Pockets/Cutters -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 no-leftright-padding" style="padding-left:0px; margin-bottom:-8px;">
                                        <h2 class="text-center no-padding">
                                            <span class="text-center" style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                        </h2>
                                        <div class="col-xs-12 text-center no-leftright-padding">
                                            <div data-ng-repeat="row in blade.rows | reverse track by $index" class="text-center lgrow">
                                                <span data-ng-init="rIndex = $index"></span>
                                                <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                                <br>
                                                <a class="pocket btn-{{pocket.type}} {{ (pocket.fs && !pocket.fs.isFlameSpray) ? '' : (pocket.fs && pocket.fs.isFlameSpray || pocket.isFlameSpray) ? 'flamespray' : ''}} btn btn-default btn-{{pocket.colorClass}} not-original" data-ng-repeat="pocket in row.pockets" data-ng-style="cutterSize(row)">
                                                    <div class="notch-top"></div>
                                                    <div data-ng-if="pocket.replaceWithCutterId" data-ng-style="exclamationiconkiln"><i data-ng-style="exclamationiconkilnI" class="fa fa-exclamation"></i></div>
                                                    <div style="margin-top:4px;margin-left:-2px;">
                                                        <span data-ng-if="pocket.cutterCondition" data-ng-style="pocketFont" class="condition-style">{{pocket.cutterCondition}}</span>
                                                        <span data-ng-if="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span>
                                                        <span data-ng-if="pocket.cutterAction || pocket.fs && pocket.fs.cutterAction"
                                                        data-ng-style="pocketFont" class="action-style">{{pocket.fs && pocket.fs.cutterAction ? pocket.fs.cutterAction : pocket.cutterAction}}</span>
                                                        <span data-ng-if="!pocket.cutterAction" class="action-style">--</span>
                                                    </div>
                                                    <span class="fa fa-asterisk" style="color: black" data-ng-show="pocket.isAddOnRecord === 1"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-show="showStop">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/authenticatedusers-section-footer.html'"></ng-include>
</div>
