<rotatednrkeypress></rotatednrkeypress>
<!-- MODAL: Select Next Flow -->
<div id="modalViewKilns" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Currently in Kiln</h2>
            </div>
            <div class="modal-body">
                <!-- KILNS -->
                <div class="row">
                    <div data-ng-repeat="kiln in $parent.flowsWithTools">
                        <div class="btn btn-warning col-xs-12 kiln-container" style="margin-bottom:2px" data-ng-disabled="kiln.toolRepairs.length === 0" data-ng-click="goToKiln(kiln)">
                            <div class="col-xs-12 col-lg-6 text-center name">
                                {{kiln.name}}
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class="col-xs-12 text-center tool" data-ng-repeat="tool in kiln.toolRepairs">
                                    {{tool.serial}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<header>
    <div id="header-wrap">
        <div class="row">
            <p class="col-xs-5" style="font-size: 23px">{{workStation.workStationName}}</p>
        </div>
        <div class="col-xs-2 pull-right">
            <button type="button" name="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modalViewKilns">View Kilns</button>
        </div>
    </div>
</header>
<div class=" bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-lg-6">
            <!-- User Section (ng-partials) -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-lg-6 mb-sm" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}}</a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in kiln</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
