
<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Mark Up</h1>
    </div>
</header>
<div class="bglight">
    <div id="BrazeContainer" class="row">
        <div class="col-xs-12 col-lg-6">
            <!-- Choose Tools -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12 col-sm-6">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in mark up</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chosen Tool -->
            <div class="row col-xs-12 col-sm-6">
                <div data-ng-show="selectedTools[0]" class="col-xs-12">
                    <div class="alert alert-primary alert-dismissible fade in" role="alert">
                        <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                        <h2 class="bold"><i class="fa fa-check pull-right"></i> {{selectedTools[0].toolString}} <br> <span style="color:rgba(0, 0, 0, 0.38)">{{selectedTools[0].partNumber}}</span> <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h2>
                    </div>
                </div>
            </div>
            <!-- user technician pin login -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <div class="col-xs-12 col-sm-6" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
                <!-- Confirm Cutter Structure -->
                <div data-ng-show="groups && groups.length > 0" class="col-xs-12">
                    <div id="choose-work-order" class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Confirm Cutter Structure <i class="fa fa-check floatright" style="color:green" data-ng-show="selectedTools[0]"></i></h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div data-ng-show="showErrorCheck" class="col-xs-12">
                                    <span><i data-ng-show="!errors.noGroups" class="fa fa-check green"></i><i data-ng-show="errors.noGroups" class="fa fa-times maroon"></i> At least one group.</span>
                                    <br/>
                                    <span><i data-ng-show="!errors.groupsWithoutBlades" class="fa fa-check green"></i><i data-ng-show="errors.groupsWithoutBlades" class="fa fa-times maroon"></i> At least one blade per group.</span>
                                    <br/>
                                    <span><i data-ng-show="!errors.bladesWithoutRows" class="fa fa-check green"></i><i data-ng-show="errors.bladesWithoutRows" class="fa fa-times maroon"></i> At least one row per blade.</span>
                                    <br/>
                                    <span><i data-ng-show="!errors.rowsWithoutPockets" class="fa fa-check green"></i><i data-ng-show="errors.rowsWithoutPockets" class="fa fa-times maroon"></i> At least one pocket per row.</span>
                                    <br/>
                                    <span><i data-ng-show="!errors.pocketsWithoutType" class="fa fa-check green"></i><i data-ng-show="errors.pocketsWithoutType" class="fa fa-times maroon"></i> Every pocket has a type.</span>
                                    <br/>
                                </div>
                                <div class="col-xs-12 mb-md text-right">
                                    <a href="javascript:void(0)" class="text-primary" data-ng-click="validateCutterStructure()" style="font-size:1.3em"><i class="fa fa-check-square-o"></i> Check/Validate Pocket Structure</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <button data-ng-click="saveCutterStructureForCurrentPart()" style="float:right" class="btn btn-success text-right bgcustom">
                                    <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
                                    <span class="col-xs-12" style="font-size:.8em">SAVE POCKET STRUCTURE</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 select-key" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
            <div class="col-xs-12 col-sm-4 text-center type mb-md">
                <p>Select Pocket Type</p>
                <a href="javascript:void(0)" data-ng-repeat="type in pocketTypes" data-ng-click="setActivePocketType(type)" class="key-{{type.key}}" data-ng-class="{active: type.isActive}">{{type.name}}</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-center size mb-md">
                <p>Select Pocket Size</p>
                <a href="javascript:void(0)" data-ng-repeat="size in pocketSizes" data-ng-click="setActivePocketSize(size)" class="{{size.sizeClass}}" data-ng-class="{active: size.isActive}">{{size.sizeFraction}}</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-center mb-md">
                <p>Trash Bin</p>
                <a data-ng-click="setActiveTrash()" href="javascript:void(0)" data-ng-class="{active: trashActive}" class="trash"></a>
            </div>
        </div>
        <div class="cutterstructure bigdiff col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId != 4">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <span data-ng-init="gIndex = $index"></span>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 data-ng-show="!group.order">GROUP 1</h2>
                        <h2 data-ng-show="group.order">GROUP {{group.order}}</h2>
                    </div>
                    <div class="panel-body">
                        <!-- Blades -->
                        <div data-ng-repeat="blade in group.blades | reverse track by $index" class="col-xs-12">
                            <span data-ng-init="bIndex = $index"></span>
                            <div class="panel panel-default lighter">
                                <div class="panel-body">
                                    <!-- Pockets/Cutters -->
                                    <div class="col-xs-12 col-sm-12 col-md-1">
                                        <h2 class="blade-label">
                                            <span style="font-size:.9em">B</span>
                                            <span style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-11">
                                        <div data-ng-repeat="row in blade.rows | reverse track by $index" class="col-xs-12 col-sm-12 col-md-11">
                                            <span data-ng-init="rIndex = $index"></span>
                                            <hr data-ng-show="!$first" class="tight">
                                            <span style="font-weight:bold">{{row.order}}</span>
                                            <a data-ng-click="addPocket(row)" class="pocket btn btn-addnew text-center">
                                                <span><i class="fa fa-plus" style="font-size:1.4em"></i></span></a>
                                            <a data-ng-click="setAttributes(row,pocket.part_CutterStructureId)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} btn btn-default" data-ng-repeat="pocket in row.pockets"></a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-11">
                                            <a class="col-xs-6 col-md-2 text-center text-danger floatright" href="javascript:void(0)" data-ng-click="removeLastRow(blade)">Remove Last Row</a>
                                            <a class="col-xs-6 col-md-2 text-center floatright" href="javascript:void(0)" data-ng-click="addRow(blade)">Add Row</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="col-xs-6 col-md-2 text-left text-lightlink" href="javascript:void(0)" data-ng-click="addBlade(group)">Add Blade</a>
                        <a class="col-xs-6 col-md-2 text-right text-danger text-darklink" href="javascript:void(0)" data-ng-click="removeLastBlade(group)">Remove Last Blade</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId != 4">
            <button data-ng-click="addGroup()" class="btn btn-primary btn-large">Add Group</button>
            <button data-ng-show="groups && groups.length > 0" data-ng-click="removeLastGroup()" class="btn btn-danger btn-large">Remove Last Group</button>
        </div>
        <!-- ///////////////// Baker Bit Cutter Layout  ////////////////////////////-->
        <div id="MarkupContainer" class="cutterstructure col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId === 4">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <span data-ng-init="gIndex = $index"></span>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 data-ng-show="!group.order">GROUP 1 <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                        <h2 data-ng-show="group.order">GROUP {{group.order}} <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                    </div>
                    <div class="panel-body row-horizon" style="overflow-x: scroll">
                        <!-- Blades -->
                        <div data-ng-repeat="blade in group.blades" class="lgblade col-xs-{{blade.rows.length < 3 ? 3 : (blade.rows.length > 4) ? 8 : 5}} col-lg-{{blade.rows.length < 3 ? 2 : (blade.rows.length > 3) ? 4 : 3}}">
                            <span data-ng-init="bIndex = $index"></span>
                            <div class="panel panel-default lighter">
                                <div class="panel-body">
                                    <!-- Pockets/Cutters -->
                                    <div class="col-xs-12">
                                        <h2>
                                            <span style="font-size:.9em">B</span>
                                            <span style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                        </h2>
                                        <a class="col-xs-12 text-center floatright" href="javascript:void(0)" data-ng-click="addRow(blade)">Add Row</a>
                                        <a class="col-xs-12 text-center text-danger floatright" href="javascript:void(0)" data-ng-click="removeLastRow(blade)">Remove Last Row</a>
                                    </div>
                                    <div class="col-xs-12">
                                        <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow col-xs-{{blade.rows.length < 3 ? 6 : 12/blade.rows.length|floor}} col-lg-{{blade.rows.length < 3 ? 6 : 12/blade.rows.length|floor}}">
                                            <span data-ng-init="rIndex = $index"></span>
                                            <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                            <a data-ng-click="addPocket(row)" class="pocket btn btn-addnew text-center">
                                                <span><i class="fa fa-plus" style="font-size:1.4em"></i></span></a>
                                            <a data-ng-click="setAttributes(row,pocket.partBakerBit_CutterStructureId)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} btn btn-default" data-ng-repeat="pocket in row.pockets">
                                                <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
