<keypress></keypress>

<header id="header" class="text-center separator">
    <h1 class="title">{{ partCreateMode ? 'NEW PART MARKUP' : 'PART MARKUP'}}</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="tool-serial-title"><span>{{selectedTools[0].toolString}}</span> <span style="color:rgba(0, 0, 0, 0.38)">{{selectedTools[0].partNumber}}</span>
<span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h1>
	<div class="pull-right">
		<button data-ng-click="saveCutterStructureForCurrentPart()" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-success bgcustom pull-right mb-xs">
			<span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
			<span class="col-xs-12" style="font-size:.8em">SAVE POCKET STRUCTURE</span>
		</button><br>
		<div data-ng-show="!doesMarkupExist">
			<input class="form-control" placeholder="Search Existing Parts..." type="text" data-ng-model="searchExistingParts">
			<p data-ng-show="selectedPart">Base Part: <span style="font-weight:bold; font-size:1.3em">{{selectedPart.partNumber}} </span> <span class="label label-default">Size: {{selectedPart.sizeFraction}}</span><span class="label label-default">Style: {{selectedPart.style}}</span></p>
		</div>
	</div>
    <button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="goBackToDullGradeHome()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>

<div class="bglight">
    <div id="BrazeContainer" class="row">

        <div class="col-xs-12 col-lg-8">
			<div class="search-box" data-ng-show="searchExistingParts">
				<div class="row" style="box-shadow: -7px 4px 44px -24px;">
					<div class="col-xs-12 col-lg-8 col-lg-offset-2">
						<div class="col-sm-4 text-center" data-ng-repeat="p in parts | filter:searchExistingParts">
							<a href="javascript:void(0)" style="padding:10px" data-ng-click="pullInMarkup(p)">
								<h3>{{p.partNumber}}</h3>
								<p>Size: {{p.sizeFraction}}</p>
								<p>Style: {{p.style}}</p>
							</a>
						</div>
					</div>

				</div>
			</div>
            <!-- Choose Tools -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12 col-sm-6">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords">
                                <a data-ng-click="addToolToSelectedToolsFromList(tool)" class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in mark up</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user technician pin login -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
		</div>

        <div class="col-xs-12 select-key" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
            <div class="col-xs-12 col-sm-7 text-center type mb-md">
                <a href="javascript:void" id="clearOptions" data-ng-click="clearOptions()" data-ng-show="activePocketType"><i class="fa fa-times"></i></a>
                <a href="javascript:void(0)" data-ng-repeat="type in pocketTypes" data-ng-click="setActivePocketType(type)" class="key-{{type.key}}" data-ng-class="{active: type.isActive}">{{type.name}}</a>
                <br>
                <a style="padding-top: 4px;height: 26px;width: 42px;" href="javascript:void(0)" data-ng-repeat="size in pocketSizes" data-ng-click="setActivePocketSize(size)" class="btn btn-sm" data-ng-class="{active: size.isActive}">{{size.sizeFraction}}</a>
                <div class="row mt-sm">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 active-cutter">
                        <a href="javascript:void(0)" data-ng-click="showCompatibleCuttersToSelectActive()" class="btn btn-block btn-lg" data-ng-class="{active: selectedCutter && selectedCutter.cutterName}">{{selectedCutter && selectedCutter.cutterName ? selectedCutter.cutterName : 'No Cutter Selected' }}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 size mb-md">
				<h4 style="font-weight:bold;">CUTTERS</h4>
				<h4 data-ng-show="!activeColorClasses || activeColorClasses.length === 0">No Cutter information available for the selected part</h4>
                <div class="col-xs-12 col-md-6 text-left" style="padding-left:0" data-ng-repeat="colorCutter in activeColorClasses">
                    <span class="colorkeyitem {{colorCutter.class}}">{{colorCutter.qty}}</span> <span>{{colorCutter.cutterName}}</span>
                </div>
            </div>
        </div>
        <!-- ///////////////// Baker Bit Cutter Layout  ////////////////////////////-->
        <div id="MarkupContainer" class="cutterstructure diff-sizing col-xs-12" data-ng-if="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId === 4">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <span data-ng-init="gIndex = $index"></span>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:right">
                        <h2 data-ng-show="!group.order">GROUP 1 <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                        <h2 data-ng-show="group.order">GROUP {{group.order}} <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                    </div>
                    <div class="panel-body container-3d row-horizon" style="overflow-x: scroll; height:{{maxCuttersOnOnePocket > 16 ? '1600' : (maxCuttersOnOnePocket > 10 ? '1200' : '800')}}px">
                        <div class="carousel" style="{{threeDimensionalPanelContainerTransformStyle}}">
                            <div data-three-dimensional-panel class="blade-container" data-ng-repeat="blade in group.blades track by $index" style="{{blade.class3d}} {{blade.class3dbg}}" data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" gindex="{{gIndex}}">
                                <h1 style="margin-top: -54px;font-weight: bold;">{{$index + 1}}</h1>
                                <a class="col-xs-12 text-center floatright" href="javascript:void(0)" data-ng-click="addRow(blade)">Add Row</a>
                                <a class="col-xs-12 text-center text-danger floatright" href="javascript:void(0)" data-ng-click="removeLastRow(blade)">Remove Last Row</a>
                                <div data-three-dimensional-panel data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" class="col-xs-12 text-center">
                                    <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow text-center">
                                        <span data-ng-init="rIndex = $index"></span>
                                        <br/>
                                        <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                        <br/>
                                        <div style="width: 90%;">
                                            <a data-ng-click="removeLastPocket(row)" class="pocket btn btn-addnew text-center" style="
                                            height: 2em;
                                            width: 50%;
                                            text-align: right;
                                            border: none;
                                        ">
                                                <span><i class="fa fa-minus" style="font-size:1.4em"></i></span></a>
                                            <a data-ng-click="addPocket(row)" class="pocket btn btn-addnew text-center" style="
                                            height: 2em;
                                            width: 50%;
                                            text-align: left;
                                            border: none;
                                        ">
                                                <span><i class="fa fa-plus" style="font-size:1.4em"></i></span></a>
                                        </div>
                                        <br>
                                        <a data-ng-click="setAttributes(row,pocket.partBakerBit_CutterStructureId, pocket, 'modalSelectCutterWithoutSaving')" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} btn btn-default btn-{{pocket.colorClass}}" data-ng-repeat="pocket in row.pockets" style="display:block">
                                            <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="MarkupContainer" class="cutterstructure col-xs-12" data-ng-if="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId !== 4">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <span data-ng-init="gIndex = $index"></span>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 data-ng-show="!group.order">GROUP 1 <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                        <h2 data-ng-show="group.order">GROUP {{group.order}} <button class="btn btn-primary" data-ng-click="addBlade(group)">Add Blade</button> <button class="btn btn-danger" data-ng-click="removeLastBlade(group)">Remove Last Blade</button></h2>
                    </div>
                    <div class="panel-body container-3d row-horizon" style="overflow-x: scroll;">
                        <div class="carousel-horiz" style="{{threeDimensionalPanelContainerTransformStyle ? threeDimensionalPanelContainerTransformStyle : 'translateZ(-288px) rotateX(0deg)'}}">
                            <div data-three-dimensional-panel class="blade-container" data-ng-repeat="blade in group.blades track by $index" style="{{blade.class3d}} {{blade.class3dbg}}" data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" gindex="{{gIndex}}">
                                <h1 style="margin-top: 93px;font-weight: bold;position: absolute;margin-left: -28px;">{{$index + 1}}</h1>
                                <a class="text-center floatleft" style="padding:10px 10px" href="javascript:void(0)" data-ng-click="addRow(blade)">Add Row</a>
                                <a class="text-center text-danger floatleft" style="padding:10px 10px" href="javascript:void(0)" data-ng-click="removeLastRow(blade)">Remove Last Row</a>
                                <div data-three-dimensional-panel data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" class="col-xs-12">
                                    <div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow">
                                        <span data-ng-init="rIndex = $index"></span>
                                        <span style="font-weight:bold">{{row.order}}</span>
                                        <a data-ng-click="addPocket(row)" class="pocket btn btn-addnew text-left">
                                            <span><i class="fa fa-plus" style="font-size:1.4em"></i></span></a>
                                        <a data-ng-click="setAttributes(row,pocket.part_CutterStructureId, pocket, 'modalSelectCutterWithoutSaving')" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} btn btn-default btn-{{pocket.colorClass}}" data-ng-repeat="pocket in row.pockets">
                                            <div style="margin-top:-8px"><span class="smallsize">{{pocket.size}}</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
            <button data-ng-click="addGroup()" class="btn btn-primary btn-large">Add Group</button>
            <button data-ng-show="groups && groups.length > 0" data-ng-click="removeLastGroup()" class="btn btn-danger btn-large">Remove Last Group</button>
        </div>
    </div>
</div>
