
<group-index-auto></group-index-auto>
<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="addInfoForEmail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 33px">Additional Dull Grade Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<label>Received On: </label>
				<h4>{{selectedTools[0].dateToolArrived| date: mediumDate}}</h4>
                <label for="shipStockPoints">Ship to: </label>
                <select class="form-control mb-sm" name="shipStockPoints" data-ng-model="selectedDNRShipToStockPoint" data-ng-options="stockPoint.stockName for stockPoint in DNRShipStockPoints" required>
                </select>
                <label >Estimated Ship Date:</label>
                <input class="form-control mb-sm" type="date" data-ng-model="dullGradeEmailInfo.estimatedShipDate"/>
                <label>Repair Cost:</label>
                <input class="form-control" type="number" step="2" data-ng-model="dullGradeEmailInfo.costOfRepair"/>
                <label>Reference #:</label>
                <input class="form-control" type="text" data-ng-model="dullGradeEmailInfo.referenceNum"/>
				<label>Comments:</label>
                <input class="form-control" data-ng-model="dullGradeEmailInfo.extraComments"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="sendEmail()">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->

<header id="header" class="separator">
	<h1 class="title">PULL CUTTERS</h1>
	<!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="tool-serial-title"><span>{{selectedTools[0].toolString}}</span>
		<span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span><span class="pull-right" style="color: red" data-ng-show="paintOnly"><i class="fa fa-paint-brush"></i></span>
	</h1>
	<div class="row">
		<a data-ng-click="stop()"  data-ng-show="(selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && didAssignAllLotNumbers() && didSendEmail) || (selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && didSendEmail && paintOnly)" href="javascript:void(0)" style="float:right; width:230px" class="btn btn-info pull-right bgcustom">
		<span class="col-xs-12" style="font-weight:bold; font-size:1.5em">FINISH</span>
		<span class="col-xs-12" style="font-size:.8em">COMPLETE PULLCUTTERS</span>
	</a>
	<a data-ng-click="openModalAddInfoForEmail()"  data-ng-show="(selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && didAssignAllLotNumbers() && !didSendEmail) || (selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && !didSendEmail && paintOnly)" href="javascript:void(0)" style="float:right; width:230px" class="btn btn-warning pull-right bgcustom">
		<span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SEND</span>
		<span class="col-xs-12" style="font-size:.8em">EMAIL</span>
	</a>

	<button data-ng-click="saveHashStructureForTool()" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-success bgcustom pull-right mb-xs">
		<span class="col-xs-12" style="font-weight:bold; font-size:1.5em">SAVE/CONFIRM</span>
		<span class="col-xs-12" style="font-size:.8em">SAVE POCKET STRUCTURE</span>
	</button>
	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="stop(true)"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
	</div>
</header>

<div class="bglight">
	<div id="BrazeContainer" class="row">

		<div class="col-xs-12 col-lg-8">
			<div class="search-box" data-ng-show="searchExistingParts">
				<div class="row" style="box-shadow: -7px 4px 44px -24px;">
					<div class="col-xs-12 col-lg-8 col-lg-offset-2">
						<div class="col-sm-4 text-center" data-ng-repeat="p in parts | filter:searchExistingParts">
							<a href="javascript:void(0)" style="padding:10px" data-ng-click="pullInMarkup(p)">
								<h3>{{p.partNumber}}</h3>
								<p>Size: {{p.sizeFraction}}</p>
								<p>Style: {{p.style}}</p>
							</a>
						</div>
					</div>

				</div>
			</div>
			<!-- Choose Tools -->
			<div data-ng-show="!selectedTools[0]" class="col-xs-12 col-sm-12">
				<div id="choose-work-order" class="panel panel-default">
					<div class="panel-body">

						<div class="col-xs-12">
							<div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords">
								<a data-ng-click="addToolToSelectedToolsFromList(tool)" class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
							</div>
							<h3 data-ng-show="stationRecords.length === 0">There are no tools in pull cutters</h3>
						</div>
					</div>
				</div>
			</div>
			<!-- user technician pin login -->
			<ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
		</div>

		<div class="col-xs-12 select-key" data-ng-show="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers">
			<div class="col-xs-12 col-sm-4 text-center type mb-md">
				<div class="row mt-sm">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 active-cutter">
						<a href="javascript:void(0)" data-ng-click="showCompatibleCuttersForCutterMarkupToSelectActive()" class="btn btn-block btn-lg" data-ng-class="{active: selectedCutter && selectedCutter.cutterName}">{{selectedCutter && selectedCutter.cutterName ? selectedCutter.cutterName : 'No Cutter Selected' }}</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 size mb-md">
				<h4 style="font-weight:bold;">CUTTERS TO PULL (NEW)</h4>
				<h4 data-ng-show="!activeColorClasses || activeColorClasses.length === 0">No Cutter information available for the selected part</h4>
				<div  data-ng-click="openModalAndSetLotNumbers(colorCutter, 'modalSetLotNumbers')" class="col-xs-12 col-md-6 text-left" style="padding-left:0" data-ng-repeat="colorCutter in activeColorClasses | newfilter">
					<span class="colorkeyitem {{colorCutter.class}}">{{colorCutter.newQty}}</span> <span>{{colorCutter.cutterName}}</span>
					<div style="margin-left: 15px;font-size: .8em; margin-top:3px; color:#3a95f5" class="col-xs-12" data-ng-repeat="lot in colorCutter.lots">
						<span style="border:1px solid #3a95f5; padding:0px 3px; border-radius:50%">{{lot.qty}}</span>
						<span>{{lot.lotNumber}}</span>
						<span data-ng-show="lot.isReclaim === 1">(Reclaim)</span>
					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 size mb-md">
				<h4 style="font-weight:bold;">TOTAL CUTTERS</h4>
				<h4 data-ng-show="!activeColorClasses || activeColorClasses.length === 0">No Cutter information available for the selected part</h4>
				<div class="col-xs-12 col-md-6 text-left" style="padding-left:0" data-ng-repeat="colorCutter in activeColorClasses">
					<span class="colorkeyitem {{colorCutter.class}}">{{colorCutter.qty}}</span> <span>{{colorCutter.cutterName}}</span>
				</div>
			</div>
		</div>
		<div id="MarkupContainer" class="cutterstructure col-xs-12" data-ng-if="selectedTools[0] && currentAuthenticatedUsers && currentAuthenticatedUsers.length === maxUsers && selectedTools[0].toolFamilyId !== 4">
			<!-- Blade GROUPS -->
			<div id="group-{{$index}}" data-ng-repeat="group in groups track by $index" class="col-xs-12 group-container">
				<span data-ng-init="gIndex = $index"></span>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 data-ng-show="!group.order">GROUP 1</h2>
						<h2 data-ng-show="group.order">GROUP {{group.order}}</h2>
					</div>
					<div class="panel-body " style="overflow-x: auto;">
						<div style="">
							<div class="blade-container" data-ng-repeat="blade in group.blades | reverse track by $index" style="display: flex;flex-direction: row;border-bottom: 1px solid #cccccc;margin-bottom: 5px;" data-deg="{{blade.deg}}" data-radians="{{blade.radians}}" gindex="{{gIndex}}">
								<h1 style="font-weight:bold">{{blade.order}}</h1>


								<div data-deg="{{blade.deg}}" data-radians="{{blade.radians}}">
									<div data-ng-repeat="row in blade.rows | reverse track by $index" class="lgrow">
										<span data-ng-init="rIndex = $index"></span>
										<span style="font-weight:bold">{{row.order}}</span>

										<a data-ng-click="setCutterForHashStructureRecord(row, pocket.hashStructureId, pocket.primaryKeyId, null, pocket)" data-ng-dblclick="setCutterForHashStructureRecord(row, pocket.hashStructureId, pocket.primaryKeyId, true)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} btn btn-default btn-{{pocket.colorClass}}" data-ng-repeat="pocket in row.pockets">
											<div style="margin-top:-8px"><span class="smallsize">{{pocket.size ? pocket.size : (pocket.sizeFraction ? pocket.sizeFraction : 'N/A')}}</span></div>
											<div style="margin-top:-4px">
												<span data-ng-show="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-show="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-show="pocket.cutterAction" class="action-style">{{pocket.cutterAction}}</span><span data-ng-show="!pocket.cutterAction" class="action-style">&nbsp;&nbsp;</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
