<header id="header" class="text-center separator">
    <h1 class="title">QA</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="tool-serial-title">{{selectedTools[0].toolString}}{{selectedTools[0].shipToStockPointName}} <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h1>
	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers && qaForm.$valid" class="btn btn-lg btn-success pull-right" data-ng-click="callStartStopLaborTracking()"><i class="fa fa-save"></i> CONTINUE</button>
	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="callStartStopLaborTracking(true, null)"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
    <div class="col-xs-2 col-lg-1 pull-right text-right mb-sm" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
        <a href="javascript:void(0)" data-ng-click="goToRework()" class="btn btn-sm btn-default"  data-ng-show="showReworkButton">
            <i class="fa fa-thumbs-down fa-2x" style="color:red"></i>
        </a>
    </div>

</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div data-ng-show="!selectedTools[0]" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6" data-ng-repeat="tool in stationRecords track by $index">
								<a data-ng-if="!tool.onHold" data-ng-click="addToolToSelectedToolsFromList(tool)" data class="btn btn-default btn-lg btn-block">{{tool.toolString}} <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                                <a tooltip data-ng-if="tool.onHold" data-ng-click="addToolToSelectedToolsFromList(tool)" item="tool" data-toggle="tooltip" title="tool.holdComments ? tool.holdComments : 'No hold information available.'" data class="btn {{tool.onHold ? 'btn-warning' : 'btn-default'}} btn-lg btn-block">{{tool.toolString}} <span class="pull-right" data-ng-show="tool.onHold"><i class="fa fa-info-circle" style="opacity: .5"></i></span> <span class="pull-right chartreuse" data-ng-show="tool.rush">RUSH <i class="fa fa-fast-forward"></i></span></a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in pull cutters.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="currentAuthenticatedUsers.length === 1" class="col-xs-12">
            <div class="col-md-12" data-ng-form="qaForm">
                <div class="col-md-6">
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Cutters</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="cutters" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>

                        <h5 class="col-xs-12">No chips or worn area on upper 1/3</h5>
                        <h5 class="col-xs-12">No cracks on the diamond table</h5>
                        <h5 class="col-xs-12">No floating or protruding</h5>
                        <h5 class="col-xs-12">No erosion on substrate</h5>
                        <h5 class="col-xs-12">No missing alloy</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Shank</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="shank" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">No cracks in shank body (including breaker slot)</h5>
                            <h5 class="col-xs-12">No erosion or pinholes in shank weld</h5>
                            <h5 class="col-xs-12">No worn, chipped, or pitted pin threads</h5>
                            <h5 class="col-xs-12">No overly sharp threads</h5>
                            <h5 class="col-xs-12">Shank seat is universally smooth</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Nozzle Cavities</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="nozzleCavities" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">No cracks or erosion aroudn nozzle cavities</h5>
                            <h5 class="col-xs-12">No chipping or erosion on nozzle seat</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Crown</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="crown" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">No alloy buildup</h5>
                            <h5 class="col-xs-12">No deep cracks or excessive pitting</h5>
                            <h5 class="col-xs-12">Junk slot 45 chamfered correctly</h5>
                            <h5 class="col-xs-12">No seperation in joint between crown and shank</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Thread Nozzles</h3>
                        <!-- Rectangular switch -->
                            <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="nozzles" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">Each nozzle is physically threaded and fit</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Stamping</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="stamping" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">All stamping matches</h5>
                            <h5 class="col-xs-12">Nothing needs restamping</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Ring Gauge</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="ringGauge" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">'GO' gauge goes</h5>
                            <h5 class="col-xs-12">'NO GO' gauge does not go</h5>
                    </div>
                    <div class="row mb-xs">
                        <h3 class="col-xs-12 col-md-6" style="margin-top: 0px; padding: 0px">Insert O'Rings</h3>
                        <!-- Rectangular switch -->
                        <label class="switch col-xs-3">
                            <input type="checkbox" data-ng-model="orings" required>
                            <div class="slider"></div>
                        </label>
                        <label class="col-xs-2" style="margin-top: 5px">Pass</label>
                            <h5 class="col-xs-12">Grease and physically insert o'rings</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
