<!-- MODAL: modelHasReplaceableDomes -->
<!-- <div id="modelHasReplaceableDomes" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Tool Has Replaceable Domes Please Send To Vernal, Utah For Repair</h2>
            </div>
            <div class="modal-footer">
            <button data-ng-disabled="saving" data-ng-show="selectedTools[0] && ancillaryInformation.dateToolArrived && toolFamily && hasReplaceableDomes"
                data-ng-click="createRepair()" style="float:right" class="btn btn-success text-right bgcustom">
                <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">Send To Shipping</span>
                <span class="col-xs-12" style="font-size:.8em">Save arrival date and send to shipping</span>
            </button>
            </div>
        </div>
    </div>
</div> -->
<!-- END MODAL -->
<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="bolImage" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 33px">Bill Of Lading</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(billOfLadingImage)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!billOfLadingImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="billOfLadingImage.picTaken"></i>
                            <span style="font-weight:bold" data-ng-show="billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
                            <span data-ng-show="!billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
                            <span data-ng-show="billOfLadingImage.dateAdded" style="font-size:.8em">
                                {{billOfLadingImage.dateAdded}}</span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(packingListImage)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!packingListImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="packingListImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="packingListImage.picTaken">{{packingListImage.name}}</span>
                            <span data-ng-show="!packingListImage.picTaken">{{packingListImage.name}}</span>
                            <span data-ng-show="packingListImage.dateAdded" style="font-size:.8em">
                                {{packingListImage.dateAdded}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-success" data-ng-show="forStock && billOfLadingImage.picTaken && packingListImage.picTaken" data-ng-click="createRepair()">Receive</button>
                <button type="button" class="btn btn-success" data-ng-show="forEvaluation && billOfLadingImage.picTaken && packingListImage.picTaken" data-ng-click="init()">Receive</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->

<div class="row col-xs-12">
    <header id="header" class="text-center">
        <h1 class="title">RECEIVING</h1>
        <!-- Chosen Tool -->
        <!-- <div data-ng-show="selectedTools[0] && finishedAddingTools" class="tool-serial-title">
            <div class="alert alert-default alert-dismissible fade in" role="alert">
                <button style="padding:8px 8px 8px 16px" data-ng-click="removeToolFromSelectedTools(selectedTools[0], [], true, true)" type="button" class="close" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span>
                </button>
                <h1 class="bold"> {{selectedTools[0].toolString}}</h1>
            </div>
        </div> -->
        <button data-ng-disabled="saving" data-ng-show="selectedTools[0] && ancillaryInformation.dateToolArrived && toolFamily && !hasReplaceableDomes && finishedAddingTools && $parent.billOfLadingImage.picTaken" data-ng-click="createRepair()" style="float:right" class="btn btn-success text-right bgcustom">
            <span class="col-xs-12" style="font-weight:bold; font-size:1.5em">START Evaluation</span>
            <span class="col-xs-12" style="font-size:.8em">Save arrival date and start evaluation</span>
        </button>
    </header>
    <div class="bglight">
        <div class="row">
            <div class="col-xs-12">
                <!-- Choose Tool -->
                <!-- <div class="panel panel-default col-xs-12" data-ng-show="!selectedTools[0] && forEvaluation || !selectedTools[0] && forStock">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-3">
                                <h3>Choose Tool</h3>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <angucomplete-alt placeholder="Find Tool..." pause="300" selected-object="addToolToSelectedToolsFromListFromAngucomplete" local-data="toolsByFacility" search-fields="serial,shortName" serial-field="serial" title-field="toolString" description-field="statusString" min-length="1" input-class="form-control input-lg" clear-selected="false" focus-in="anguFocus" auto-match="true" template-url="/toollistitem-template.html" />
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-xs-6" data-ng-show="selectedTools[0] && finishedAddingTools">
                    <h1>Tools Being Received for {{forStock === true ? 'Stock' : 'Evaluation'}}</h1>
                    <button type="button" name="button" data-ng-click="init()" class="btn btn-danger pull-right">Cancel</button>
                    <div data-ng-repeat="selectedTool in selectedTools track by $index">
                     <h3>{{$index + 1}} - <strong>{{selectedTool.toolString}}</strong></h3>
                    </div>
                </div>
                <!-- Choose Tool -->
                <div class="col-xs-12" data-ng-show="!finishedAddingTools">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Tools In Transit</h2>
                            <div data-ng-show="selectedTools[0] && !finishedAddingTools" class="col-xs-12 mb-xs text-right">
                                <button class="btn btn-lg btn-info" data-ng-show="selectedTools.length > 0" data-ng-click="$parent.forStock = true; $parent.finishedAddingTools = true">Receive To Stock</button>
                                <button class="btn btn-lg btn-info" data-ng-show="selectedTools.length > 0" data-ng-click="$parent.forEvaluation = true; $parent.finishedAddingTools = true">Receive For Field Evaluation</button>
                                <!-- <button class="btn btn-lg btn-info" data-ng-show="selectedTools.length > 0" data-ng-click="$parent.recut = true; $parent.finishedAddingTools = true">Receive For Connection Re-cut Only.</button> -->
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-md-6 mb-xs"
                                    data-ng-repeat="tool in toolsByFacility | orderBy:'serial' track by $index">
                                    <a data-ng-if="!tool.checked" data-ng-click="addToolToSelectedToolsFromList(tool, toolsByFacility)" class="btn btn-default btn-lg btn-block btn-text-left noEase">{{tool.toolString}}</a>
                                    <a data-ng-if="tool.checked" data-ng-click="removeToolFromSelectedTools(tool, toolsByFacility)" class="btn btn-primary btn-lg btn-block btn-text-left noEase"><i class="fa fa-check pull-right"></i> {{tool.toolString}}</a>
                                </div>
                                <h3 data-ng-show="toolsByFacility.length === 0">There are no tools in transit.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-xs-6" data-ng-show="selectedTools[0] && finishedAddingTools">
                    <div class="panel-body">
                        <div class="col-xs-12 mb-sm">
                            <div class="col-xs-12 col-sm-3">
                                <h3>Arrival Time</h3>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <input class="form-control input-lg" type="date" data-ng-model="ancillaryInformation.dateToolArrived" max="{{maxArrivalDate}}" />
                            </div>
                        </div>
                        <div class="col-xs-12 mb-sm">
                            <div class="col-xs-12 col-sm-3">
                                <h3>Family</h3>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <select disabled class="form-control input-lg" type="date" data-ng-model="toolFamily" data-ng-options="option.name for option in toolFamilies track by option.toolFamilyId">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button data-ng-show="forStock" class="btn btn-lg btn-success btn-block mb-sm" data-toggle="modal" data-target="#bolImage">Receive & Take Shipping Document Images</button>
                            <button data-ng-show="forEvaluation" class="btn btn-lg btn-success btn-block mb-sm" data-ng-click="createRepair()">Receive & Take Shipping Document Images</button>
                        </div>
                    </div>
                </div>
                <!-- Picture Taking -->
                <!-- <div class="panel panel-default" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                    <div class="panel-heading">
                        <h3><span class="label label-default">3</span> Take Pictures <i class="fa fa-check floatright" style="color:green" data-ng-show="minPicturesLeftToTake === 0"></i></h3></div>
                    <div class="panel-body">
                        <div class="col-xs-12" style="margin-bottom:30px">
                            <div class="col-xs-12">
                                <h4 data-ng-show="pics.length === 0">No pictures have been taken</h4>
                                <h4 data-ng-show="minPicturesLeftToTake > 0">Add <strong>{{minPicturesLeftToTake}}</strong> more picture<span data-ng-show="minPicturesLeftToTake !== 1">s</span>.</h4>
                                <h4 data-ng-show="minPicturesLeftToTake === 0">Great! You have taken the minimum required pictures.</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6" data-ng-repeat="picture in pictures">
                                <button data-ng-click="openModalTakePicture(picture)" class="btn btn-lg btn-warning btn-block"><i data-ng-show="!picture.picTaken" class="fa fa-camera goleft"></i> <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="picture.picTaken"></i> <span style="font-weight:bold" data-ng-show="picture.picTaken">{{picture.name}}</span><span data-ng-show="!picture.picTaken">{{picture.name}}</span> <span data-ng-show="picture.dateAdded" style="font-size:.8em">{{picture.dateAdded}}</span></button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="/toollistitem-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
            <input id="anguToolSelection" ng-model="searchStr" ng-disabled="disableInput" type="text" placeholder="{{placeholder}}" ng-focus="onFocusHandler()" class="{{inputClass}}" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr)" />
            <div class="angucomplete-dropdown" ng-show="showDropdown">
                <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
                <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
                <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                    <div data-ng-if="result.description !== 'IN REPAIR' && result.description !== 'MISSING' && result.description !== 'LOST IN HOLE' && result.description !== 'CUTOUT'" class="angu-serial">{{ result.title }}</div>
                    <div data-ng-if="result.description === 'IN REPAIR' || result.description === 'MISSING' || result.description === 'LOST IN HOLE' || result.description === 'CUTOUT'" class="angu-serial" style="opacity:.4">{{ result.title }}</div>
                    <div data-ng-if="result.description === 'IN REPAIR'" class="angu-status" style="color:#278898; opacity:.4">{{ result.description }}</div>
                    <div data-ng-disabled="true" data-ng-if="result.description === 'MISSING'" class="angu-status" style="color:red; opacity:.4">{{ result.description }}</div>
                    <div data-ng-if="result.description === 'LOST IN HOLE'" class="angu-status" style="color:red; opacity:.4">{{ result.description }}</div>
                    <div data-ng-if="result.description === 'CUTOUT'" class="angu-status" style="color:red; opacity:.4">{{ result.description }}</div>
                    <!-- <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
            <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
            <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div> -->
                </div>
                <div class="angucomplete-row" data-ng-show="results.length === 0 && searchStr.length !== 0 && $parent.workStation.facilityId === 1" ng-click="selectResult(searchStr)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                    <div class="angucomplete-title"><a class="btn btn-block btn-default">Create Non-SDPI Tool</a></div>
                </div>
            </div>
        </div>
    </script>
</div>