<keypress></keypress>

<header id="header" class="text-center">
    <h1 class="title">Replace Cutters</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="tool-serial-title">{{selectedTools[0].toolString}} <span class="pull-right chartreuse" data-ng-show="selectedTools[0].rush"> RUSH <i class="fa fa-fast-forward"></i></span></h1>
	<!-- <button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-lg btn-success pull-right"><i class="fa fa-save"></i> CONTINUE</button> -->
	<button data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="returnToLastUrl()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>
<div class="row mb-sm">
    <div class="col-xs-12 text-center" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
        <select class="form-control top-center-dullgrade-select" data-ng-model="$parent.dullGrade" data-ng-change="changeDullGrade(dullGrade)" data-ng-options="dg as dg.dullGradeString for dg in dullgrades"></select>
    </div>
</div>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div data-ng-show="dullGrade && dullGrade.dullGradeId !== latestDullGrade.dullGradeId" class="invisible-block-window"></div>
        <div print-clearout id="clearout-print" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
            <div class="legend">
                <div class="newCutterInfo col-sm-6 col-md-4 mb-md">
                    <div class="col-xs-12" style="padding-left:0; padding-right:0">
                        <div class="col-xs-6" style="padding-left:0; padding-right:0">
                            <h5>ALL CUTTERS</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 {{$odd ? 'bg-lightgray' : ''}} {{$index}}" data-ng-repeat="cutterName in cutterNames track by $index" data-ng-if="cutterName.count !== 0" style="padding-left:0; padding-right:0">
                        <div class="col-xs-6 new-cutter" style="padding-left:0; padding-right:0">
                            <a style="width:86%; color:#333333; display:inline-block">
                                <span class="colorkeyitem {{cutterName.colorClass}}">{{cutterName.count}}</span> <span>{{cutterName.sizeFraction}}</span> - <span class="{{cutterName.replacedCutterName ? 'crossed-out' : ''}}">{{cutterName.replacedPartNumber}}</span> <span data-ng-show="cutterName.partNumber">{{cutterName.partNumber}}</span> <i data-ng-if="cutterName.isReclaim" style="color: #9c9c9c;font-weight: bold;" class="fa fa-registered"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="newRotateFlamesprayInfo col-sm-6 col-md-4 mb-md">
                    <div class="col-xs-4">
                        <h5>NEW</h5>
                        <div data-ng-if="cutterNew.count !== 0 && cutterNew.cutterActionId === 1" data-ng-repeat="cutterNew in newCutterSizeCount">
                            <span class="colorkeyitem">{{cutterNew.cutterCount}}</span> <span>{{cutterNew.sizeFraction}} - {{cutterNew.cutterAction}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5>ROTATE</h5>
                         <div data-ng-if="cutterRotate.count !== 0 && cutterRotate.cutterActionId === 2" data-ng-repeat="cutterRotate in rotateCutterSizeCount">
                            <span class="colorkeyitem">{{cutterRotate.cutterCount}}</span> <span>{{cutterRotate.sizeFraction}} - {{cutterRotate.cutterAction}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5>FLAMESPRAY</h5>
                        <div data-ng-if="cutterFlamespray.totalFlameSprayCount !== 0" data-ng-repeat="cutterFlamespray in flameSprayCount">
                            <span class="colorkeyitem">{{cutterFlamespray.totalFlameSprayCount}}</span> <span>{{cutterFlamespray.sizeFraction}} - Flamespray</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cutterstructure diff-sizing col-xs-12 bit snug row-qty-lg" data-ng-if="selectedTools[0] && currentAuthenticatedUsers.length === maxUsers">
                <!-- Blade GROUPS -->
                <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 data-ng-if="!group.order">GROUP 1</h2>
                            <h2 data-ng-if="group.order">GROUP {{group.order}}</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Blades -->
                            <div data-ng-repeat="blade in group.blades track by $index" class="blade-container">
                                <div class="panel panel-default lighter">
                                    <div class="panel-body">
                                        <!-- Pockets/Cutters -->
                                        <div class="col-xs-12 col-sm-12 col-md-12 no-leftright-padding" style="padding-left:0px; margin-bottom:-8px;">
                                            <h2 class="text-center no-padding">
                                                <span class="text-center" style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                            </h2>
                                            <div class="col-xs-12 text-center no-leftright-padding">
                                                <div data-ng-repeat="row in blade.rows | reverse track by $index" class="text-center lgrow">
                                                    <span data-ng-init="rIndex = $index"></span>
                                                    <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                                    <br>
                                                    <a data-ng-click="showCompatibleCutters(null, pocket, true, 'modalSelectActiveCutter', 'as a replacement for this ', 'replaceOnePocket')" class="pocket btn-{{pocket.type}} {{ (pocket.fs && !pocket.fs.isFlameSpray) ? '' : (pocket.fs && pocket.fs.isFlameSpray || pocket.isFlameSpray) ? 'flamespray' : ''}} btn btn-default btn-{{pocket.colorClass}} not-original" data-ng-repeat="pocket in row.pockets">
                                                        <div class="notch-top"></div>
                                                        <div data-ng-if="pocket.replaceWithCutterId" class="exclamation-icon"><i class="fa fa-exclamation"></i></div>
                                                        <div style="margin-top:4px;margin-left:-2px;">
                                                            <span data-ng-if="pocket.cutterCondition" class="condition-style">{{pocket.cutterCondition}}</span><span data-ng-if="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span><span data-ng-if="pocket.cutterAction || pocket.fs && pocket.fs.cutterAction" class="action-style">{{pocket.fs && pocket.fs.cutterAction ? pocket.fs.cutterAction : pocket.cutterAction}}</span><span data-ng-if="!pocket.cutterAction" class="action-style">--</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
