<header>
    <div id="header-wrap">
        <div class="row">
            <button class="btn btn-default col-xs-2 col-lg-1" data-ng-click="returnFromReworkToLastUrl()" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length >= maxUsers">Back</button>
            <h1 class="col-xs-3 col-lg-3">Rework</h1>
            <!-- Chosen Tool -->
            <div data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length >= maxUsers" class="col-xs-5 col-lg-7">
                <h1><strong>{{selectedTools[0].toolString}}</strong></h1>
            </div>
            <button class="btn btn-success col-xs-2 col-lg-1" data-ng-click="saveReworkCutterDullGrade()" data-ng-show="selectedTools[0] && currentAuthenticatedUsers.length >= maxUsers">Save</button>
        </div>
    </div>
</header>
<div class=" bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 col-sm-6">
            <!-- User Section (ng-partials) -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
        </div>
        <div class="cutterstructure diff-sizing col-xs-12 bit flatLg row-qty-lg" data-ng-if="selectedTools[0] && currentAuthenticatedUsers.length >= maxUsers">
            <!-- Blade GROUPS -->
            <div data-ng-repeat="group in groups track by $index" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 data-ng-if="!group.order">GROUP 1</h2>
                        <h2 data-ng-if="group.order">GROUP {{group.order}}</h2>
                    </div>
                    <div class="panel-body" data-ng-swipe-left="rotateBit(true, false)" data-ng-swipe-right="rotateBit(false, true)">
                        <button class="pull-left btn btn-default" data-ng-click="rotateBit(true, false)">
                            <span class="fa fa-chevron-left fa-4x"></span>
                        </button>
                        <button class="pull-right btn btn-default" data-ng-click="rotateBit(false, true)">
                            <span class="fa fa-chevron-right fa-4x"></span>
                        </button>
                        <!-- Blades -->
                        <div data-ng-repeat="blade in group.blades track by $index" class="blade-container" data-ng-show="currentIndex === $index" >
                            <div class="panel panel-default lighter">
                                <div class="panel-body">
                                    <!-- Pockets/Cutters -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 no-leftright-padding" style="padding-left:0px; margin-bottom:-8px;">
                                        <h2 class="text-center no-padding">
                                            <span class="text-center" style="font-weight:bold; font-size:1em">{{blade.order}}</span>
                                        </h2>
                                        <div class="col-xs-12 text-center no-leftright-padding">
                                            <div data-ng-repeat="row in blade.rows | reverse track by $index" class="text-center lgrow">
                                                <span data-ng-init="rIndex = $index"></span>
                                                <span class="col-xs-12" style="font-weight:bold">{{row.order}}</span>
                                                <br>
                                                <a data-ng-click="openModalSetConditionActionCutter(pocket)" class="pocket {{pocket.sizeClass}} btn-{{pocket.type}} {{pocket.activePocket}} btn btn-default" data-ng-repeat="pocket in row.pockets" data-ng-style="cutterSize(row)">
                                                    <div style="margin-top:4px;margin-left:-2px;">
                                                        <span data-ng-if="pocket.cutterCondition" data-ng-style="pocketFont" class="condition-style">{{pocket.cutterCondition}}</span>
                                                        <span data-ng-if="!pocket.cutterCondition" class="condition-style">&nbsp;&nbsp;</span>
                                                        <span data-ng-if="pocket.cutterAction || pocket.fs && pocket.fs.cutterAction"
                                                        data-ng-style="pocketFont" class="action-style">{{pocket.fs && pocket.fs.cutterAction ? pocket.fs.cutterAction : pocket.cutterAction}}</span>
                                                        <span data-ng-if="!pocket.cutterAction" class="action-style">&nbsp;&nbsp;</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
