<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="addNewBillOfLading">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 33px">Shipping Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 mb-sm">
                        <button data-ng-click="openModalTakePicture(DNRShippingImage)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!DNRShippingImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="DNRShippingImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="DNRShippingImage.picTaken">{{DNRShippingImage.name}}</span>
                            <span
                                data-ng-show="!DNRShippingImage.picTaken">{{DNRShippingImage.name}}</span>
                        </button>
                    </div>
                    <div class="col-xs-12 mb-sm">
                        <button data-ng-click="openModalTakePicture(PackingListImage)"
                            class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!PackingListImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6"
                                data-ng-show="PackingListImage.picTaken"></i>
                            <span style="font-weight:bold"
                                data-ng-show="PackingListImage.picTaken">{{PackingListImage.name}}</span>
                            <span data-ng-show="!PackingListImage.picTaken">{{PackingListImage.name}}</span>
                        </button>
                    </div>
                </div> 
                <label for="shipStockPoints">Ship to: </label>
                <select class="form-control mb-sm" name="shipStockPoints" data-ng-model="selectedDNRShipToStockPoint" data-ng-options="stockPoint.stockName for stockPoint in filteredShipToStockPoints" required>
                </select>
                <label for="transitService">Transit Service:</label>
                <input name="transitService" class="form-control mb-sm" data-ng-model="DNRShipTransitService" required/>
                <label for="dateShipped">Ship Date:</label>
                <input class="form-control" type="date" data-ng-model="DNRShipDate" max="{{maxArrivalDate}}"/>
            </div>
            <div class="modal-footer">
                <button
                    data-ng-show="selectedDNRShipToStockPoint && DNRShipTransitService && PackingListImage.picTaken && DNRShippingImage.picTaken && !dnrShippingClicked"
                    type="button" class="btn btn-primary" data-ng-click="saveDNRShippingInfo()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->
<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="moveToStock">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 33px">Move To Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="shipStockPoints">Ship to: </label>
                <select class="form-control mb-sm" name="shipStockPoints" data-ng-model="selectedDNRShipToStockPoint"
                    data-ng-options="stockPoint.stockName for stockPoint in filteredShipToStockPoints" required>
                </select>
            </div>
            <div class="modal-footer">
                <button data-ng-show="selectedDNRShipToStockPoint && !dnrShippingClicked" type="button"
                    class="btn btn-primary" data-ng-click="moveToStock()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->
<header id="header"  class="text-center separator">
    <div id="header-wrap">
        <h1 class="title">Ship</h1>
    </div>
</header>
<div class="bglight">
    <div id="DullgradeContainer" class="row">
        <div class="col-xs-12 mb-md">
            <!-- Choose Tool -->
            <div class="col-xs-12" data-ng-show="!finishedAddingTools">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Tools {{inStock === true ? 'In Stock' : 'To Repair'}}</h2>
                        <div data-ng-show="$parent.selectedTools.length === 0" class="col-xs-12 mb-xs text-right">
                            <button class="btn btn-lg btn-info" data-ng-show="!inStock && inEvaluation" data-ng-click="filterTools(true)">Show Tools In Stock</button>
                            <button class="btn btn-lg btn-info" data-ng-show="!inEvaluation && inStock" data-ng-click="filterTools(false)">Show Tools To Repair Evaluate</button>
                        </div>
                        <div data-ng-show="selectedTools[0] && !finishedAddingTools" class="col-xs-12 text-right">
                            <button class="btn btn-lg btn-success mb-sm" data-ng-click="finishAddingTools()">Ship</button>
                        </div>
                        <div class="col-xs-12">
                             <div class="col-xs-12 col-md-6 mb-xs"
                                 data-ng-repeat="tool in (inStock === true ? toolsInStock : stationRecords) | orderBy:'serial' track by $index">
                                <a data-ng-if="!tool.checked" data-ng-click="inStock ? addToolToSelectedToolsFromList(tool, toolsInStock): addToolToSelectedToolsFromList(tool, stationRecords)" class="btn btn-default btn-lg btn-block btn-text-left noEase">{{tool.toolString}}</a>
                                <a data-ng-if="tool.checked" data-ng-click="inStock ? removeToolFromSelectedTools(tool, toolsInStock): removeToolFromSelectedTools(tool, stationRecords) " class="btn btn-primary btn-lg btn-block btn-text-left noEase"><i class="fa fa-check pull-right"></i> {{tool.toolString}}</a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0 && inEvaluation">There are no tools in repair shipping</h3>
                            <h3 data-ng-show="toolsInStock.length === 0 && inStock">There are no tools in stock shipping</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" data-ng-show="selectedTools[0] && finishedAddingTools">
                <h1 class="col-xs-8">Tools Being Shipped</h1>
                <button type="button" name="button" data-ng-click="init()" class="btn btn-danger pull-right col-xs-4">Cancel</button>
                <div class="col-xs-12" data-ng-repeat="selectedTool in selectedTools track by $index">
                    <h3 class="col-xs-8">{{$index + 1}} - <strong>{{selectedTool.toolString}}</strong></h3>
                    <div class="btn-group mt-md" role="group">
                        <button data-ng-click="printStrapSheet(selectedTool)" type="button" class="btn btn-info btn-sm pull-right">Strap Sheet</button>
                    </div>
                    <div class="btn-group mt-md" role="group">
                        <button data-ng-click="getHeatCert(selectedTool)" type="button" class="btn btn-info btn-sm pull-right">Heat Cert</button>
                    </div>
                     <div class="btn-group mt-md" role="group">
                          <button data-ng-show="selectedTool.moreInfo.VTIDocumentId || selectedTool.VTIDocumentId" data-ng-click="getVTI(selectedTool)" type="button" class="btn btn-info btn-sm pull-right">DS1 Inspection</button>
                     </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" data-ng-show="selectedTools[0] && finishedAddingTools">
                <div class="col-xs-12 mb-sm">
                    <button data-ng-click="openModalAddNewBillOfLading()" class="btn btn-lg btn-warning btn-block">Shipping Documents</button>
                </div>
                 <!-- <div class="col-xs-12" data-ng-show="!inStock">
                    <button data-ng-click="openModalMoveToStock()" class="btn btn-lg btn-warning btn-block">Move to Stock</button>
                </div> -->
            </div>
            <div class="col-xs-12" data-ng-style="{'background-image':'url(/images/DNRBillOfLading.jpg)'}"></div>
        </div>
    </div>
</div>