<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<div class="modal fade" id="thirdPartyInspectionImage">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="font-size: 33px">DS1 Inspection</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<form name="thirdPartyInspectionFormModal">
                        <div class="col-xs-12 mb-xs">
                            <label>DS1 Inspector Company</label>
                            <input type="text" class="form-control" placeholder="DS1 Inspector Company" data-ng-model="$parent.thirdPartyInspectorCompany" required>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>DS1 Inspection #</label>
                            <input type="text" class="form-control" placeholder="DS1 Inspection #" data-ng-model="$parent.thirdPartyInspectionNumber" required>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(thirdPartyInspectionImage)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!thirdPartyInspectionImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="thirdPartyInspectionImage.picTaken"></i>
                            <span style="font-weight:bold" data-ng-show="thirdPartyInspectionImage.picTaken">{{thirdPartyInspectionImage.name}}</span>
                            <span data-ng-show="!thirdPartyInspectionImage.picTaken">{{thirdPartyInspectionImage.name}}</span>
                            <span data-ng-show="thirdPartyInspectionImage.dateAdded" style="font-size:.8em"> {{thirdPartyInspectionImage.dateAdded}}</span>
                        </button>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
                        <button data-ng-click="openModalTakePicture(thirdPartyInspectionAcknowledgement)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!thirdPartyInspectionAcknowledgement.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="thirdPartyInspectionAcknowledgement.picTaken"></i>
                            <span style="font-weight:bold" data-ng-show="thirdPartyInspectionAcknowledgement.picTaken">{{thirdPartyInspectionAcknowledgement.name}}</span>
                            <span data-ng-show="!thirdPartyInspectionAcknowledgement.picTaken">{{thirdPartyInspectionAcknowledgement.name}}</span>
                            <span data-ng-show="thirdPartyInspectionAcknowledgement.dateAdded" style="font-size:.8em"> {{thirdPartyInspectionAcknowledgement.dateAdded}}</span>
                        </button>
                    </div> -->
				</div>
			</div>
			<div class="modal-footer">
                <button data-ng-show="thirdPartyInspectionImage.picTaken && thirdPartyInspectionFormModal.$valid" type="button" class="btn btn-primary" data-ng-click="saveThirdPartyInspectionAndMoveToNextFlow(false)">Save changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->

<!-- !!!!!!!!!!!!BEGINNING OF MODAL!!!!!!!!!! -->
<!-- <div class="modal fade" id="bolImage">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="font-size: 33px">Bill Of Lading</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom:-31px; position: absolute; left: 95%; top:4%">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0]">
						<button data-ng-click="openModalTakePicture(billOfLadingImage)" class="btn btn-lg btn-warning btn-block">
							<i data-ng-show="!billOfLadingImage.picTaken" class="fa fa-camera goleft"></i>
							<i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="billOfLadingImage.picTaken"></i>
							<span style="font-weight:bold" data-ng-show="billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
							<span data-ng-show="!billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
							<span data-ng-show="billOfLadingImage.dateAdded" style="font-size:.8em">
								{{billOfLadingImage.dateAdded}}</span>
						</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button data-ng-show="billOfLadingImage.picTaken" type="button" class="btn btn-primary"
				 data-ng-click="finishedTakingBOLImage()">Finished</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div> -->
<!-- !!!!!!!!!!!!ENDING OF MODAL!!!!!!!!!! -->

<header id="header" class="text-center separator">
    <h1 class="title">DS1 Inspection</h1>
    <!-- Chosen Tool -->
	<h1 data-ng-show="selectedTools[0] && finishedAddingTools" class="tool-serial-title">{{selectedTools[0].toolString}}</h1>
    <button data-ng-show="selectedTools[0] && thirdPartyInspectionImage.picTaken && thirdPartyInspectionForm.$valid && thirdPartyInspectorsName && thirdPartyInspectorsAcceptance" class="btn btn-lg btn-success pull-right" data-ng-click="saveThirdPartyInspectionAndMoveToNextFlow(true)"><i class="fa fa-save"></i> CONTINUE</button>
	<button data-ng-show="selectedTools[0] && finishedAddingTools" class="btn btn-minimal btn-lg btn-default pull-right" data-ng-click="init()"><i class="fa fa-chevron-left" style="padding-right:15px"></i> BACK</button>
</header>
<div class="bglight">
    <div class="row">
        <div class="col-xs-12">
            <!-- Choose Tool -->
            <div class="col-xs-12" data-ng-show="!finishedAddingTools">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div data-ng-show="selectedTools && selectedTools.length > 0 && !finishedAddingTools" class="col-xs-12 text-right">
                            <button data-ng-show="selectedTools.length > 1" class="btn btn-lg btn-success mb-sm" data-toggle="modal" data-target="#thirdPartyInspectionImage">DS1 Inpsection Image</button>
                            <!-- <button data-ng-show="selectedTools.length > 1" class="btn btn-lg btn-success mb-sm" data-toggle="modal" data-target="#bolImage">Bill of Lading Image</button> -->
                            <button data-ng-show="selectedTools.length === 1" class="btn btn-lg btn-success mb-sm" data-ng-click="finishedAddingTools = true; getFlowRecords()">Continue</button>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-md-6 mb-xs" data-ng-repeat="tool in stationRecords track by $index">
                                <a data-ng-if="!tool.checked" data-ng-click="addToolToSelectedToolsFromList(tool, stationRecords)" class="btn btn-default btn-lg btn-block btn-text-left noEase">
                                    <div class="row">
                                        {{tool.toolString}}
                                    </div>
                                    <div class="row">
                                        <span data-ng-if="tool.thirdPartyInspectionImageHasBeenTaken">
                                        <i class="fa fa-camera pull-right" style="color:green"> TPI</i>
                                        </span>
                                        <span data-ng-if="tool.thirdPartyInspectionAcknowledgementHasBeenTaken">
                                            <i class="fa fa-camera pull-right" style="color:green"> TPA</i>
                                        </span>
                                        <!-- <span data-ng-if="tool.billOfLadingImageHasBeenTaken">
                                            <i class="fa fa-camera pull-right" style="color:green"> BOL</i> 
                                        </span> -->
                                    </div>
                                </a>
                                <a data-ng-if="tool.checked" data-ng-click="removeToolFromSelectedTools(tool, stationRecords)" class="btn btn-primary btn-lg btn-block btn-text-left noEase">
                                    <div class="row">
                                        {{tool.toolString}}
                                    </div>
                                    <div class="row">
                                        <span data-ng-if="tool.thirdPartyInspectionImageHasBeenTaken">
                                        <i class="fa fa-camera pull-right" style="color:green"> TPI</i>
                                        </span>
                                        <span data-ng-if="tool.thirdPartyInspectionAcknowledgementHasBeenTaken">
                                            <i class="fa fa-camera pull-right" style="color:green"> TPA</i>
                                        </span>
                                        <!-- <span data-ng-if="tool.billOfLadingImageHasBeenTaken">
                                            <i class="fa fa-camera pull-right" style="color:green"> BOL</i>
                                        </span> -->
                                        <i class="fa fa-check pull-right"></i>
                                    </div>
                                </a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in DS1 inspection</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mb-md" data-ng-show="selectedTools[0] && finishedAddingTools">
                <div class="col-xs-12 col-lg-6 panel panel-body">
                    <form name="thirdPartyInspectionForm">
                        <div class="col-xs-12 col-md-6 mb-xs">
                            <label>DS1 Inspector Company</label>
                            <input type="text" class="form-control" placeholder="DS1 Inspector Company" data-ng-model="$parent.thirdPartyInspectorCompany" required>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-xs">
                            <label>DS1 Inspection #</label>
                            <input type="text" class="form-control" placeholder="DS1 Inspection #" data-ng-model="$parent.thirdPartyInspectionNumber" required>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>Does the DNR Body have cracks?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="bodyCracks" type="radio" id="yesBodyCracks" value="Yes" data-ng-model="bodyCracks" required>
                                <label class="form-check-label" for="yesBodyCracks">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="bodyCracks" type="radio" id="noBodyCracks" value="No" data-ng-model="bodyCracks">
                                <label class="form-check-label" for="noBodyCracks">No</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>Does the DNR need the Box Connection Re-Cut?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="boxCut" type="radio" id="yesBoxCut" value="Yes" data-ng-model="boxCut" required>
                                <label class="form-check-label" for="yesBoxCut">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="boxCut" type="radio" id="noBoxCut" value="No" data-ng-model="boxCut">
                                <label class="form-check-label" for="noBoxCut">No</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>Does the Box Connection have the Bore Back Feature?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="boreBack" type="radio" id="yesBoreBack" value="Yes" data-ng-model="boreBack" required>
                                <label class="form-check-label" for="yesBoreBack">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="boreBack" type="radio" id="noBoreBack" value="No" data-ng-model="boreBack">
                                <label class="form-check-label" for="noBoreBack">No</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>Does the DNR need the Pin Connection Re-Cut?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="pinCut" type="radio" id="yesPinCut" value="Yes" data-ng-model="pinCut" required>
                                <label class="form-check-label" for="yesPinCut">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="pinCut" type="radio" id="noPinCut" value="No" data-ng-model="pinCut">
                                <label class="form-check-label" for="noPinCut">No</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-xs">
                            <label>Does the Pin Connection have a Stress Relief Groove?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="reliefGroove" type="radio" id="yesReliefGroove" value="Yes" data-ng-model="reliefGroove" required>
                                <label class="form-check-label" for="yesReliefCroove">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="reliefGroove" type="radio" id="noReliefGroove" value="No" data-ng-model="reliefGroove">
                                <label class="form-check-label" for="noReliefGroove">No</label>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-md" data-ng-show="selectedTools[0] && finishedAddingTools">
                        <button data-ng-click="openModalTakePicture(thirdPartyInspectionImage)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!thirdPartyInspectionImage.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="thirdPartyInspectionImage.picTaken"></i>
                            <span style="font-weight:bold" data-ng-show="thirdPartyInspectionImage.picTaken">{{thirdPartyInspectionImage.name}}</span>
                            <span data-ng-show="!thirdPartyInspectionImage.picTaken">{{thirdPartyInspectionImage.name}}</span>
                            <span data-ng-show="thirdPartyInspectionImage.dateAdded" style="font-size:.8em"> {{thirdPartyInspectionImage.dateAdded}}</span>
                        </button>
                    </div>
                    <div>
                        <p>By typing my name and selecting acceptance button below. I acknowledge that I am required to perform a DS1 Inspection
                        per DNR-SOP-030M on each Drill-N-Ream tool and that I am qualified to perform the inspection per DS1 CAT 3-5 BHA Standards.</p>
                        <div class="col-xs-12 col-md-6 mb-xs">
                            <label>DS1 Inspectors Name</label>
                            <input type="text" class="form-control" placeholder="DS1 Inspectors Name" data-ng-model="$parent.thirdPartyInspectorsName"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-xs">
                            <input class="form-check-input col-xs-1" name="accept" type="checkbox" id="accept" value="accepted" data-ng-model="thirdPartyInspectorsAcceptance" >
                            <label class="form-check-label col-xs-11" for="accept">I have read the above paragraph and confirm that I am qualified.</label>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-md" data-ng-show="selectedTools[0] && finishedAddingTools">
                        <button data-ng-click="openModalTakePicture(thirdPartyInspectionAcknowledgement)" class="btn btn-lg btn-warning btn-block">
                            <i data-ng-show="!thirdPartyInspectionAcknowledgement.picTaken" class="fa fa-camera goleft"></i>
                            <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="thirdPartyInspectionAcknowledgement.picTaken"></i>
                            <span style="font-weight:bold" data-ng-show="thirdPartyInspectionAcknowledgement.picTaken">{{thirdPartyInspectionAcknowledgement.name}}</span>
                            <span data-ng-show="!thirdPartyInspectionAcknowledgement.picTaken">{{thirdPartyInspectionAcknowledgement.name}}</span>
                            <span data-ng-show="thirdPartyInspectionAcknowledgement.dateAdded" style="font-size:.8em"> {{thirdPartyInspectionAcknowledgement.dateAdded}}</span>
                        </button>
                    </div> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-md" data-ng-show="selectedTools[0] && finishedAddingTools">
						<button data-ng-click="openModalTakePicture(billOfLadingImage)" class="btn btn-lg btn-warning btn-block">
							<i data-ng-show="!billOfLadingImage.picTaken" class="fa fa-camera goleft"></i>
							<i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="billOfLadingImage.picTaken"></i>
							<span style="font-weight:bold" data-ng-show="billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
							<span data-ng-show="!billOfLadingImage.picTaken">{{billOfLadingImage.name}}</span>
							<span data-ng-show="billOfLadingImage.dateAdded" style="font-size:.8em">
								{{billOfLadingImage.dateAdded}}</span>
						</button>
					</div> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0] && finishedAddingTools">
                        <div class="col-xs-12 col-md-3 mb-xs">
                            <label>Box End Length 1</label>
                            <input type="text" class="form-control" placeholder="Box End Length 1" data-ng-model="measurements.length1"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-2 mb-xs">
                            <label>Length 2</label>
                            <input type="text" class="form-control" placeholder="Length 2" data-ng-model="measurements.length2"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-2 mb-xs" data-ng-show="selectedTools[0].toolFamilyId === 1">
                            <label>Length 3</label>
                            <input type="text" class="form-control" placeholder="Length 3" data-ng-model="measurements.length3"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-3 mb-xs" data-ng-show="selectedTools[0].toolFamilyId === 2">
                            <label>Pin End Length 3</label>
                            <input type="text" class="form-control" placeholder="Length 3" data-ng-model="measurements.length3" required>
                        </div>
                        <div class="col-xs-12 col-md-2 mb-xs" data-ng-show="selectedTools[0].toolFamilyId === 1">
                            <label>Length 4</label>
                            <input type="text" class="form-control" placeholder="Length 4" data-ng-model="measurements.length4">
                        </div>
                        <div class="col-xs-12 col-md-3 mb-xs" data-ng-show="selectedTools[0].toolFamilyId === 1">
                            <label>Pin End Length 5</label>
                            <input type="text" class="form-control" placeholder="Pin End Length 5" data-ng-model="measurements.length5">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-xs" data-ng-show="selectedTools[0] && finishedAddingTools">
                        <div class="col-xs-12 col-md-4 mb-xs">
                            <label>Box End OD</label>
                            <input type="text" class="form-control" placeholder="Box End OD" data-ng-model="measurements.boxOD"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-xs">
                            <label>Middle OD</label>
                            <input type="text" class="form-control" placeholder="Middle OD" data-ng-model="measurements.midOD"
                                required>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-xs">
                            <label>Pin End OD</label>
                            <input type="text" class="form-control" placeholder="Pin End OD" data-ng-model="measurements.pinOD"
                                required>
                        </div>
                    </div> -->
                </div>
                <!-- Picture Taking
                <div class="panel panel-default col-xs-12 col-lg-6" data-ng-show="selectedTools[0] && finishedAddingTools">
                    <div class="panel-heading">
                        <h3>Take Pictures <i class="fa fa-check floatright" style="color:green" data-ng-show="minPicturesLeftToTake === 0"></i></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12" style="margin-bottom:30px">
                            <div class="col-xs-12">
                                <h4 data-ng-show="pics.length === 0">No pictures have been taken</h4>
                                <h4 data-ng-show="minPicturesLeftToTake > 0">Add <strong>{{minPicturesLeftToTake}}</strong> more picture<span data-ng-show="minPicturesLeftToTake !== 1">s</span>.</h4>
                                <h4 data-ng-show="minPicturesLeftToTake === 0">Great! You have taken the minimum required pictures.</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 mb-xs" data-ng-repeat="picture in pictures" data-ng-show="!newTool">
                                <button data-ng-click="openModalTakePicture(picture)" class="btn btn-lg btn-warning btn-block">
                                    <i data-ng-show="!picture.picTaken" class="fa fa-camera goleft"></i>
                                    <i class="fa fa-check goleft" style="color:#4880d6" data-ng-show="picture.picTaken"></i>
                                    <span style="font-weight:bold" data-ng-show="picture.picTaken">{{picture.name}}</span>
                                    <span data-ng-show="!picture.picTaken">{{picture.name}}</span>
                                    <span data-ng-show="picture.dateAdded" style="font-size:.8em"> {{picture.dateAdded}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>