<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">View History</h1>
    </div>
</header>
<div class="bglight">
    <!-- Chosen Tool -->
    <div class="row">
        <div class="col-xs-12">
            <div class="row col-xs-12 col-sm-6">
                <div data-ng-show="selectedTools[0]" class="col-xs-12">
                    <div class="alert alert-primary alert-dismissible fade in" role="alert">
                        <h2 class="bold"> {{selectedTools[0].toolString}} <br> <span style="color:rgba(0, 0, 0, 0.38)">{{selectedTools[0].partNumber}}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-12">
        <div class="col-xs-12 col-md-2">
            <h4><strong>Date</strong></h4>
        </div>
        <div class="col-xs-12 col-md-2">
            <h4><strong>User</strong></h4>
        </div>
        <div class="col-xs-12 col-md-2">
            <h4><strong>Value Name</strong></h4>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4><strong>Previous Value</strong></h4>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4><strong>New Value</strong></h4>
        </div>
    </div>
    <div class="row col-xs-12" data-ng-repeat="h in history">
        <div class="col-xs-12 col-md-2">
            <h4>{{h.date | date: 'medium'}}</h4>
        </div>
        <div class="col-xs-12 col-md-2">
            <h4>{{h.nameFirst}} {{h.nameLast}}</h4>
        </div>
        <div class="col-xs-12 col-md-2">
            <h4>{{h.valueName}}</h4>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>{{h.actualPreviousValue && h.actualPreviousValue || h.previousValue}}</h4>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>{{h.actualUpdatedValue && h.actualUpdatedValue || h.updatedValue}}</h4>
        </div>
    </div>
</div>
