<header id="header">
    <div id="header-wrap">
        <h1 class="col-xs-12">Wash</h1>
    </div>
</header>
<div class=" bglight">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <!-- User Section (ng-partials) -->
            <ng-include src="'/angular/dullgradelevelone/ng-partials/user-section.html'"></ng-include>
            <!-- Choose Tool -->
            <div class="col-xs-12">
                <div id="choose-work-order" class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div data-ng-show="selectedTools && selectedTools.length > 0 && !finishedAddingTools" class="col-xs-12 text-right">
                            <button class="btn btn-lg btn-success mb-sm" data-ng-click="finishAddingTools()">Start Washing</button>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 mb-xs" data-ng-repeat="tool in stationRecords">
                                <a data-ng-if="!tool.checked" data-ng-click="addToolToSelectedToolsFromList(tool, stationRecords)" class="btn btn-default btn-lg btn-block btn-text-left">{{tool.toolString}}</a>
                                <a data-ng-if="tool.checked" data-ng-click="removeToolFromSelectedTools(tool, stationRecords)" class="btn btn-primary btn-lg btn-block btn-text-left"><i class="fa fa-check pull-right"></i> {{tool.toolString}}</a>
                            </div>
                            <h3 data-ng-show="stationRecords.length === 0">There are no tools in wash area</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <ng-include src="'/angular/dullgradelevelone/ng-partials/labortimestamps-timer-screen.html'"></ng-include>
</div>
